
<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>宏基因组测序</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">宏基因组(Metagenome)是指特定环境中全部微生物遗传物质的总和。宏基因组测序(Metagenomics Sequencing)是对特定环境样品中的微生物群体基因组进行高通量测序，研究微生物群体基因组成与功能，参与的代谢通路，探寻微生物之间的相互协作关系以及微生物与环境及宿主之间的关系。宏基因组测序摆脱了微生物分离纯培养的限制，实现了从单一基因研究到基因集合的转变，促进解析更为复杂的群体互作关系。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">直接对特定环境中全部微生物群体基因组进行测序。</p></li>
        <li><p class="text-muted">环境微生物通常以群落方式共存和互作，宏基因组研究比单个个体研究更能反映微生物真实的生存状态。</p></li>
        <li><p class="text-muted">除分析微生物群体多样性和丰度外，还可以解析微生物基因功能和参与的代谢通路，发掘新的具有特定功能的基因。</p></li>          
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>测序策略</strong></p>  
      <ul >
        <li><p class="text-muted">HiSeq2500, 100 Paird-End</p></li>
        <li><p class="text-muted">推荐≥5G Clean Data</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->

    
    <div class="tab-pane fade" id="技术路线">
      <center><img src="/img/technology_service/microbiomics/macro_genome_seq/image001.jpg" style="width:600px"></center>
    </div>


    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center" style="font-family:微软雅黑"><b>利用宏基因组测序技术研究饮食干预对肠道微生物基因丰度的影响<sup style="font-size:10px">1</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>

      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">复杂的基因与环境互作被认为是形成肥胖的重要因素。肠道微生物群落的组成决定着人体从食物中获取能量的效率，而饮食结构的变化会引起肠道微生物群落的改变。本研究采用宏基因组测序技术对受到饮食干预(先诱导体重下降然后维持体重稳定)的38位肥胖者和11位超重者的肠道微生物基因丰度变化进行了检测。研究发现饮食干预会提高肠道微生物基因丰度，改善一些与肥胖相关的临床症状。肠道微生物的低基因丰度可能对饮食干预的有效性具有预测能力。</p>

      <center><img src="/img/technology_service/microbiomics/macro_genome_seq/image002.jpg" style="width:500px;margin-top:10px" ></center>
      <center><img src="/img/technology_service/microbiomics/macro_genome_seq/image003.jpg" style="width:500px;margin-top:10px" ></center>
      <hr style="margin-top:10px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>参考文献</strong></p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">1. Cotillard A, et al. Dietary intervention impact on gut microbial gene richness. Nature. 2013 Aug 29;PubMed PMID: 23985875.</p>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->