<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>微生物转录组测序</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">微生物转录组测序是指利用第二代高通量测序技术对原核生物的转录本（mRNA和非编码RNA）进行测序，全面快速地获取特定微生物在特定状态下的所有转录本的信息。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">保真性好：可以更加真实的反映基因表达信息，方便进行基因差异表达、新基因发现等研究。</p></li>
        <li><p class="text-muted">可靠性强：高数据量保证不同丰度的转录本都能准确定量。</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>样品要求</strong></p>  
      <ul >
        <li><p class="text-muted">样品类型：细胞、新鲜组织或RNA样品。</p></li>
        <li><p class="text-muted">样品的量：细胞样品请提供至少1×107个细胞，组织样品请提供至少300mg的组织块或切片，RNA样品请提供2 μg以上的总RNA。</p></li>
        <li><p class="text-muted">样品质量：RNA无明显降解，提取的总RNA OD260/280值在1.8~2.2之间，浓度 ≥ 500 ng/μl，28S:18S ≥ 1.5，RIN ≥ 7。</p></li>
        <li><p class="text-muted">样品保存：细胞样品或新鲜组织块（切成~50mg的小块）可用TRIZOL或RNA保护剂处理或液氮冻存后，-80℃保存。RNA样品可溶于乙醇或RNA-free的超纯水中，-80℃保存。样品保存期间避免反复冻融。</p></li>
        <li><p class="text-muted">样品运输：样品置于1.5 ml管中，封口膜封好，干冰运输。</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->

    
    <div class="tab-pane fade" id="技术路线">
      <center><img src="/img/technology_service/microbiomics/microbial_tran/image001.jpg" style="width:300px"></center>
    </div>

    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center" style="font-family:微软雅黑"><b>牛呼吸系统病原体Mannheimia haemolyticaPHL213的转录组测序<sup style="font-size:10px">1</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">研究采用Illumina GAII测序平台、1×100单端测序模式，对牛呼吸系统病原体Mannheimia haemolyticaPHL213的转录组进行了测序，得到9M reads（平均长度96bp），用软件Bowtie将测得的序列Align到参考基因组，通过计算分析鉴定了14个新的蛋白编码区域以及44个新的sRNA。基本的转录组特征显示2837个注释区域中，95.25%能够在体外表达，还发现了1086共表达区域的潜在操纵子结构。</p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted"><b>结论：</b>本研究通过转录组高通量测序和结构基因注释分析，校正了以前信息注释，发现了新的蛋白编码区域和新的sRNA。还利用计算分析预测了新蛋白编码区域的增强子、终止子等调节元件，并且实验验证了Mannheimia haemolyticaPHL213已经完成的结构基因注释。</p>

      <center><img src="/img/technology_service/microbiomics/microbial_tran/image002.jpg" style="width:550px;margin-top:10px" ></center>
      <center><p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted"><b>图1 得到的新蛋白编码区域</b></p></center>

      <center><img src="/img/technology_service/microbiomics/microbial_tran/image003.jpg" style="width:550px;margin-top:10px" ></center>
      <center><p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted"><b>图2 潜在sRNA的鉴定</b></p></center>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>参考文献</strong></p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">1. Reddy JS, et al. Transcriptome profile of a bovine respiratory disease pathogen: Mannheimia haemolytica PHL213. BMC Bioinformatics. 2012;13 Suppl 15:S4. doi: 10.1186/1471-2105-13-S15-S4. Epub 2012 Sep 11. PubMed PMID: 23046475.</p>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->