<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>微生物基因组重测序</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">伴随着基因组测序技术的进步，被测序的微生物基因组越来越多。基因组重测序是指对基因组序列已知的物种个体进行基因组测序，从而获得该物种个体或群体的差异的测序方法。目前微生物基因组重测序被广泛应用于病原微生物的检测及鉴定、病原菌演变及起源、致病菌种群结构及种群的进化等众多方面。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">平台优势：拥有ABI 3730 XL、Roche 454 FLX+、Illumina Miseq和Illumina HiSeq2000高通量测序平台，多种平台联合应用，优势互补，满足客户不同需求。</p></li>
        <li><p class="text-muted">技术团队：拥有经验丰富技术人员，专业的生物信息团队和大型计算机服务系统，可提供个性化生物信息分析服务。</p></li>
        <li><p class="text-muted">项目周期：个人型测序平台，无需长时间凑样上机，极大缩短项目周期。</p></li>          
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>样品要求</strong></p>  
      <ul >
        <li><p class="text-muted">细菌：Miseq DNA PE 文库浓度≥20 ng/ μl，总量≥6 μg（荧光定量）；Miseq DNA MP 文库浓度≥40 ng/ μl，总量≥12 μg（荧光定量）；454 DNA库浓度≥20 ng/ μl，总量≥3 μg（荧光定量）。电泳检测无明显RNA条带，基因组条带清晰、完整，主带应在100 kb以上，DNA无降解，无污染。提供菌粉＞1g，菌液＞5 ml，尽量提供较多量，不同的物种DNA提取产量有差异。</p></li>
        <li><p class="text-muted">真菌：Miseq DNA PE 文库浓度≥20 ng/ μl，总量≥6 μg（荧光定量）；Miseq DNA MP 文库浓度≥40 ng/ μl，总量≥12 μg（荧光定量）；454 DNA库浓度≥20 ng/ μl，总量≥3 μg（荧光定量）。提供组织样品应＞1 g，尽量提供较多量，不同的物种DNA提取产量有差异。</p></li>
        <li><p class="text-muted">样品保存期间切忌反复冻融。</p></li>
        <li><p class="text-muted">送样管务必标清样品编号，管口使用Parafilm膜密封。</p></li>
        <li><p class="text-muted">提供DNA电泳检测照片，用自封袋密封后随样品一起送样。</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->

    
    <div class="tab-pane fade" id="技术路线">
      <center><img src="/img/technology_service/microbiomics/microbial_reseq/image001.jpg" style="width:200px"></center>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>生物信息分析</strong></p>  
      <ol >
        <li><p class="text-muted">原始数据整理、过滤及质量评估</p></li>
        <li><p class="text-muted">基因组重测序分析：</p></li>
      	<ul >
          <li style="margin-left:-25px"><p class="text-muted">与参考基因组比对（共线性）</p></li>
          <li style="margin-left:-25px"><p class="text-muted">SNPs和InDel的检测及在基因组的分布</p></li>
          <li style="margin-left:-25px"><p class="text-muted">CNV和SV的检测及在基因组的分布</p></li>
          <li style="margin-left:-25px"><p class="text-muted">包含变异基因的COG和GO分析</p></li>
        </ul>
      </ol>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div>


    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center" style="font-family:微软雅黑"><b>案例一：耐药金黄色葡萄球菌全基因组测序<sup style="font-size:10px">1</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted"><b>背景：</b>MRSA感染是一个重要的公共健康问题。例如，据估计2008年在美国有89,785例的侵袭性MRSA感染与15,249例死亡相关。甚至在疾病治疗期间，MRSA感染导致平均住院时间延长2倍，增加了医疗费用。快速准确地检测细菌传播对于更好地控制医疗保健相关的感染至关重要。</p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted"><b>目的:</b>利用Illumina MiSeq平台，对作为一次医院疫情组成部分的甲氧西林耐药金黄色葡萄球菌（MRSA）菌株样品进行全基因组测序，在基因组水平上区分相关菌株，进而指导疫情调查。</p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted"><b>结果:</b>对测序的10株样本与参考基因组比对，基于鉴定出的102个SNP进行进化分析，成功区分出疫情组成部分的菌株，并证实相比当前的临床检测他们能够更早地确定疫情，从而可能缩短疫情(图1)。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <h4 align="center" style="font-family:微软雅黑"><b>案例二：利用基因组测序评估结核杆菌突变率<sup style="font-size:10px">2</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted"><b>背景：</b>潜伏性结核感染是指宿主感染结核杆菌后，尚未发病的一种特殊状态。活动性结核一般用不同的抗生素组合来治疗。而潜伏性感染通常被认为不那么容易突变，因此常用一种称为异烟肼（INH）的抗生素来治疗。一些流行病学研究报道称，在用这种预防性单一疗法治疗的病例中，对INH的耐药性增高。</p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted"><b>目的:</b>研究人员怀疑潜伏期的突变要比预计的更为常见，利用Illumina的Genome Analyzer测序仪，对来自短尾猿的三十几个结核杆菌分离株开展全基因组测序研究。</p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted"><b>结果:</b>对33个结核分枝杆菌分离株的基因组进行了测序，SNP数据数据表明，在不同感染阶段，细菌群体以相同的速率获得突变，与已经发生的细菌复制次数无关。这表明，耐药性不仅是开放性结核感染才要对付的问题，在潜伏感染以及再激活的早期阶段，细菌同样会突变(图2)。</p>

      <center><img src="/img/technology_service/microbiomics/microbial_reseq/image002.jpg" style="width:350px;margin-top:10px" >
      <img src="/img/technology_service/microbiomics/microbial_reseq/image003.jpg" style="width:300px;margin-top:10px" ></center>
      <center><p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted"><b>图1</b></p></center>

      <center><img src="/img/technology_service/microbiomics/microbial_reseq/image004.jpg" style="width:350px;margin-top:10px" >
      <img src="/img/technology_service/microbiomics/microbial_reseq/image005.jpg" style="width:350px;margin-top:10px" ></center>
      <center><p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted"><b>图2</b></p></center>
      <hr style="margin-top:10px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>参考文献</strong></p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">1. Koser CU, et al. Rapid whole-genome sequencing for investigation of a neonatal MRSA outbreak. N Engl J Med. 2012 Jun 14;366(24):2267-75. doi: 10.1056/NEJMoa1109910. PubMed PMID: 22693998.</p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">2. Ford CB, et al. Use of whole genome sequencing to estimate the mutation rate of Mycobacterium tuberculosis during latent infection. Nat Genet. 2011 May;43(5):482-6. doi: 10.1038/ng.811. Epub 2011 Apr 24. PubMed PMID: 21516081.</p>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->