<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>16S rDNA测序</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">宏基因组研究策略的出现，使得我们无需分离培养单个微生物，利用高通量测序技术即可对来自特定环境或人体部位的微生物群落展开全局研究。16S rDNA因其序列在物种间的高度多样性，成为细菌分类学研究的“分子钟”，其序列包含可变区和保守区，可变区因细菌而异，且变异程度与细菌的系统发育密切相关。16S rDNA测序是通过提取微生物菌群的DNA，选择可变区的特定区段进行PCR扩增，再结合高通量测序分析，帮助研究人员大规模鉴定细菌群落组成，表达丰度，以及开展系统进化分析，促进对微生物群落与环境互作，以及与人类互作的研究。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">鉴定高效：无需分离培养单个细菌，16S rDNA测序可对特定环境中的全部细菌群落进行高通量鉴定。</p></li>
        <li><p class="text-muted">双区检测：全面升级至双可变区检测，测序序列更长，菌落分析更准确。</p></li>
        <li><p class="text-muted">低成本：相比于宏基因组测序，研究目标更明确，检测成本更低。</p></li>          
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>测序策略</strong></p>  
      <ul >
        <li><p class="text-muted">MiSeq, 300 Paird-End</p></li>
        <li><p class="text-muted">推荐 ≥10K Clean Reads</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->

    
    <div class="tab-pane fade" id="技术路线">
      <center><img src="/img/technology_service/microbiomics/rDNA/image001.jpg" style="width:600px"></center>
    </div>


    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center" style="font-family:微软雅黑"><b>利用16S rDNA测序技术研究肥胖小鼠肠道菌群丰度与罹癌风险的关系<sup style="font-size:10px">1</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>

      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">肥胖发病率正逐年攀升，越来越多的研究表明它是许多癌症类型的主要风险因子。本研究采用多种实验技术包括16S rDNA测序研究了肥胖可能导致癌症的机制。研究发现，肥胖可刺激肠道菌群发生改变，诱发生成损伤DNA的代谢产物。这些产物循环通过肠道和肝脏，会触发产生一些炎症和促肿瘤因子，使得小鼠更容易罹患肝癌。</p>

      <center><img src="/img/technology_service/microbiomics/rDNA/image002.jpg" style="width:500px;margin-top:10px" ></center>
      <hr style="margin-top:10px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>参考文献</strong></p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">1. Yoshimoto S, et al.Obesity-induced gut microbial metabolite promotes liver cancer through senescence secretome. Nature. 2013 Jul 4;PubMed PMID: 23803760.</p>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->