<div class="container marketing">

  <h4 align="left" class="lead text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;margin-top:0px;padding-bottom:10px"><strong>应用方案</strong></h4>
  <p style="text-indent:2em;line-height:25px" class="text-muted">思博奥科提供专业的应用解决方案，包括定制化生物信息分析方案制定、医学统计咨询分析、专业的论文校编和发表支持、专业的生物信息技能培训、定制化数据库和知识库构建等。</p>

  <div class="row" style="margin-top:20px">

    <div class="col-lg-6 pull-left">
      <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px;margin-left:5px"><strong><a href="/application_solution/bioinformatics_basic">生物信息定制分析</strong></h5>
      <div class="row" style="margin-top:10px">
        <div class="col-lg-5 pull-left">
          
          <a href="/application_solution/bioinformatics_basic"><img src="/img/application_solution/first/img01.jpg">
        </div>
        <div class="col-lg-7">
          <a href="/application_solution/bioinformatics_basic">定制化的基础生物信息分析和高级生物信息分析方案......</a>
        </div>
      </div> 
    </div>

    <div class="col-lg-6 pull-left">
      <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px;margin-left:5px"><strong><a href="/application_solution/medica_statistics">统计咨询分析</strong></h5>
      <div class="row" style="margin-top:10px">
        <div class="col-lg-5 pull-left">
          <a href="/application_solution/medica_statistics"><img src="/img/application_solution/first/img02.jpg" ></a>
        </div>
        <div class="col-lg-7">
          <a href="/application_solution/medica_statistics">基于临床数据的统计咨询分析，包括统计研究设计、总体指标估计......</a>
        </div>
      </div> 
    </div>

    <div class="col-lg-6 pull-left">
      <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px;margin-left:5px"><strong><a href="/application_solution/paper_edit">论文修订编辑</strong></h5>
      <div class="row" style="margin-top:10px">
        <div class="col-lg-5 pull-left">
          <a href="/application_solution/paper_edit"><img src="/img/application_solution/first/img03.jpg"></a>
        </div>
        <div class="col-lg-7">   
          <a href="/application_solution/paper_edit">提供专业的论文校编、论文翻译及SCI论文发表支持服务......</a>
        </div>
      </div> 
    </div>

    <div class="col-lg-6 pull-left">
      <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px;margin-left:5px"><strong><a href="/application_solution/training">生物信息培训</strong></h5>
      <div class="row" style="margin-top:10px">
        <div class="col-lg-5 pull-left">
          <a href="/application_solution/training"><img src="/img/application_solution/first/img04.jpg" ></a>
        </div>
        <div class="col-lg-7">
          <a href="/application_solution/training">由具有丰富项目经验的生物信息学工程师提供专业、系统和精致的生物信息课程培训......</a>
        </div>
      </div>     
    </div>

    <div class="col-lg-6 pull-left">
      <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px;margin-left:5px"><strong><a href="/application_solution/database">数据库构建</strong></h5>
      <div class="row" style="margin-top:10px">
        <div class="col-lg-5 pull-left">
          <a href="/application_solution/database"><img src="/img/application_solution/first/img05.jpg" ></a>
          <p></p>
        </div>
        <div class="col-lg-7">
          <a href="/application_solution/database">基于多平台的数据库构建、托管和维护，基于文本挖掘的个性化知识库构建......</a>
        </div>
      </div> 
    </div>

    <div class="col-lg-6 pull-left">
      <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px;margin-left:5px"><strong><a href="/application_solution/biomarker">BioMarker的发现和应用</strong></h5>
      <div class="row" style="margin-top:10px">
        <div class="col-lg-5 pull-left">
          <a href="/application_solution/biomarker"><img src="/img/application_solution/first/img06.jpg"></a>
        </div>
        <div class="col-lg-7">
          <a href="/application_solution/biomarker">利用生物信息学分析方法发现BioMarker，为验证试验提供科学依据......</a>
        </div>
      </div> 
    </div>
  </div>
</div>
