<!-- <style>
.footerimg
{
  background-image:url('/img/index/bottom.jpg');
  margin-top:10px;
  padding-top:20px;
  padding-bottom:50px;

}
</style>
-->
</div>
</div>
<div class="row" style="background-color:#DCDCDC;width:100%;margin-top:15px;margin-bottom:0px;margin-left:0px;padding-bottom:0px;">
  <div style="width:1070px;align:center;margin: 20px auto;margin-bottom:0px;">
    <div class="col-lg-12">
      <div class="col-lg-2">
        <p><a href="/technology_service" ><b>技术服务</b></a></p>
        <p><a href="/technology_service/bioinformatics_integrate" >多维组学整合分析</a></p>
        <p><a href="/technology_service/genomics" >基因组</a></p>
        <p><a href="/technology_service/transcriptomics" >转录组</a></p>
        <p><a href="/technology_service/proteomics" >蛋白质组</a></p>       
      </div>
      <div class="col-lg-2">
        <p></p>
        <br>
        <p><a href="/technology_service/metabonomics" >代谢组</a></p>
        <p><a href="/technology_service/epigenetics" >表观遗传组</a></p>
        <p><a href="/technology_service/microbiomics" >宏基因组</a></p>
        <p><a href="/technology_service/experimental_service" >常规实验</a></p> 
      </div>
      <div class="col-lg-3">
        <p><a href="/application_solution" ><b>应用方案</b></a></p>
        <p><a href="/technology_service/bioinformatics_basic" >生物信息定制分析</a></p>
        <p><a href="/application_solution/medica_statistics" >医学统计</a></p>
        <p><a href="/application_solution/paper_edit">论文修订编辑</a></p>
        <p><a href="/application_solution/training">生物信息学培训</a></p>
        <p><a href="/application_solution/database" >知识库构建</a></p>
        <p><a href="/application_solution/biomarker" >BioMaker的发现与验证</a></p>
      </div>
      <div class="col-lg-3">
        <p><a href="/about_us" ><b>关于我们</b></a></p>
        <p><a href="/about_us/introduction" >公司简介</a></p>
        <p><a href="/about_us/partners" >企业知识产权</a></p>
        <p><a href="/about_us/contact_us" >联系我们</a></p>
      </div >
      <div class="col-lg-2">
        <p><img src="/img/index/qq.png" style="width:25px;align:left;margin-top:0px;"><font style="font-size:0.8em;padding-left:7px;color:#A9A9A9">思博奥科QQ</font></p>
        <p><img src="/img/index/weixin.png" style="width:25px;align:left;margin-top:0px;"><font style="font-size:0.8em;padding-left:7px;color:#A9A9A9">思博奥科微信</font></p>
        <p><img src="/img/index/sina.png" style="width:25px;align:left;margin-top:0px;"><font style="font-size:0.8em;padding-left:7px;color:#A9A9A9">思博奥科微博</font></p>
        <p><img src="/img/index/dxy.png" style="width:25px;align:left;margin-top:0px;"><font style="font-size:0.8em;padding-left:7px;color:#A9A9A9">思博奥科丁香园</font></p>
      </div>

    </div>
  </div>
</div><!-- /row-fluid -->

<footer class="footer">
<hr style="margin-top:0px;margin-bottom:15px">
<div class="footerimg">
  <p class="pull-right" style="margin-right:50px"><a href="#">Back to top</a></p>
	 <p style="text-align:center;padding-top:5px;">
	   版权所有：思博奥科生物信息科技（北京）有限公司  &nbsp;&nbsp&nbsp;<a href="http://www.icp123.net/">&nbsp备案号：京ICP备10205526号</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253969378'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1253969378%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script><br>
	   地址：北京市丰台区丰台科学城航丰路8号1幢楼1808室,&nbsp;&nbsp; 邮编：100850,&nbsp;&nbsp; 电话：010-68185146 
	   Copyright © 2014 <a href="http://www.sysbiomics.com">sysbiomics.com </a> <%= @year %> All rights reserved.
	 </p>
  </div>
</footer>

