
    <!-- Bootstrap core CSS -->
    
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
<head>
  <style type="text/css">
    a { color:#5a5a5a; }
    a:hover,a:focus {color: #808080;text-decoration: none;}
    body{ background-color:#f6f5ec;}
    /** { padding:0; margin:0; }*/
    #list { position:relative; overflow:hidden; }/*margin:50px auto;margin:20px 0px 0px 20px;*/
    #list ul { position:absolute; top:0;} /*top:0; */
    /*#list li { height:42px; line-height:22px;}*/
    #list li a { text-decoration:none;  }/*color:#333;*/
    #list a:hover { color:#000; }/*text-decoration:underline; */
  </style>

</head>


<body>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

      <!-- Three columns of text below the carousel -->
      
  <div id="myCarousel" class="carousel slide" style="margin-top:-8px;width:1070px;height:340px" >
    
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarouse1" data-slide-to="1"></li>
      <li data-target="#myCarouse1" data-slide-to="2"></li>
      <li data-target="#myCarouse1" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner" style="height:340px">
      <div class="item active">
        <img src="img/index/integrate.jpg" style="height:340px">
         
      </div>

      <div class="item">
        <img src="img/index/solution.jpg" style="height:340px">

      </div>

      <div class="item">
        <img src="img/index/service.jpg" style="height:340px">

      </div>

      <div class="item">
        <img src="img/index/cloud.jpg" style="height:340px">

      </div>


      
    </div><!-- /.carousel-inner -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>


  </div> <!-- /.myCarousel -->




    <div class="row">

      <div class="col-lg-9 pull-left ">
        
        <div class="row">
          <div class="col-lg-7" style="width:440px">
            <p align="left" class="lead " style="font-family:微软雅黑;margin-left:0px;color:#9ACD32;border-bottom-style:dashed;border-width: 1px"><img src="/img/index/image009.jpg" style="width:20px;align:left;margin-bottom:5px"> <strong>整合分析</strong></p>

            <div class="panel panel-success" style="border-style: dotted; border-width: 1px;border-top-style:none;border-color:#9ACD32;background-color:#f6f5ec;">
              <div class="row" style="margin-top:5px;">
                <div class="col-lg-4">
                  <a href="/technology_service/bioinformatics_integrate/microRNA_mRNA"><img src="/img/index/image003.jpg" style="width:90px;align:left;margin-top:5px"></a>
                </div>
                <div class="col-lg-8" style="margin-left:-20px;margin-top:5px">
                  <a href="/technology_service/bioinformatics_integrate/microRNA_mRNA">
                  <p style="margin-left:-5px"><b>【microRNA】相关整合分析</b></p>
                  <p style="font-size:0.8em">整合转录组、蛋白质组、代谢组等数据高可信度地研究microRNA调控机制......</p>
                  </a>
                </div>
              </div>
              <div class="row" style="margin-top:5px;">
                <div class="col-lg-4">
                  <a href="/technology_service/bioinformatics_integrate/lncRNA_mRNA"><img src="/img/index/image004.jpg" style="width:90px;align:left"></a>
                </div>
                <div class="col-lg-8" style="margin-left:-20px;">
                  <a href="/technology_service/bioinformatics_integrate/lncRNA_mRNA">
                  <p style="margin-left:-5px"><b>【LncRNA】相关整合分析</b></p>
                  <p style="font-size:0.8em">从lncRNA测序或芯片中鉴定得到的lncRNA转录本出发，整合基因表达深入研究lncRNA的分子功能.....</p>
                  </a>
                </div>
              </div>
              <div class="row" style="margin-top:5px;">
                <div class="col-lg-4">
                  <a href="/technology_service/bioinformatics_integrate/meth_mRNA"><img src="/img/index/image005.jpg" style="width:90px;align:left"></a>
                </div>
                <div class="col-lg-8" style="margin-left:-20px;">
                  <a href="/technology_service/bioinformatics_integrate/meth_mRNA">
                  <p style="margin-left:-5px"><b>【DNA甲基化】相关整合分析</b></p>
                  <p style="font-size:0.8em">整合表观遗传学和转录组学、蛋白质组学信息，提高DNA甲基化修饰机制研究的深度和广度.....</p>
                  </a>
                </div>
              </div>

              <div class="row" style="margin-top:5px;">
                <div class="col-lg-4">  
                  <a href="/technology_service/bioinformatics_integrate/prot_metab"><img src="/img/index/image006.jpg" style="width:90px;align:left"></a>
                </div>
                <div class="col-lg-8" style="margin-left:-20px;">
                  <a href="/technology_service/bioinformatics_integrate/prot_metab">
                  <p style="margin-left:-5px"><b>【蛋白质组】相关整合分析</b></p>
                  <p style="font-size:0.8em">整合蛋白质组、转录组和代谢组数据，从系统生物学角度构建蛋白-基因-代谢物分子调控网络.....</p>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-5" style="magin-left:0px;width:380px">
            <p align="left" class="lead " style="font-family:微软雅黑;margin-left:0px;color:#9ACD32;border-bottom-style:dashed;border-width: 1px"><img src="/img/index/image009.jpg" style="width:20px;align:left;margin-bottom:10px"> <strong>解决方案</strong></p>
            <div class="row" style="margin-top:0px">
              <div class="col-lg-6">
                <img src="/img/index/image001.jpg" style="width:150px;align:left">
              </div>
              <div class="col-lg-6">
                <li style="line-height:30px;margin-left:-15px;margin-top:15px"><a href="/application_solution/medica_statistics">医学数据统计分析</a></li>
                <li style="line-height:30px;margin-left:-15px"><a href="/application_solution/paper_edit">CSI论文发表支持</a></li>
                <li style="line-height:30px;margin-left:-15px"><a href="/application_solution/database">数据库构建与维护</a></li>
                <li style="line-height:30px;margin-left:-15px"><a href="/application_solution/biomarker">BioMaker的发现与验证</a></li>
              </div>
            </div>
            <p align="left" class="lead " style="font-family:微软雅黑;margin-left:0px;color:#9ACD32;border-bottom-style:dashed;border-width: 1px;margin-top:20px">
            <p align="left" class="lead " style="font-family:微软雅黑;margin-left:0px;color:#9ACD32;border-bottom-style:dashed;border-width: 1px;margin-top:25px"><img src="/img/index/image009.jpg" style="width:20px;align:left;margin-bottom:10px"> <strong>技术服务</strong></p>
            <div class="row">
              <div class="col-lg-6">
                <img src="/img/index/image002.jpg" style="width:150px;align:left">
              </div>
              <div class="col-lg-6">
                <li style="line-height:30px;margin-left:-15px;margin-top:15px"><a href="/technology_service/transcriptomics/lncRNA_seq">LncRNA测序服务</a></li>
                <li style="line-height:30px;margin-left:-15px"><a href="/technology_service/transcriptomics">转录组测序服务</a></li>
                <li style="line-height:30px;margin-left:-15px"><a href="/technology_service/genomics/exome_seq">人类外显子组测序服务</a></li>
                <li style="line-height:30px;margin-left:-15px"><a href="/technology_service/microbiomics">宏基因组测序服务</a></li>
              </div>
              
            </div>
            <p align="left" class="lead " style="font-family:微软雅黑;margin-left:0px;color:#9ACD32;border-bottom-style:dashed;border-width: 1px;margin-top:20px">
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <p align="left" class="lead " style="font-family:微软雅黑;margin-left:0px;color:#9ACD32;border-bottom-style:dashed;border-width: 1px"><img src="/img/index/image009.jpg" style="width:20px;align:left;margin-bottom:15px"> <strong>新闻动态</strong></p>

        <div id="list" class="panel panel-success" style="border-style: dotted; border-width: 1px;border-top-style:none;border-color:#9ACD32;height:162px;background:#f6f5ec">
          <ul >
            <li style="font-size:0.8em;font-family:微软雅黑;line-height:22px;text-align:left;margin-left:-15px"><a href="#">抗晚期肿瘤药物阿帕替尼上市</a></li>
            <li style="font-size:0.8em;font-family:微软雅黑;line-height:22px;text-align:left;margin-left:-15px"><a href="#">肿瘤体细胞免疫治疗的现状和未来</a></li>
            <li style="font-size:0.8em;font-family:微软雅黑;line-height:22px;text-align:left;margin-left:-15px"><a href="#">Science：科学家提出肿瘤异质性新概念</a></li>
            <li style="font-size:0.8em;font-family:微软雅黑;line-height:22px;text-align:left;margin-left:-15px"><a href="#">2014最热的生物科学研究方向</a></li>
            <li style="font-size:0.8em;font-family:微软雅黑;line-height:22px;text-align:left;margin-left:-15px;"><a href="#">年轻乳腺癌高危易患人群的处理策略</a></li>
          </ul>
        </div>
        <a href="#"><img src="/img/index/image007.jpg" style="width:100%;align:left;margin-top:30px;"></a>
        <a href="#"><img src="/img/index/image008.jpg" style="width:100%;align:left;margin-top:30px;"></a>
        <!-- <h5 align="left" class="lead text-info" style="font-family:微软雅黑"><strong>常见问题</strong></h5>
        <hr style="margin-top:-20px;margin-bottom:-15px">
        <div class="bs-callout bs-callout-success" >
          <ul>
            <li style="font-size:60%;font-family:微软雅黑;line-height:18px;text-align:left;margin-left:-30px;">各组学数据整合分析的目的是什么？</li>
            <li style="font-size:60%;font-family:微软雅黑;line-height:18px;text-align:left;margin-left:-30px">整合分析对实验设计和实验数据有哪些要求？</li>
          </ul>
        </div> -->
        <!-- <h5 align="left" class="lead text-info" style="font-family:微软雅黑"><strong>资料下载</strong></h5>
        <hr style="margin-top:-20px;margin-bottom:-15px"> -->
      </div>


    </div><!-- /row-fluid -->
  
    


  

</div><!-- /container marketing -->


<script type="text/javascript">
  window.onload = function()
  {
      var list = document.getElementById("list").getElementsByTagName("ul")[0];
      var timer = null;
      
      list.innerHTML += list.innerHTML;
      function marquee()
      {
          list.style.top = list.offsetTop - 1 + "px";
          if(list.offsetTop < -list.offsetHeight/2)
          {
              list.style.top = "0px";
          }
      }
      timer = setInterval(marquee,50);
      list.onmouseover = function() { clearInterval(timer); }
      list.onmouseout = function() { timer = setInterval(marquee,50); }
  }
</script>



</body>