<head>

  <style>

    a.list-group-item.active > .badge,
    .nav-pills > .active > a > .badge {
      color: #7CCD7C;
      background-color: #ffffff;
    }

    .nav-pills > li > a > .badge {
      margin-left: 3px;
    }


    .nav-pills > li {
      float: left;
    }

    .nav-pills > li > a {
      border-radius: 5px;
    }

    .nav-pills > li + li {
      margin-left: 2px;
    }

    .nav-pills > li.active > a,
    .nav-pills > li.active > a:hover,
    .nav-pills > li.active > a:focus {
      color: #ffffff;
      background-color: #7CCD7C;
    }

    .nav-stacked > li {
      float: none;
    }

    .nav-stacked > li + li {
      margin-top: 2px;
      margin-left: 0;
    }

    a,
    a:hover,
    a:focus {
      color: #808080;
      text-decoration: none;
    }

    
    #m1f{
      font-size: 14px;
    }
  </style>
</head>

<body>

  <div class="container marketing">

    <h4 align="left" class="lead text-info" style="font-family:微软雅黑;margin-top:-20px;margin-left:-15px"  ><strong>招纳贤士</strong></h4>

    <div class="row" style="margin-top:20px;background:#dff0d8">
			<p style="line-height:30px;margin-left:15px"><font style="font-family:微软雅黑;font-size:14px">
				有意者请发送简历至hr@sysbiomics.com，请注明应聘职位。</br>
				本团队和知名医院及学术单位有紧密合作，可以为员工提供学术和产业化双重的锻炼机会及培训平台，可依托国家单位进行人才培养，忠诚优异者可以提供在职深造机会。</br>
				工作地点北京市五棵松。
			</font></p>
		</div>


    <div class="row" style="margin-top:20px;background:#dff0d8">
      <p style="line-height:30px"><font style="font-family:微软雅黑;font-size:16px;color:#019944"><strong>> 生物信息工程师(2名)</strong></font></p>

      <p style="line-height:20px;margin-left:15px"><strong>职位描述:</strong></p>
      <p style="line-height:30px;margin-left:15px">
      	1. 负责科技服务项目的数据分析和报告撰写；</br>
				2. 根据客户需求能够制定分析方案并执行；</br>
				3. 相关分析流程的开发和维护；</br>
				4. 生物信息及文献数据的收集、整理、挖掘和利用；</br>
				5. 数据库的设计、开发以及维护；</br>
				6. 视情况可参与部分国家科研课题的研发工作。
			</p>

      <p style="line-height:20px;margin-left:15px"><strong>任职资格：</strong></p>
      <p style="line-height:30px;margin-left:15px">
				1. 生物信息学、统计学、数学或计算机相关专业硕士及以上学历；</br>
				2. 有高通量测序数据分析、组学数据整合分析经验优先；</br>
				3. 有较强的编程能力， 熟悉使用业内常用的语言；</br>
				4. 有较强的学习能力，良好的沟通与表达能力，能承受工作压力，具有团队合作精神；</br>
				5. 能够熟练阅读英文文献，语言表达和文档撰写能力较强；</br>
				6. 欢迎优秀应届毕业生申请，有工作经验者优先。
      </p>

      <p style="line-height:20px;margin-left:15px"><strong>薪酬福利：</strong></p>
      <p style="line-height:30px;margin-left:15px">
      	1.	同行业内有竞争力的薪资待遇，具体面议；</br>
      	2.	五险一金，试用期三个月（提供职前培训，考核合格后上岗）；</br>
      	3.	带薪享受国家法定假日，双休；工作满一年有五天年假；</br>
      	4.	享受公司内部其它各项福利。</br>
      </p>

		</div>

    <div class="row" style="margin-top:20px;background:#dff0d8">
      <p style="line-height:30px"><font style="font-family:微软雅黑;font-size:16px;color:#019944"><strong>> 销售代表(2名)</strong></font></p>

      <p style="line-height:20px;margin-left:15px"><strong>职位描述:</strong></p>
      <p style="line-height:30px;margin-left:15px">
      	1.	通过各种媒介寻找潜在客户，积极完成市场开拓、客户开发任务；</br>
      	2.	发掘分析客户需求，推广各项产品及服务，推动客户成交，负责项目签订；</br>
      	3.	结合公司产品和服务协助客户制定研究方案；</br>
      	4.	跟进项目进展，促进项目顺利进行；</br>
      	5.	积极了解并反馈市场需求、产品竞争等情况；</br>
      	6.	负责维护客户关系，执行公司的各项销售政策，完成销售任务；</br>
      	7.	完成销售回款任务。
			</p>

      <p style="line-height:20px;margin-left:15px"><strong>任职资格：</strong></p>
      <p style="line-height:30px;margin-left:15px">
      	1.	全日制本科及以上学历，生物学、医学、生物信息学专业；</br>
      	2.	1年及以上销售工作经验，有生物信息学、组学检测销售经验者优先考虑；</br>
      	3.	为人诚恳热情，性格开朗，较强的沟通及压力承受能力；</br>
      	4.	思维灵活，热爱销售工作，进取心/责任心强，有团队合作意识；</br>
      	5.	能够在尽快入职者优先考虑。</br>
      </p>

      <p style="line-height:20px;margin-left:15px"><strong>薪酬福利：</strong></p>
      <p style="line-height:30px;margin-left:15px">
      	1.	同行业内有竞争力的薪资待遇，转正后基本工资＋高比例的销售提成；</br>
      	2.	五险一金，试用期三个月（提供职前培训，考核合格后上岗）；</br>
      	3.	带薪享受国家法定假日，双休；工作满一年有五天年假；</br>
      	4.	享受公司内部其它各项福利。</br>
      </p>
		</div>
    
  </div>

</body>
