<style>
a,
  a:hover,
  a:focus {
    color: #808080;
    text-decoration: none;   
  }

</style>

<div >
<div class="row" style="margin-top: -50px;">

  <div class="col-lg-3 pull-left">
    <img src="/img/sysbiomics.png" style="width:240px;margin-top:15px;margin-bottom:10px;">
  </div>

  <div class="col-lg-3 pull-left">
  </br>

 
      <h4 style="font-family:微软雅黑;font-weight:900">思行创新</h4>
      <h6 style="font-family:Georgia;font-weight:900">Thinking , Action and Creation</h6>
  </div>

  <div class="col-lg-6 pull-right">

    <div style="text-align:right;margin-left:122px;margin-top:30px">
      <img id="link" src="/img/index/qq.png" style="width:15px;align:left;margin-top:-5px;"><font style="font-size:0.8em;padding-left:3px;margin-right:5px;color:#A9A9A9">思博奥科QQ</font>
      <img src="/img/index/weixin.png" style="width:15px;align:left;margin-top:-5px;"><font style="font-size:0.8em;padding-left:3px;margin-right:5px;color:#A9A9A9">思博奥科微信</font>
      <img src="/img/index/sina.png" style="width:15px;align:left;margin-top:-5px;"><font style="font-size:0.8em;padding-left:3px;margin-right:5px;color:#A9A9A9">思博奥科微博</font>
      <img src="/img/index/dxy.png" style="width:15px;align:left;margin-top:-5px;"><font style="font-size:0.8em;padding-left:3px;margin-right:5px;color:#A9A9A9">思博奥科丁香园</font>
    </div>

     <p style="color: rgb(8, 60, 97); margin-bottom: 5px; margin-top: 5px; margin-left: -5px;text-align:right;font-size:0.8em;font-family:微软雅黑,Georgia"><span style="margin-right: 5px; display: inline-block;">|<a title="English" href="http://www.sysbiomics.com"> 法律申明 |</a><span style="margin-left: 15px;" class="glyphicon glyphicon-phone-alt"></span> :&#x030;&#00049;&#00048;&#00045;&#054;&#0000056;&#x031;&#0056;&#0053;&#000049;&#000052;&#054;</span> <span class="glyphicon glyphicon-envelope"></span> :<a href="mailto:&#x6d;&#97;&#x72;&#x6b;&#x65;&#x74;&#x40;&#115;&#x79;&#115;&#x62;&#105;&#111;&#109;&#105;&#99;&#x73;&#46;&#99;&#x6f;&#109;.?subject=Hello%20Sysbiomics" target="_blank">&#x6d;&#97;&#x72;&#x6b;&#x65;&#x74;&#x40;&#115;&#x79;&#115;&#x62;&#105;&#111;&#109;&#105;&#99;&#x73;&#46;&#99;&#x6f;&#109;</a></p>
  </div>

</div>

<div class="navbar navbar" style="max-height:35px;margin-top:-2px;margin-bottom:5px">

  <div class="navbar-inner">

    <ul class="nav navbar-nav " >

      <li style="border-left:2px solid #eee;"><a href="<%= url_for '/' %>" ><b>首页</b></a></li>

      <li class="dropdown" style="border-left:2px solid #eee;">
        <a href="/technology_service/bioinformatics_integrate" class="dropdown-toggle " data-hover="dropdown"><b>多维组学整合分析</b></a>
        <ul class="dropdown-menu">
          <li><a href="/technology_service/bioinformatics_integrate/microRNA_mRNA">microRNA-mRNA</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/bioinformatics_integrate/tf_microRNA_mRNA">转录因子-microRNA-mRNA</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/bioinformatics_integrate/microRNA_degr_tran">microRNA-降解组-转录组</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/bioinformatics_integrate/microRNA_tran_prot">microRNA-转录组-蛋白质组</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/bioinformatics_integrate/lncRNA_mRNA">lncRNA-mRNA</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/bioinformatics_integrate/meth_mRNA">甲基化-基因表达</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/bioinformatics_integrate/meth_microRNA_mRNA">甲基化-microRNA-mRNA</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/bioinformatics_integrate/tran_prot">转录组-蛋白质组</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/bioinformatics_integrate/prot_metab">蛋白质组-代谢组</a></li>
          <!-- <li class="divider" style="margin-top:0px;margin-bottom:0px"></li> -->
          <!-- <li><a href="/technology_service/bioinformatics/exome_tran">外显子组-转录组整合分析</a></li>  -->
        </ul>
      </li>

      <li class="dropdown" style="border-left:2px solid #eee;">
        <a href="/technology_service/genomics" class="dropdown-toggle"  data-hover="dropdown" ><b>基因组</b></a>
        <ul class="dropdown-menu">
          <li><a href="/technology_service/genomics/genome_reseq">基因组重测序</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/genomics/novo_seq">基因组de novo测序</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/genomics/target_region_seqs">目标区域捕获测序</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/genomics/exome_seq">外显子组测序</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/genomics/aCGH">aCGH芯片</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/genomics/snp">SNP芯片</a></li>
          
        </ul>
      </li>

      <li class="dropdown" style="border-left:2px solid #eee;">
        <a href="/technology_service/transcriptomics" class="dropdown-toggle"  data-hover="dropdown"><b>转录组</b></a>
        <ul class="dropdown-menu">
          <li><a href="/technology_service/transcriptomics/rna_seq">转录组测序</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/transcriptomics/dge_seq">数字基因表达谱测序</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/transcriptomics/sRNA_seq">sRNA测序</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/transcriptomics/lncRNA_seq">lncRNA测序</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/transcriptomics/degradome_seq">降解组测序</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/transcriptomics/mRNA_chip">基因表达芯片</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/transcriptomics/microRNA_chip">microRNA芯片</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/transcriptomics/lncRNA_chip">lncRNA芯片</a></li>
        </ul>
      </li>

      <li class="dropdown" style="border-left:2px solid #eee;">
        <a href="/technology_service/proteomics" class="dropdown-toggle"  data-hover="dropdown"><b>蛋白质组</b></a>
        <ul class="dropdown-menu">
          <li><a href="/technology_service/proteomics/iTRAQ">iTRAQ蛋白质组</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/proteomics/silac">SILAC定量</a></li>
        </ul>
      </li>

      <li class="dropdown" style="border-left:2px solid #eee;">
        <a href="/technology_service/metabonomics" class="dropdown-toggle"  data-hover="dropdown"><b>代谢组</b></a>
        <ul class="dropdown-menu">
          <li><a href="/technology_service/metabonomics/nmr">NMR</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/metabonomics/lcms">LC_MS</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/metabonomics/gcms">GC_MS</a></li>
        </ul>
      </li>

      <li class="dropdown" style="border-left:2px solid #eee;">
        <a href="/technology_service/epigenetics" class="dropdown-toggle"  data-hover="dropdown"><b>表观遗传组</b></a>
        <ul class="dropdown-menu">
          <li><a href="/technology_service/epigenetics/bisulfite_seq">全基因组Bisulfite测序</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/epigenetics/rrbs">简化甲基化测序</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/epigenetics/me_dip_seq">Me_DIP测序</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/epigenetics/chip_seq">ChIP_Seq</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/epigenetics/methyl_chip">甲基化芯片</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/epigenetics/chip_chip">ChIP_chip</a></li>
        </ul>
      </li>


      <li class="dropdown" style="border-left:2px solid #eee;">
        <a href="/technology_service/microbiomics" class="dropdown-toggle"  data-hover="dropdown"><b>宏基因组</b></a>
        <ul class="dropdown-menu">
          <li><a href="/technology_service/microbiomics/macro_genome_seq">宏基因组测序</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/microbiomics/microbial_reseq">微生物基因组重测序</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/microbiomics/rDNA">16SrDNA测序</a></li>
          <li class="divider" style="margin-top:0px;margin-bottom:0px"></li>
          <li><a href="/technology_service/microbiomics/microbial_tran">微生物转录组</a></li>
        </ul>
      </li>

      <li class="dropdown" style="border-left:2px solid #eee;">
        <a href="/technology_service/experimental_service" class="dropdown-toggle"  data-hover="dropdown"><b>常规实验</b></big></a>
        
      </li>
    </ul>

    <form class="navbar-form " style="height:10px;margin-top:3px;">
       <div class="form-group input-group-sm" style="margin-left:60px">
         <input type="text" placeholder="Search" class="form-control">
       </div>
       <button type="submit" class="btn btn-success btn-xs" style="margin-right:-20px"><span class="glyphicon glyphicon-search"></span> 搜索</button>
     </form>       

  </div>
</div>