<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>aCGH芯片服务</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">微阵列比较基因组杂交(array-based Comparative Genomic Hybridization, aCGH)是后基因时代兴起的分子核型分析技术，它结合了传统的比较基因组杂交和先进的芯片技术。aCGH技术与传统的CGH原理相似，避免了传统CGH所使用的中期染色体，是用DNA克隆或cDNAs微阵列铺片作为杂交靶标，将待测样本和对照样本的少量基因组DNA用不同颜色的荧光染料分别标记，等量混合后在Cot-1DNA封闭的aCGH芯片上进行竞争性杂交，经过配套扫描仪扫描和软件分析，用微阵列每个靶点上的两种荧光信号比例反映两组基因组DNA在相应的序列或基因上的拷贝数变化，技术分辨率可达到200bp</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>Agilent芯片优势</strong></p>
      <ul >
        <li><p class="text-muted">探针同时涵盖基因组表达区与非表达区；</p></li>
        <li><p class="text-muted">对已知疾病基因相关区域实行更高密度覆盖；</p></li>
        <li><p class="text-muted">样品需求量低，仅需0.5ng基因组DNA即可进行实验；同时还可检测福尔马林固定的石蜡样品；</p></li>
        <li><p class="text-muted">可高解析度地检测DNA拷贝数变化，包括：纯合、杂合、缺失；单、多拷贝扩增；染色体不平衡易位；</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>应用领域</strong></p>
      <ul >
        <li><p class="text-muted">研究疾病发生过程中伴随的基因变化，如染色体的畸变等；</p></li>
        <li><p class="text-muted">通过研究基因拷贝数目的变化，寻找新的原癌基因或抑癌基因；</p></li>
        <li><p class="text-muted">发现新的生物标记，可用于临床诊断、疾病的分子分型等；</p></li>
        <li><p class="text-muted">揭示生物体抗药性的机制及代谢过程中可能发生的基因组变化；</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">
    </div><!--服务简介 -->

    
    <div class="tab-pane fade" id="技术路线">
      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>aCGH服务流程</strong></p>
      <center><img src="/img/technology_service/genomics/aCGH/image02.jpg" style="width:650px"></center>
      <hr style="margin-top:10px;margin-bottom:10px">
      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>Agilent实验流程</strong></p>
      <center><img src="/img/technology_service/genomics/aCGH/image01.png" style="width:650px"></center>
      
    </div><!--技术路线 -->

    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center"  style="font-family:微软雅黑"><b>利用小RNA测序鉴定JAK2V617F突变的SET2细胞中完整的miRNAome<sup style="font-size:10px">2</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">JAK2V617F突变是诱导骨髓增生性肿瘤的原因之一。本研究为探讨miRNA在骨髓增生性肿瘤中可能发挥的作用，采用小RNA测序技术对JAK2V617F突变的SET2细胞中完整miRNAome进行测定。实验鉴定出652个已知的成熟体miRNAs，78个新的miRNAs，并对高表达的miRNA进行靶基因预测与功能分析。实验还发现了若干miRNA-offset RNAs(moRNAs)<sup style="font-size:10px">3</sup>，深入分析了其可能的来源。<br><b>评论：</b>此项研究除全面分析miRNAs外，还对另一类新发现的小RNA--moRNAs进行了深入的讨论，成为了该课题的一个突出亮点(图2)。</p>
      
      <img src="/img/technology_service/transcriptomics/sRNA_seq/image002.jpg" style="width:750px;margin-top:10px;margin-left:10px" >
      <img src="/img/technology_service/transcriptomics/sRNA_seq/image003.jpg" style="width:750px;margin-top:10px;margin-left:10px" >
      <hr style="margin-top:10px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>参考文献</strong></p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">1. Tumaneng K,et al. YAP mediates crosstalk between the Hippo and PI(3)K–TOR pathways by suppressing PTEN via miR-29. Nat Cell Biol. 2012 Dec;PubMed PMID: 23143395.</p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">2. Bortoluzzi Set,et al. Characterization and discovery of novel miRNAs and moRNAs in JAK2V617F-mutated SET2 cells. Blood. 2012 Mar 29;PubMed PMID: 22223824.</p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">3. Bortoluzzi S,et al. MicroRNA-offset RNAs (moRNAs):by-product spectators or functional players? Trends Mol Med. 2011 Sep;PubMed PMID: 21700497.</p>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->