<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>基因组重测序</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">全基因组重测序(Resequencing)是对已知基因组序列的物种进行不同个体的基因组测序，通过序列比对，发现大量的单核苷酸多态性位点(SNP)、拷贝数变异(Copy Number Variation, CNV)、插入缺失(InDel , Insertion/Deletion )、结构变异(Structure Variation, SV)等变异信息，并在此基础上通过生物信息手段对个体或群体进行差异性分析。应用范围涉及临床医药研究、群体遗传学研究、关联分析、进化分析等众多领域。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">多种变异检测：单核苷酸多态性(SNP)、插入缺失(InDel)、结构变异(SV)、拷贝数变异(CNV)等。</p></li>
        <li><p class="text-muted">高通量：一次测序得到百万级别以上条数的序列信息。</p></li>
        <li><p class="text-muted">高准确性：从几个到几十万个拷贝的精确计数。</p></li>
        <li><p class="text-muted">重复性好：深度测序保证了检测的随机性，可不需技术重复。</p></li>
        <li><p class="text-muted">性价比高：与人类全基因组从头测序相比，耗时更短、成本更低、检测范围更广。</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>测序策略</strong></p>  
      <ul >
        <li><p class="text-muted">HiSeq2500, 50 Single-End</p></li>
        <li><p class="text-muted">推荐≥10M Clean Reads</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->

    
    <div class="tab-pane fade" id="技术路线">
      <center><img src="/img/technology_service/genomics/genome_reseq/image01.jpg" style="width:600px"></center>
    </div><!--技术路线 -->

    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center"  style="font-family:微软雅黑"><b>利用小RNA测序发现由YAP介导Hippo和PI(3)K-TOR通路<br>crosstalk中的关键miRNAs<sup style="font-size:10px">1</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">研究发现Hippo信号通路是参与调控器官大小发育的关键信号通路。近年来的研究表明，这条信号通路还调控干细胞自我更新及组织再生，特别是与癌症的发生密切相关。YAP是Hippo信号通路下游高度保守的效应因子，能够进入细胞核，与核内的转录因子相互结合，启动下游靶基因的转录，促进器官生长。然而，目前对该调控的分子机制还不甚了解。本研究证实YAP激活了细胞生长的重要调控因子mTOR。利用小RNA测序技术证实YAP通过诱导miR-29抑制PTEN表达，转而激活了mTOR信号通路。研究人员还证实YAP调节PI(3)K-mTOR信号通路，该通路调控细胞大小、组织生长和增生(图1)。</p>
      
<!--       <div class="bs-callout bs-callout-success" style="margin-bottom:-3px">
        <h4 class="text-info" style="font-family:微软雅黑">>&nbsp案例二：利用小RNA测序鉴定JAK2V617F突变的SET2细胞中完整的miRNAome<sup style="font-size:10px">2</sup></h4>
        <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">JAK2V617F突变是诱导骨髓增生性肿瘤的原因之一。本研究为探讨miRNA在骨髓增生性肿瘤中可能发挥的作用，采用小RNA测序技术对JAK2V617F突变的SET2细胞中完整miRNAome进行测定。实验鉴定出652个已知的成熟体miRNAs，78个新的miRNAs，并对高表达的miRNA进行靶基因预测与功能分析。实验还发现了若干miRNA-offset RNAs(moRNAs)<sup style="font-size:10px">3</sup>，深入分析了其可能的来源。<br><b>评论：</b>此项研究除全面分析miRNAs外，还对另一类新发现的小RNA--moRNAs进行了深入的讨论，成为了该课题的一个突出亮点(图2)。</p>
      </div> -->

      <!-- <img src="/img/technology_service/transcriptomics/sRNA_seq/image002.jpg" style="width:750px;margin-top:10px;margin-left:10px" > -->
      <img src="/img/technology_service/transcriptomics/sRNA_seq/image003.jpg" style="width:750px;margin-top:10px;margin-left:10px" >
      <hr style="margin-top:10px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>参考文献</strong></p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">1. Tumaneng K,et al. YAP mediates crosstalk between the Hippo and PI(3)K–TOR pathways by suppressing PTEN via miR-29. Nat Cell Biol. 2012 Dec;PubMed PMID: 23143395.</p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">2. Bortoluzzi Set,et al. Characterization and discovery of novel miRNAs and moRNAs in JAK2V617F-mutated SET2 cells. Blood. 2012 Mar 29;PubMed PMID: 22223824.</p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">3. Bortoluzzi S,et al. MicroRNA-offset RNAs (moRNAs):by-product spectators or functional players? Trends Mol Med. 2011 Sep;PubMed PMID: 21700497.</p>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->