<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>基因组de novo测序</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">全基因组从头测序(Denovo seq)指不依赖于任何已知基因组序列信息对某个物种的基因组进行测序，然后应用生物信息学手段对测序序列进行拼接和组装，最终获得该物种基因组序列图谱的测序方法。利用全基因组从头测序技术，可以获得动物、植物、细菌、真菌的全基因组序列，帮助研究者从基因组水平上对物种的起源、进化、生长、发育、等重大问题进行研究。将加深研究者对物种的认识，在新基因的发现、物种改良等方面发挥巨大作用。全基因组序列图谱完成后，可以构建该物种的基因组数据库，为该物种的后基因组学研究搭建一个高效的平台；为后续的基因挖掘、功能验证提供DNA序列信息。华大科技利用新一代高通量测序技术，可以高效、低成本地完成所有物种的基因组序列图谱。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">高通量测序：一次测序得到百万级别以上条数的序列信息。</p></li>
        <li><p class="text-muted">高深度测序：准确率高。</p></li>
        <li><p class="text-muted">高分辨率：可以精确检测至单碱基差异。</p></li>
        <li><p class="text-muted">重复性好：深度测序保证了检测的随机性，可不需技术重复。</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>测序策略</strong></p>  
      <ul >
        <li><p class="text-muted">HiSeq2500, 50 Single-End</p></li>
        <li><p class="text-muted">推荐≥10M Clean Reads</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->

    
    <div class="tab-pane fade" id="技术路线">
      <center><img src="/img/technology_service/genomics/novo_seq/image01.jpg" style="width:400px"></center>
    </div><!--技术路线 -->

    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center"  style="font-family:微软雅黑"><b>利用小RNA测序鉴定JAK2V617F突变的SET2细胞中完整的miRNAome<sup style="font-size:10px">2</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">JAK2V617F突变是诱导骨髓增生性肿瘤的原因之一。本研究为探讨miRNA在骨髓增生性肿瘤中可能发挥的作用，采用小RNA测序技术对JAK2V617F突变的SET2细胞中完整miRNAome进行测定。实验鉴定出652个已知的成熟体miRNAs，78个新的miRNAs，并对高表达的miRNA进行靶基因预测与功能分析。实验还发现了若干miRNA-offset RNAs(moRNAs)<sup style="font-size:10px">3</sup>，深入分析了其可能的来源。<br><b>评论：</b>此项研究除全面分析miRNAs外，还对另一类新发现的小RNA--moRNAs进行了深入的讨论，成为了该课题的一个突出亮点(图2)。</p>
      
      <img src="/img/technology_service/transcriptomics/sRNA_seq/image002.jpg" style="width:750px;margin-top:10px;margin-left:10px" >
      <img src="/img/technology_service/transcriptomics/sRNA_seq/image003.jpg" style="width:750px;margin-top:10px;margin-left:10px" >
      <hr style="margin-top:10px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>参考文献</strong></p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">1. Tumaneng K,et al. YAP mediates crosstalk between the Hippo and PI(3)K–TOR pathways by suppressing PTEN via miR-29. Nat Cell Biol. 2012 Dec;PubMed PMID: 23143395.</p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">2. Bortoluzzi Set,et al. Characterization and discovery of novel miRNAs and moRNAs in JAK2V617F-mutated SET2 cells. Blood. 2012 Mar 29;PubMed PMID: 22223824.</p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">3. Bortoluzzi S,et al. MicroRNA-offset RNAs (moRNAs):by-product spectators or functional players? Trends Mol Med. 2011 Sep;PubMed PMID: 21700497.</p>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->