<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>SNP芯片服务</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">单核苷酸多态性(Single Nucleotide Polymorphism, SNP)分析是目前研究基因功能，寻找与疾病相关的基因及其突变位点，进行遗传连锁分析的一种重要的研究手段。为用户提供Affmetrix SNP芯片服务和Illumina SNP芯片服务，此外还提供基于稳定的Illumina光纤微珠芯片平台的SNP基因分型服务，可对全基因组或特定SNP位点进行高质量的分析。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">  超高的芯片密度：可检查高达500万个SNP位点。</p></li>
        <li><p class="text-muted">高质量的实验数据：无需PCR技术，不以来限制性内切酶，在SNP位点的选择上可完全依据基因组情况来选择，芯片反应通过等位基因特异性延伸完成，保证了高质量的实验数据。</p></li>
        <li><p class="text-muted">完整的SNP和CNV分析方案：Illumina的GenomeStudio 分析软件包提供了完整的拷贝数工具和Genome Viewer。</p></li>
        <li><p class="text-muted">应用广泛：SNP芯片平台被广泛应用与各种复杂疾病的研究，药物遗传学延吉及禽畜的育种研究。</p></li>
        <li><p class="text-muted">定制灵活：根据用户的需求，灵活的定制部同规格的SNP芯片。</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>测序策略</strong></p>  
      <ul >
        <li><p class="text-muted">样品纯度：OD 260/280值应在1.7～2.0之间；RNA应该去除干净；不含有其它个体或其它物种的DNA污染。</p></li>
        <li><p class="text-muted">样品浓度：浓度不低于55ng/µl。</p></li>
        <li><p class="text-muted">样品总量：每个样品总量不少于1µg。</p></li>
        <li><p class="text-muted">样品溶剂：溶解在Reduced TE (10mM Tris, pH 8,0，0.1mM EDTA)中。</p></li>
        <li><p class="text-muted">样品运输：DNA低温运输（-20℃）；在运输过程中请用parafilm将管口密封好，以防出现污染。</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>芯片推荐</strong></p>  
      <ul >
        <li><p class="text-muted">Human OmniZhongHua-8：包含900,015个SNP位点，特别覆盖了中国人群中发现的常见和稀有变异。</p></li>
        <li><p class="text-muted">Human Omni5-Quad:包含430万个SNP位点，数据来源于HapMap和1000 Genomes(MAF>=1%),可自定义500K个位点。</p></li>
        <li><p class="text-muted">Affymetrix Genome-Wide Human SNP 6.0：芯片产品的涵盖超过1,800,000个遗传变异标志物：包括超过906,600个SNP和超过946,000个用于检测拷贝数变化(CNV，Copy Number Variation)的探针。</p></li>
        <li><p class="text-muted">Affymetrix DMET Plus Premier Pack：它能检测225个基因中与药物代谢和转运有关的1936个分子标记。这些分子标记已经在不同种族（Caucasian, African and Asian）、至少1200个个体中验证，被证明是确实有效的。</p></li>
        <li><p class="text-muted">Illumina Human1M-duo beadchip：芯片包含针对基因SNPs，标签SNPs，拷贝数变化(CNV),及其他高价值的基因组区域设计探针,如疾病相关SNP位点。</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->
    
    <div class="tab-pane fade" id="技术路线">
      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>实验流程</strong></p>  
      <ul >
        <li><p class="text-muted">DNA抽提。</p></li>
        <li><p class="text-muted">样品质检：用琼脂糖凝胶电泳对样品DNA进行质量检测和定量。</p></li>
        <li><p class="text-muted">实验过程：a、扩增，标记；b、杂交、洗脱。</p></li>
        <li><p class="text-muted">图像扫描：扫描仪对杂交结束后的芯片进行扫描。</p></li>
        <li><p class="text-muted">数据处理：确定检出的SNP位点相应的基因型。</p></li>      
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>数据分析流程</strong></p>  
      <center><img src="/img/technology_service/genomics/snp_pipeline.jpg" style="width:700px;margin-top:5px"></center>
      <hr style="margin-top:0px;margin-bottom:8px">
      
    </div><!--技术路线 -->


    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center"  style="font-family:微软雅黑"><b>利用SNP芯片发现东亚人群高血压易感基因<sup style="font-size:10px">1</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">高血压是世界最常见的心血管疾病，也是最主要的流行病之一，常引起心、脑、肾等脏器的并发症，严重危害人类的健康。本研究采用GWAS研究方法对多达50,373名具有东南亚血统的受试者进行筛查和确认，筛选出5个新的高血压相关位点，同时也确认了7个先前在欧洲人群中发现的高血压位点。此研究的成果为高血压调节和寻找干预的潜在靶标提供了新的认识。</p>

      <img src="/img/technology_service/genomics/nihms315394f1.jpg" style="width:350px;margin-top:10px;margin-left:10px" >
      <img src="/img/technology_service/genomics/nihms315394f3.jpg" style="width:350px;margin-top:10px;margin-left:10px" >
      <hr style="margin-top:10px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>参考文献</strong></p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">1. Kato N, Takeuchi F,et al. YAP Meta-analysis of genome-wide association studies identifies common variants associated with blood pressure variation in east Asians. Nat Genet. 2011 Jun;43(6):531-8.</p>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->