<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <link rel="stylesheet" href="/lib/assets/css/screen.css" type="text/css" media="screen" /> -->
  <link rel="stylesheet" href="/lib/assets/css/lightbox.css" type="text/css" media="screen" />

  <script src="/lib/assets/js/prototype.js" ></script>
  <script src="/lib/assets/js/scriptaculous.js?load=effects" ></script>
  <script src="/lib/assets/js/lightbox.js" ></script>
  <style>

    p { line-height: 1.5em; margin-bottom: 1.0em; font-size: 0.9em;}

    /* misc
    ----------------------------------------------- */

    .section{ padding: 1.5em 0; } /*border-top: 1px solid #3d3d33;*/
    .first{ border-top: none; }

    .thumbnail{
      padding: 3px 3px 8px 3px;
      /*background-color: #222;*/
      border: 1px solid #e8e8e8;
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
      width:180px;
      /*height:250px;*/
      } 

    .caption{ font-size: 0.9em; padding-top: 0.2em ;  }

  </style>

</head>

<body>
<div class="container marketing">
     
      <h4 align="left" class="lead text-info" style="font-family:微软雅黑;margin-top:-20px"  ><strong>企业知识产权</strong></h4>
<!--       <p style="text-indent:2em;line-height:25px" class="text-muted">各组学数据纵向整合分析，从系统生物学和生物分子网络角度研究人类生命过程，提高组学研究深度和可信度，为功能实验
 -->    
      <div class="section clearfix" style="margin-top:-10px"> 

        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>AffyDP:流程化Affymetrix基因芯片数据预处理</br>软件</strong></p></center>
          <center><a href="/img/about_us/intellectual_property/AffyDP.jpg" rel="lightbox[plants]" title="流程化Affymetrix基因芯片数据预处理软件"><img src="/img/about_us/intellectual_property/AffyDP.jpg" style="width:130px;height:180px"></a></center>  
        </div>

        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>Aoadp:流程化Agilent</br>单通道芯片数据预处理</br>软件</strong></p></center>
          <center><a href="/img/about_us/intellectual_property/Aoadp.jpg" rel="lightbox[plants]" title="流程化Agilent单通道芯片数据预处理软件"><img src="/img/about_us/intellectual_property/Aoadp.jpg" style="width:130px;height:180px"></a></center>  
        </div>

        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>Aacdi:Affymetrix和Agilent基因芯片数据整合</br>分析软件</strong></p></center>
          <center><a href="/img/about_us/intellectual_property/Aacdi.jpg" rel="lightbox[plants]" title="Affymetrix和Agilent基因芯片数据整合分析软件"><img src="/img/about_us/intellectual_property/Aacdi.jpg" style="width:130px;height:180px"   ></a>
        </div>

        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>dcSVM:基于基因表达的</br>支持向量机疾病分类</br>预测软件</br></strong></p></center>
          <center><a href="/img/about_us/intellectual_property/dcSVM.jpg" rel="lightbox[plants]" title="基于基因表达的支持向量机疾病分类预测软件"><img src="/img/about_us/intellectual_property/dcSVM.jpg" style="width:130px;height:180px"></a>
        </div>

        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>DEGF:差异表达基因</br>筛选软件</br></strong></p></center>
          <center><a href="/img/about_us/intellectual_property/DEGF.jpg" rel="lightbox[plants]" title="差异表达基因筛选软件"><img src="/img/about_us/intellectual_property/DEGF.jpg" style="width:130px;height:180px"></a></center>  
        </div>

        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>MiTP:microRNA靶基因</br>预测软件</strong></p></center>
          <center><a href="/img/about_us/intellectual_property/MiTP.jpg" rel="lightbox[plants]" title="microRNA靶基因预测软件"><img src="/img/about_us/intellectual_property/MiTP.jpg" style="width:130px;height:180px"   ></a>
        </div>
       
        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>GeFE:基因功能富集</br>分析软件</br></strong></p></center>
          <center><a href="/img/about_us/intellectual_property/GeFE.jpg" rel="lightbox[plants]" title="基因功能富集分析软件"><img src="/img/about_us/intellectual_property/GeFE.jpg" style="width:130px;height:180px"></a></center>  
        </div>

        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>NAMi:microRNA调控</br>网络分析软件</br></strong></p></center>
          <center><a href="/img/about_us/intellectual_property/NAMi.jpg" rel="lightbox[plants]" title="microRNA调控网络分析软件"><img src="/img/about_us/intellectual_property/NAMi.jpg" style="width:130px;height:180px"></a></center>  
        </div>

        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>CNIS:蛋白编码及非编码转录本分类鉴定软件</strong></p></center>
          <center><a href="/img/about_us/intellectual_property/CNIS.jpg" rel="lightbox[plants]" title="蛋白编码及非编码转录本分类鉴定软件"><img src="/img/about_us/intellectual_property/CNIS.jpg" style="width:130px;height:180px"></a></center>  
        </div>
       
        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>ceRNAFun:竞争性内源LncRNA功能预测软件</strong></p></center>
          <center><a href="/img/about_us/intellectual_property/ceRNAFun.jpg" rel="lightbox[plants]" title="竞争性内源LncRNA功能预测软件"><img src="/img/about_us/intellectual_property/ceRNAFun.jpg" style="width:130px;height:180px"></a></center>  
        </div>

        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>LncCoFunction:基于共表达的LncRNA功能预测软件</strong></p></center>
          <center><a href="/img/about_us/intellectual_property/LncCoFunction.jpg" rel="lightbox[plants]" title="基于共表达的LncRNA功能预测软件"><img src="/img/about_us/intellectual_property/LncCoFunction.jpg" style="width:130px;height:180px"></a></center>  
        </div>

        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>LncNEI:基于网络迭代的LncRNA功能预测软件</strong></p></center>
          <center><a href="/img/about_us/intellectual_property/LncNEI.jpg" rel="lightbox[plants]" title="基于网络迭代的LncRNA功能预测软件"><img src="/img/about_us/intellectual_property/LncNEI.jpg" style="width:130px;height:180px"   ></a>
        </div>
       
        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>DMLF:差异甲基化位点</br>筛选软件</strong></p></center>
          <center><a href="/img/about_us/intellectual_property/DMLF.jpg" rel="lightbox[plants]" title="差异甲基化位点筛选软件"><img src="/img/about_us/intellectual_property/DMLF.jpg" style="width:130px;height:180px"></a></center>  
        </div>

        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>MECA:DNA甲基化和基因表达相关性分析软件</strong></p></center>
          <center><a href="/img/about_us/intellectual_property/MECA.jpg" rel="lightbox[plants]" title="DNA甲基化和基因表达相关性分析软件"><img src="/img/about_us/intellectual_property/MECA.jpg" style="width:130px;height:180px"></a></center>  
        </div>

        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>TFPTN:转录因子预测及功能网络分析软件</strong></p></center>
          <center><a href="/img/about_us/intellectual_property/TFPTN.jpg" rel="lightbox[plants]" title="转录因子预测及功能网络分析软件"><img src="/img/about_us/intellectual_property/TFPTN.jpg" style="width:130px;height:180px"></a></center>  
        </div>

        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>TPOmicsI:转录组-蛋白质组数据整合分析软件</strong></p></center>
          <center><a href="/img/about_us/intellectual_property/TPOmicsI.jpg" rel="lightbox[plants]" title="转录因子预测及功能网络分析软件"><img src="/img/about_us/intellectual_property/TPOmicsI.jpg" style="width:130px;height:180px"></a></center>  
        </div>

        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>miGPEI:microRNA-基因-</br>蛋白表达数据整合分析</br>软件</strong></p></center>
          <center><a href="/img/about_us/intellectual_property/miGPEI.jpg" rel="lightbox[plants]" title="转录因子预测及功能网络分析软件"><img src="/img/about_us/intellectual_property/miGPEI.jpg" style="width:130px;height:180px"></a></center>  
        </div>

        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>CmiTFGR:microRNA和转录因子联合调控基因表达</br>分析软件</strong></p></center>
          <center><a href="/img/about_us/intellectual_property/CmiTFGR.jpg" rel="lightbox[plants]" title="转录因子预测及功能网络分析软件"><img src="/img/about_us/intellectual_property/CmiTFGR.jpg" style="width:130px;height:180px"></a></center>  
        </div>

        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>cMeMi:DNA甲基化和microRNA联合调控基因</br>表达分析软件</strong></p></center>
          <center><a href="/img/about_us/intellectual_property/cMeMi.jpg" rel="lightbox[plants]" title="转录因子预测及功能网络分析软件"><img src="/img/about_us/intellectual_property/cMeMi.jpg" style="width:130px;height:180px"></a></center>  
        </div>

        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>sRDGEI:sRNA-降解组-</br>基因表达数据整合分析</br>软件</strong></p></center>
          <center><a href="/img/about_us/intellectual_property/sRDGEI.jpg" rel="lightbox[plants]" title="转录因子预测及功能网络分析软件"><img src="/img/about_us/intellectual_property/sRDGEI.jpg" style="width:130px;height:180px"></a></center>  
        </div>

        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>PMOmicsI:蛋白质-代谢组数据整合分析软件</strong></p></center>
          <center><a href="/img/about_us/intellectual_property/PMOmicsI.jpg" rel="lightbox[plants]" title="转录因子预测及功能网络分析软件"><img src="/img/about_us/intellectual_property/PMOmicsI.jpg" style="width:130px;height:180px"></a></center>  
        </div>

        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>MDRS:肿瘤个体化用药突变检测在线分析报告软件</strong></p></center>
          <center><a href="/img/about_us/intellectual_property/MDRS.jpg" rel="lightbox[plants]" title="肿瘤个体化用药突变检测在线分析报告软件"><img src="/img/about_us/intellectual_property/MDRS.jpg" style="width:130px;height:180px"></a>
        </div>

        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>MutationDetector:基因</br>突变检测软件</strong></p></center>
          <center><a href="/img/about_us/intellectual_property/MutationDetector.jpg" rel="lightbox[plants]" title="基因突变检测软件"><img src="/img/about_us/intellectual_property/MutationDetector.jpg" style="width:130px;height:180px"></a></center>  
        </div>

        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>Tetra_primer-ARMS:PCR引物设计软件</strong></p></center>
          <center><a href="/img/about_us/intellectual_property/Tetra_primer.jpg" rel="lightbox[plants]" title="PCR引物设计软件"><img src="/img/about_us/intellectual_property/Tetra_primer.jpg" style="width:130px;height:180px"></a></center>  
        </div>

        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>siRNA设计软件</strong></p></center>
          <center><a href="/img/about_us/intellectual_property/siRNA.jpg" rel="lightbox[plants]" title="siRNA设计软件"><img src="/img/about_us/intellectual_property/siRNA.jpg" style="width:130px;height:180px"></a></center>  
        </div>
       
        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>svm集成计算软件</strong></p></center>
          <center><a href="/img/about_us/intellectual_property/svm.jpg" rel="lightbox[plants]" title="svm集成计算软件"><img src="/img/about_us/intellectual_property/svm.jpg" style="width:130px;height:180px"></a></center>  
        </div>

        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>Hurst指数可视化计算软件</strong></p></center>
          <center><a href="/img/about_us/intellectual_property/Hurst.jpg" rel="lightbox[plants]" title="指数可视化计算软件"><img src="/img/about_us/intellectual_property/Hurst.jpg" style="width:130px;height:180px"></a></center>  
        </div>

        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>大规模时间序列数据提取软件</strong></p></center>
          <center><a href="/img/about_us/intellectual_property/大规模时间序列数据提取软件v1.0.jpg" rel="lightbox[plants]" title="大规模时间序列数据提取软件"><img src="/img/about_us/intellectual_property/大规模时间序列数据提取软件.jpg" style="width:130px;height:180px"></a></center>  
        </div>

        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>蛋白质二级结构预测</br>数据导出软件</strong></p></center>
          <center><a href="/img/about_us/intellectual_property/蛋白质二级结构预测数据导出软件.jpg" rel="lightbox[plants]" title="蛋白质二级结构预测数据导出软件"><img src="/img/about_us/intellectual_property/蛋白质二级结构预测数据导出软件.jpg" style="width:130px;height:180px"></a></center>  
        </div>

        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>核激素受体结合位点</br>预测软件</strong></p></center>
          <center><a href="/img/about_us/intellectual_property/核激素受体结合位点预测软件.jpg" rel="lightbox[plants]" title="核激素受体结合位点预测软件"><img src="/img/about_us/intellectual_property/核激素受体结合位点预测软件.jpg" style="width:130px;height:180px"></a></center>  
        </div>

        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>一种基于功能模块的生物分子网络分析的方法</strong></p></center>
          <center><a href="/img/about_us/intellectual_property/一种基于功能模块的生物分子网络分析的方法.jpg" rel="lightbox[plants]" title="一种基于功能模块的生物分子网络分析的方法"><img src="/img/about_us/intellectual_property/一种基于功能模块的生物分子网络分析的方法.jpg" style="width:130px;height:180px"></a></center>  
        </div>

        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>一种基于人工修饰引物的</br>定量突变检测系统</strong></p></center>
          <center><a href="/img/about_us/intellectual_property/一种基于人工修饰引物的定量突变检测系统.jpg" rel="lightbox[plants]" title="一种基于人工修饰引物的定量突变检测系统"><img src="/img/about_us/intellectual_property/一种基于人工修饰引物的定量突变检测系统.jpg" style="width:130px;height:180px"></a></center>  
        </div>

        <div class="thumbnail">
          <center><p class="text-info" style="font-family:微软雅黑"><strong>一种跨芯片平台的基因表达</br>数据整合方法</strong></p></center>
          <center><a href="/img/about_us/intellectual_property/一种跨芯片平台的基因表达数据整合方法.jpg" rel="lightbox[plants]" title="一种跨芯片平台的基因表达数据整合方法"><img src="/img/about_us/intellectual_property/一种跨芯片平台的基因表达数据整合方法.jpg" style="width:130px;height:180px"></a></center>  
        </div>

 </div>

</body>
</html>