<body>

<div class="container marketing">

  <h4 align="left" class="lead text-info" style="font-family:微软雅黑;margin-top:-20px;margin-left:-15px"  ><strong>公司简介</strong></h4>
  <div class="row" style="margin-top:20px">

      <div class="row" style="margin-top:10px">
        <div class="col-lg-6">
          <p style="line-height:30px"><font style="font-family:微软雅黑;font-size:20px;color:#019944"><strong>思</strong></font>博奥科(SysBiomics)的宗旨是“思行创新，博采众长，探索人类健康的科学奥秘！”。公司坐落于北京市中关村科技园，专注于应用先进的生物信息学及系统生物学技术挖掘生物医学大数据中的规律和线索，专长于高通量的基因组学、转录组学、蛋白质组学和代谢组学等多维组学数据整合分析。思博奥科还致力于生物医学数据库的挖掘、积累和建设，可为用户提供包括数据清洗、数据标准化、统计展示、分析挖掘到数据库建设等一条龙的大数据整体解决方案。</p>
        </div>

        <div class="col-lg-6 pull-left">
          <img src="/img/about_us/introduction/image001.jpg" style="width:340px;align:left;margin-top:10px"></a>
        </div>
      </div> 
    
    <div class="row" style="margin-top:20px">
      <div class="col-lg-11">
      <p style="line-height:30px"><font style="font-family:微软雅黑;font-size:20px;color:#019944"><strong>思</strong></font>博奥科具有专业的经验丰富的实验技术团队和生物信息分析专家团队，和华大基因、国家蛋白质组中心、国家仪器分析中心、LC Science等国内外顶尖的组学检测服务机构建立了合作与代理关系，可以为客户提供从高通量实验、数据分析、多维组学数据整合到结果咨询和论文修订的科研整体解决方案。</p>
    
      <p style="line-height:30px"><font style="font-family:微软雅黑;font-size:20px;color:#019944"><strong>多</strong></font>年来，思博奥科一直与国内外的科研团队及临床医院保持着长期紧密的合作关系，时刻倾听他们的科研及应用需求，并第一时间开展最新实验技术的应用和分析方案的研发，现已形成自有知识产权近40项。</p>
      </div>
    </div> 

  </div>

</body>

