
<head>

  <style>
    .LinkTable a,
      a:hover,
      a:focus {
        color: #333;
        text-decoration: none;
      }

  </style>
</head>

<body>

  <div class="container marketing">

      <h4 align="left" class="lead text-info" style="font-family:微软雅黑;margin-top:-20px;margin-left:-5px"  ><strong>合作伙伴</strong></h4>
      <div class="row" style="margin-top:10px">

        <table cellspacing="0" cellpadding="0" class="LinkTable">
          <tr>
            <td width="270" height="110">
              <center><a href="http://www.plagh.com.cn/"><img src="/img/about_us/partners/plagh.jpg" alt="中国人民解放军总医院" title="中国人民解放军总医院" width=237 height=70 ></a>
              </br><a href="http://www.plagh.com.cn/">中国人民解放军总医院</a> </center>
            </td>

            <td width="270" height="110">
              <center><a href="http://www.bmi.ac.cn/"><img src="/img/about_us/partners/bmi.jpg" alt="军事医学科学院" title="军事医学科学院" width=237 height=70></a>
              </br><a href="http://www.bmi.ac.cn/">军事医学科学院</a></center>  
            </td>

            <td width="270" height="110">
              <center><a href="http://www.hjzyy.com.cn/"><img src="/img/about_us/partners/hjzyy.jpg" alt="中国人民解放军海军总医院" title="中国人民解放军海军总医院" width=237 height=70></a>
              </br><a href="http://www.hjzyy.com.cn/">中国人民解放军海军总医院</a></center>  
            </td>
          </tr>

          <tr>
            <td width="270" height="110">
              <center><a href="http://www.pumch.cn/"><img src="/img/about_us/partners/pumch.jpg" alt="中国医学科学院北京协和医院" title="中国医学科学院北京协和医院" width=237 height=70></a>
              </br><a href="http://www.pumch.cn/">北京协和医院</a></center> 
            </td>

            <td width="270" height="110">
              <center><a href="http://www.catcm.ac.cn/"><img src="/img/about_us/partners/catcm.jpg" alt="中国中医科学院" title="中国中医科学院" width=150 height=70></a>
              </br><a href="http://www.catcm.ac.cn/">中国中医科学院</a></center>  
            </td>

            <td width="270" height="110">
              <center><a href="http://www.bjmu.edu.cn/"><img src="/img/about_us/partners/bjmu.jpg" alt="北京大学医学部" title="北京大学医学部" width=237 height=70></a>
              </br><a href="http://www.bjmu.edu.cn/">北京大学医学部</a></center>  
            </td>
          </tr>

          <tr>
            <td width="270" height="110">
              <center><a href="http://www.cams.ac.cn/"><img src="/img/about_us/partners/cams.jpg" alt="中国医学科学院" title="中国医学科学院" width=237 height=70></a>
              </br><a href="http://www.cams.ac.cn/">中国医学科学院</a></center>  
            </td>

            <td width="270" height="110">
              <center><a href="http://www.bprc.ac.cn/"><img src="/img/about_us/partners/bprc.jpg" alt="北京蛋白质组研究中心" title="北京蛋白质组研究中心" width=237 height=70></a>
              </br><a href="http://www.bprc.ac.cn/">北京蛋白质组研究中心</a></center>  
            </td>

            <td width="270" height="110">
              <center><a href="http://www.bac.edu.cn/"><img src="/img/about_us/partners/bac.jpg" alt="北京农学院" title="北京农学院" width=237 height=70></a>
              </br><a href="http://www.bac.edu.cn/">北京农学院</a></center>  
            </td>
          </tr>

          <tr>
            <td width="270" height="110">
              <center><a href="http://www.sgyy.com.cn/"><img src="/img/about_us/partners/sgyy.jpg" alt="北京大学首钢医院" title="北京大学首钢医院" width=237 height=70></a>
              </br><a href="http://www.sgyy.com.cn/">北京大学首钢医院</a></center>  
            </td>

            <td width="270" height="110">
              <center><a href="http://www.cqmu.edu.cn/"><img src="/img/about_us/partners/cqmu.jpg" alt="重庆医科大学" title="重庆医科大学" width=237 height=70></a>
              </br><a href="http://www.cqmu.edu.cn/">重庆医科大学</a></center>  
            </td>

            <td width="270" height="110">
              <center><a href="http://www.smmu.edu.cn/"><img src="/img/about_us/partners/smmu.jpg" alt="第二军医大学" title="第二军医大学" width=237 height=70></a>
              </br><a href="http://www.smmu.edu.cn/">第二军医大学</a></center>  
            </td>
          </tr>

          <tr>
            <td width="270" height="110">
              <center><a href="http://news13.tjutcm.edu.cn/chi.htm"><img src="/img/about_us/partners/tjutcm.jpg" alt="天津中医药大学" title="天津中医药大学" width=237 height=70></a>
              </br><a href="http://news13.tjutcm.edu.cn/chi.htm">天津中医药大学</a></center>  
            </td>

            <td width="270" height="110">
              <center><a href="http://www.xmzsh.com/Pages/Home/Index.aspx"><img src="/img/about_us/partners/xmzsh.jpg" alt="厦门大学附属中山医院" title="厦门大学附属中山医院" width=237 height=70></a>
              </br><a href="http://www.xmzsh.com/Pages/Home/Index.aspx">厦门大学附属中山医院</a></center>  
            </td>

            <td width="270" height="110">
              <center><a href="http://www.xmu.edu.cn/"><img src="/img/about_us/partners/xmu.jpg" alt="厦门大学" title="厦门大学" width=237 height=70></a>
              </br><a href="http://www.xmu.edu.cn/">厦门大学</a></center>  
            </td>
          </tr>

          <tr>
            <td width="270" height="110">
              <center><a href="http://www.qhuah.com/"><img src="/img/about_us/partners/qhuah.jpg" alt="青海大学附属医院" title="青海大学附属医院" width=237 height=70></a>
              </br><a href="http://www.qhuah.com/">青海大学附属医院</a></center>  
            </td>

            <td width="270" height="110">
              <center><a href="http://www.qhsrmyy.com/main/index.asp"><img src="/img/about_us/partners/qhsrmyy.jpg" alt="青海省人民医院" title="青海省人民医院" width=237 height=70></a>
              </br><a href="http://www.qhsrmyy.com/main/index.asp">青海省人民医院</a></center>  
            </td>

            <td width="270" height="110">
              <center><a href="http://www.qhu.edu.cn/"><img src="/img/about_us/partners/qhu.jpg" style="border:2px solid #d4d4d4" alt="青海大学" title="青海大学" width=237 height=70 ></a>
              </br><a href="http://www.qhu.edu.cn/">青海大学</a></center>  
            </td>
          </tr>

        </table>
    </div>
  </div>

</body>
