<h4 align="left" class="lead text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;margin-top:0px;padding-bottom:10px"><strong>生物信息定制分析</strong></h4>
<p style="text-indent:2em;line-height:25px" class="text-muted">包括各项生物信息基本分析和高级分析，用户可根据需求自由组合各项分析内容，或要求制定个性化分析方案。</p>

<div class="row" style="margin-top:20px">

  <div class="col-lg-6 pull-left">
    <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong>基本序列分析</strong></h5>
    <div class="row" style="margin-top:10px">
      <div class="col-lg-4 pull-left">
        <a href="/application_solution/bioinformatics_basic/sequence"><img src="/img/application_solution/bioinformatics_basic/first/img01.png" ></a>
      </div>
      <div class="col-lg-8">
        <a href="/application_solution/bioinformatics_basic/sequence">包括序列比对、ORF区域预测、序列进化树分析、PCR引物设计、RNA及蛋白质序列预测和结构分析等......</a>
      </div>
    </div> 
  </div>

  <div class="col-lg-6 pull-left">
    <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong>基本功能分析</strong></h5>
    <div class="row" style="margin-top:10px">
      <div class="col-lg-4 pull-left">
        <a href="/application_solution/bioinformatics_basic/function "><img src="/img/application_solution/bioinformatics_basic/first/img02.jpg" ></a>
      </div>
      <div class="col-lg-8">
        <a href="/application_solution/bioinformatics_basic/function ">包括限制性酶切位点预测、抗原表位预测、信号肽预测、基因功能原件预测、蛋白质结构域预测等......</a>
      </div>
    </div> 
  </div>

  <div class="col-lg-6 pull-left">
    <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong>表达数据分析</strong></h5>
    <div class="row" style="margin-top:10px">
      <div class="col-lg-4 pull-left">
        <a href="/application_solution/bioinformatics_basic/expression"><img src="/img/application_solution/bioinformatics_basic/first/img03.png" ></a>
      </div>
      <div class="col-lg-8">
        <a href="/application_solution/bioinformatics_basic/expression">表达数据标准化预处理、差异表达分析；时间序列芯片数据分析；蛋白质组、代谢组数据鉴定......</a>
      </div>
    </div>     
  </div>

  <div class="col-lg-6 pull-left">
    <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong>结构变异分析</strong></h5>
    <div class="row" style="margin-top:10px">
      <div class="col-lg-4 pull-left">
        <a href="/application_solution/bioinformatics_basic/structure"><img src="/img/application_solution/bioinformatics_basic/first/img04.png" ></a>
        <p></p>
      </div>
      <div class="col-lg-8">
        <a href="/application_solution/bioinformatics_basic/structure">包括甲基化数据分析、差异甲基化分析、基因功能原件分布统计；SNP、CNV相关数据分析等......</a>
      </div>
    </div> 
  </div>

  <div class="col-lg-6 pull-left">
    <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong>分类聚类分析</strong></h5>
    <div class="row" style="margin-top:10px">
      <div class="col-lg-4 pull-left">
        <a href="/application_solution/bioinformatics_basic/cluster"><img src="/img/application_solution/bioinformatics_basic/first/img05.png" ></a>
      </div>
      <div class="col-lg-8">
        <a href="/application_solution/bioinformatics_basic/cluster">包括样本相关性分析、主成分分析、层次聚类、SOM聚类、构建分类模型等......</a>
      </div>
    </div> 
  </div>

  <div class="col-lg-6 pull-left">
    <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong>靶标调控分析</strong></h5>
    <div class="row" style="margin-top:10px">
      <div class="col-lg-4 pull-left">
        <a href="/application_solution/bioinformatics_basic/target"><img src="/img/application_solution/bioinformatics_basic/first/img06.png" ></a>
      </div>
      <div class="col-lg-8">
        <a href="/application_solution/bioinformatics_basic/target">包括转录调控分析、micRNA靶标预测、lncRNA靶标预测等......</a>
      </div>
    </div> 
  </div>

  <div class="col-lg-6 pull-left">
    <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong>功能富集分析</strong></h5>
    <div class="row" style="margin-top:10px">
      <div class="col-lg-4 pull-left" >
        <a href="/application_solution/bioinformatics_basic/enrichment"><img src="/img/application_solution/bioinformatics_basic/first/img07.png"></a>
      </div>
      <div class="col-lg-8">
        <a href="/application_solution/bioinformatics_basic/enrichment">包括GO、Pathway功能富集分析、GO、Pathway分类、COG/KOG分类等......</a>
      </div>
    </div> 
  </div>

  <div class="col-lg-6 pull-left">
    <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong>网络分析</strong></h5>
    <div class="row" style="margin-top:10px">
      <div class="col-lg-4 pull-left" >
        <a href="/application_solution/bioinformatics_basic/network"><img src="/img/application_solution/bioinformatics_basic/first/img08.png" ></a>
      </div>
      <div class="col-lg-8">
        <a href="/application_solution/bioinformatics_basic/network">各组学数据整合后构建分子生物网络，并结合GO、PAthway构建功能网络，进行网络拓扑性质分析等......</a>
      </div>
    </div> 
  </div>

  <div class="col-lg-6 pull-left">
    <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong>集合分析</strong></h5>
    <div class="row" style="margin-top:10px">
      <div class="col-lg-4 pull-left" >
        <a href="/application_solution/bioinformatics_basic/set"><img src="/img/application_solution/bioinformatics_basic/first/img09.png" ></a>
      </div>
      <div class="col-lg-8">
        <a href="/application_solution/bioinformatics_basic/set">数据集进行交集、并集、差集等各类集合运算，并提供结果的图形化展示......</a>
      </div>
    </div> 
  </div>

  <div class="col-lg-6 pull-left">
    <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong>数据质控分析</strong></h5>
    <div class="row" style="margin-top:10px">
      <div class="col-lg-4 pull-left" >
        <a href="/application_solution/bioinformatics_basic/qc"><img src="/img/application_solution/bioinformatics_basic/first/img10.png" ></a>
      </div>
      <div class="col-lg-8">
        <a href="/application_solution/bioinformatics_basic/qc">对测序数据、芯片数据、质谱数据进行质量控制分析......</a>
      </div>
    </div> 
  </div>

</div>

