<div class="bs-example bs-example-tabs" >
  <h3 style="font-family:微软雅黑; text-align:center"><strong>Biomaker的发现和应用</strong></h3>
  <hr>

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#Biomaker的发现" data-toggle="tab"><b style="font-size:120%;">Biomaker的发现</b></a></li>
    <li><a href="#应用案例" data-toggle="tab"><b style="font-size:120%;">应用案例</b></a></li>
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="Biomaker的发现">
      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>背景介绍</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">随着医疗从传统的被动治疗向主动预防和诊治的观念转变，特别是随着个体化医学的出现和渐入主流，生物标志物的研究开发也成为近年来临床和制药领域的热点课题。美国癌症研究中心将生物标志物（biomarker）定义为细胞内的生物化学成分、结构或者功能，通过对生物标志物的检测，能够客观获取正常和疾病状态下的生理病理过程、疾病发生发展、治疗、预后等信息。生物标志物包含检测标志物、诊断标志物和预后标志物三类。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>方法步骤</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">生物标志物的发现一般包含三步：第一步，检测方法的建立，优化检测方法的特异性、敏感性和可靠性；第二步，生物标志物的鉴定，以确定一组标志物在不同人群中的变化以及他们之间的关系；第三步，建立候选标志物和疾病之间的因果关系。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>数据支持</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">生物标志物主要通过高通量 omics 研究取得，包括基因组学、蛋白质组学、代谢组学等试验手段。运用系统生物学再进一步将基因、mRNA、蛋白质、信号传导网络、细胞、组织、器官、个体、人群和生态等各方面信息整合分析以确定候选生物标志物。</p>
      <hr style="margin-top:0px;margin-bottom:8px">
    </div><!--Biomaker的发现 -->
        
    <div class="tab-pane fade" id="应用案例">
      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>肝癌复发风险预测</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">采用生存分析、Logistic回归分析的方法从20个肝癌病例的基因表达芯片中，筛选到161个gene(对应181 probe)作为肝癌复发风险的标志物。进一步，采用中山医院肝癌肿瘤研究所提供的247个肝癌患者的基因表达芯片数据和美国Carcinogenesis实验室的113个肝癌患者的基因表达芯片数据分别作训练集，采用十倍交叉验证，分别基于支持向量机(SVM)、线性回归分析(LDA)、K近邻、最近质心法(NC)、COX回归分析等算法预测肝癌患者的复发风险高低，验证gene signature预测肝癌复发风险性能。</p>
      <hr style="margin-top:0px;margin-bottom:8px">
      <img src="/img/application_solution/biomarker2.jpg" style="width:300px" >
      <img src="/img/application_solution/ROC.jpg" style="width:250px;margin-top:5px;margin-left:40px" >
      
    </div><!--应用案例 -->

        


  </div><!--myTabContent -->

</div><!--bs-example -->

