<div class="bs-example bs-example-tabs" >

  <h3 style="font-family:微软雅黑; text-align:center"><strong>数据库构建</strong></h3>
  <hr>

  <h5  class="text-info" style="font-family:微软雅黑;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;margin-top:20px"><strong>数据库准备工作</strong></h5>
  <p >根据需求特点确立软硬件系统,清理已有数据,完善文献资源,进行数据库建设筹备。</p>
  <ul >
    <li><p >清理用户历史数据,设计方案实现已有数据与采集数据对接。</p></li>
    <li><p >设计数据平台系统,对于软件费用进行评估,与网络服务商进行协调。</p></li>
    <li><p >补充必要的数据源,进行数据整合工作。</p></li>
    <li><p >完成数据库从概念、逻辑、物理设计等工作。</p></li>
  </ul>
  <hr style="margin-top:0px;margin-bottom:8px">

  <h5  class="text-info" style="font-family:微软雅黑;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;margin-top:20px"><strong>数据库平台设计、开发</strong></h5>
  <p >建设数据系统，设计交互界面,实现录入、更新、查询、报表等功能。</p>
  <ul >
    <li><p >建设测试数据库,导入历史数据,进一步完成数据清理工作。</p></li>
    <li><p >设计交互界面,对交互界面的功能进行测试。</p></li>
    <li><p >对于数据库系统进行各项测试,评估,最后进行正式场合建立。</p></li>
  </ul>
  <hr style="margin-top:0px;margin-bottom:8px">
  
  <h5  class="text-info" style="font-family:微软雅黑;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;margin-top:20px"><strong>数据库维护</strong></h5>
  <p >提供数据库维护工作,如备份、恢复、监测、用户管理等工作。</p>
  <ul >
    <li><p >检查系统安全性是否受到侵犯，及时调整授权和密码，实施系统转储与备份，发生故障后及时恢复。</p></li>
    <li><p >对数据库的存储空间状况及响应时间进行分析评价，结合用户反应确定改进措施</p></li>
    <li><p >根据用户要求对数据库现有功能进行扩充</p></li>
    <li><p >及时改正运行中发现的系统错误。</p></li>
  </ul>
  <hr style="margin-top:0px;margin-bottom:8px">

</div><!--bs-example -->
