


  <div class="bs-example bs-example-tabs" >

    <h3 style="font-family:微软雅黑; text-align:center"><strong>论文修订编辑</strong></h3>
    <hr>
    
    <p style="text-indent:2em;">思博奥科与全球学术论文发表服务专家“意得辑”紧密合作，为客户提供最专业的学术论文校编、审核、发表支持等服务项目。</p>

    <ul id="myTab" class="nav nav-tabs" >
      <li class="active" ><a href="#英文编校润色" data-toggle="tab"><b style="font-size:16px;">英文编校润色</b></a></li>
      <li ><a href="#SCI发表支持" data-toggle="tab" data-toggle="tab"><b style="font-size:16px;">SCI发表支持</b></a></li>
    </ul>



    <div id="myTabContent" class="tab-content">

      <div class="tab-pane fade in active" id="英文编校润色">

        <div class="row" style="margin-top:15px">
          <div class="col-lg-1 ">
            <img src="/img/application_solution/paper_edit/icon1.png" style="width:65px">
          </div>
          <div class="col-lg-6 " style="margin-left:20px">
            <strong style="font-size:16px">标准编校</strong>
            <p >完整语言润色。确保您的稿件符合SCI等国际期刊发表语言标准。杜绝语言语法错误，达到完美的英语母语表达。</p>
          </div>
        </div>
        <hr style="border-style:dotted;border-color:#9ACD32; border-width: 1px;;margin-top:5px">
        
        <img src="/img/application_solution/paper_edit/infographics_PSS2.jpg" style="width:30px;margin-right:10px;margin-left:20px"><font style="font-size:16px"><b>双重校编</b></font>
        <p style="text-indent:4em"><img src="/img/application_solution/paper_edit/img01.png">母语学科编辑+高级编辑复审</p>

        <img src="/img/application_solution/paper_edit/infographics_PSS2.jpg" style="width:30px;margin-right:10px;margin-left:20px"><font style="font-size:16px"><b>全面语言润色</b></font>
        <p style="text-indent:4em;"><img src="/img/application_solution/paper_edit/img01.png">语言和语法<img src="/img/application_solution/paper_edit/img01.png" style="margin-left:20px">展示和格式<img src="/img/application_solution/paper_edit/img01.png" style="margin-left:20px">一致性和术语<img src="/img/application_solution/paper_edit/img01.png" style="margin-left:20px">拼写和标点符号</p>

        <img src="/img/application_solution/paper_edit/infographics_PSS2.jpg" style="width:30px;margin-right:10px;margin-left:20px"><font style="font-size:16px"><b>增值服务</b></font>
        <p style="text-indent:4em"><img src="/img/application_solution/paper_edit/img01.png">高达60%多轮编校折扣<img src="/img/application_solution/paper_edit/img01.png" style="margin-left:20px">免费写作指导<img src="/img/application_solution/paper_edit/img01.png" style="margin-left:20px">免费删减字数</p>
        <p style="text-indent:4em"><img src="/img/application_solution/paper_edit/img01.png">免费根据目标期刊排版<img src="/img/application_solution/paper_edit/img01.png" style="margin-left:20px">意得辑编校证明
        <hr>

        <div class="row" style="margin-top:15px">
          <div class="col-lg-1 ">
            <img src="/img/application_solution/paper_edit/pes_icon.jpg" style="width:70px">
          </div>
          <div class="col-lg-7 " style="margin-left:20px">
            <strong style="font-size:16px">优质编校</strong>
            <p >完整语言润色+深度科研审核。增加您稿件被SCI等国际期刊接受的几率。全面的语言语法检查和逻辑结构编校，完整的编校后期支持</p>
          </div>
        </div>
        <hr style="border-style:dotted;border-color:#9ACD32; border-width: 1px;;margin-top:5px">

        <img src="/img/application_solution/paper_edit/infographics_PSS2.jpg" style="width:30px;margin-right:10px;margin-left:20px"><font style="font-size:16px"><b>双重校编</b></font>
        <p style="text-indent:4em"><img src="/img/application_solution/paper_edit/img01.png">母语学科编辑+高级编辑复审</p>

        <img src="/img/application_solution/paper_edit/infographics_PSS2.jpg" style="width:30px;margin-right:10px;margin-left:20px"><font style="font-size:16px"><b>全面语言润色</b></font>
        <p style="text-indent:4em;"><img src="/img/application_solution/paper_edit/img01.png">语言和语法<img src="/img/application_solution/paper_edit/img01.png" style="margin-left:20px">展示和格式<img src="/img/application_solution/paper_edit/img01.png" style="margin-left:20px">一致性和术语<img src="/img/application_solution/paper_edit/img01.png" style="margin-left:20px">拼写和标点符号</p>

        <img src="/img/application_solution/paper_edit/infographics_PSS2.jpg" style="width:30px;margin-right:10px;margin-left:20px"><font style="font-size:16px"><b>学科专家深度科研审查</b></font>
        <p style="text-indent:4em"><img src="/img/application_solution/paper_edit/img01.png">文章整体结构<img src="/img/application_solution/paper_edit/img01.png" style="margin-left:20px">写作流流畅度及清晰度<img src="/img/application_solution/paper_edit/img01.png" style="margin-left:20px">学科内容逻辑性和连贯性</p>

        <div style="background:#fff5d9;width:100%;height:70px;margin-top10px;margin-bottom:15px">
          <div class="row" >
            <div class="col-lg-1 " style="margin-top:-15px">
              <img src="/img/application_solution/paper_edit/medal_icon.png" style="width:30px;margin-left:5px">
            </div>
            <div class="col-lg-7 " style="margin-left:-20px">
              <p style="margin-top:10px"><b>365天免费多轮编校支持，全程安心服务保障，增加您成功发表SCI的几率。（全新升级，支持60%以上修改幅度）</b></p>
            </div>
          </div>
        </div>

        <img src="/img/application_solution/paper_edit/infographics_PSS2.jpg" style="width:30px;margin-right:10px;margin-left:20px"><font style="font-size:16px"><b>升级支持期刊回复信审查--<big style="color:#f5052c">New！</big ></b></font><p></p>
        
        <img src="/img/application_solution/paper_edit/infographics_PSS2.jpg" style="width:30px;margin-right:10px;margin-left:20px"><font style="font-size:16px"><b>增值服务</b></font>
        <p style="text-indent:4em;"><img src="/img/application_solution/paper_edit/img01.png">365天免费多伦编校支持<img src="/img/application_solution/paper_edit/img01.png" style="margin-left:20px">免费投稿信<img src="/img/application_solution/paper_edit/img01.png" style="margin-left:20px">免费缩减字数<img src="/img/application_solution/paper_edit/img01.png" style="margin-left:20px">免费写作指导</p>
        <p style="text-indent:4em;"><img src="/img/application_solution/paper_edit/img01.png">免费根据目标期刊排版<img src="/img/application_solution/paper_edit/img01.png" style="margin-left:20px">意得辑编校证明<img src="/img/application_solution/paper_edit/img01.png" style="margin-left:20px">意得辑写作质量报告</p>

      </div>
      
      <div class="tab-pane fade" id="SCI发表支持">
 
          <h5  class="text-info" style="font-family:微软雅黑;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;margin-top:20px"><strong>SCI发表支持</strong></h5>
          <ul >
            <li><p >专注于医学及生命科学领域</p></li>
            <li><p >高端限量服务，全面品质保障</p></li>
            <li><p >最大化您发表SCI期刊的成功率</p></li>
          </ul>
          <hr>

       
          <div class="row" style="margin-top:20px">
            <div class="col-lg-6 pull-left">
              <h5  class="text-info" style="font-family:微软雅黑;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;margin-top:20px"><strong>SCI发表支持</strong></h5>
              <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted"><b>文章具备发表潜质内容不需要大幅修改</b></p>
              <ul >
                <li><p >优质编校（包含两轮修改）</p></li>
                <li><p >文稿及图表排版</p></li>
                <li><p >回复期刊评审意见</p></li>
                <li><p >三次期刊投稿</p></li>
              </ul>
            </div>
            <div class="col-lg-6 pull-right">
              <h5  class="text-info" style="font-family:微软雅黑;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;margin-top:20px"><strong>SCI论文改写</strong></h5>
              <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted"><b>文章具备发表潜质内容需大幅修改后方可发表</b></p>
              <ul >
                <li><p >对数据收集方法及时间进行调整</p></li>
                <li><p >对图表进行修稿</p></li>
                <li><p >对参考文献进行审核</p></li>
                <li><p >补充作者遗漏引用文献</p></li>
                <li><p >对全文进行内容和逻辑调整</p></li>
                <li><p >两轮内容修改后进行定稿</p></li>
                <li><p >SCI发表支持，三次期刊投稿</p></li>
              </ul>
            </div>
          </div>
      </div>

    </div>

  </div>


