<div class="bs-example bs-example-tabs" >

  <h3 style="font-family:微软雅黑; text-align:center"><strong>生物信息学培训</strong></h3>
  <hr>

  <h5  class="text-info" style="font-family:微软雅黑;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;margin-top:20px"><strong>初级培训</strong></h5>
  <ul >
    <li><p >生物信息学概论</p></li>
    <li><p >文献信息检索</p></li>
    <li><p >NCBI、KEGG、EMBL、UCSC、UniProt等常用数据库介绍</p></li>
    <li><p >linux、Perl、R语言基础</p></li>
    <li><p >Blast、Emboss等生物信息学常用软件介绍</p></li>
  </ul>
  <hr style="margin-top:0px;margin-bottom:8px">

  <h5  class="text-info" style="font-family:微软雅黑;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;margin-top:20px"><strong>中级培训</strong></h5>
  <ul >
     <li><p >基因表达芯片常规分析</p></li>
     <li><p >RNA-Seq常规分析</p></li>
     <li><p >表观遗传调控数据常规分析</p></li>
     <li><p >sRNA芯片数据或测序数据常规分析</p></li>
     <li><p >蛋白质组、代谢组数据常规分析</p></li>
  </ul>
  <hr style="margin-top:0px;margin-bottom:8px">

  <h5  class="text-info" style="font-family:微软雅黑;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;margin-top:20px"><strong>高级培训</strong></h5>
  <ul >
     <li><p>多维组学数据整合分析</p></li>
     <li><p>文本挖掘技术培训，知识库构建</p></li>
     <li><p>分析结果可视化</p></li>
  </ul>

</div><!--bs-example -->

