<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>降解组测序</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">microRNA(miRNA)是通过转录后水平调控靶基因(messenger RNA, mRNA)的表达来实现其重要的生物学功能。在动植物体内miRNA都会诱导mRNA被剪切降解，从而调控mRNA的表达。相比于动物，在植物中该调控基因表达的方式更为普遍。miRNA剪切靶基因会产生两个片段，5'剪切片段和3'剪切片段，其中3'剪切片段，包含有自由的5'单磷酸和3'polyA尾巴，可被磁珠富集，并可在RNA连接酶的作用下连接接头，连接产物经扩增可用于下游的高通量测序。本公司提供的降解组测序(Degradome Sequencing)正是基于上述原理建立的一套高通量鉴定miRNA靶基因的研究策略，摆脱了仅利用生物信息学预测靶基因带来的高假阳性的不足。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">高通量：一次降解组测序即可鉴定出成百上千条miRNA作用的靶基因，远胜于传统的5'RACE方案。</p></li>
        <li><p class="text-muted">数据质量高：提供Q30以上数据，确保数据分析的准确性。</p></li>
        <li><p class="text-muted">数据分析软件优：拥有自主开发的分析软件ACGT301-DEG，并结合CleaveLand，可靠性已经过大量实验项目检验。</p></li>
        <li><p class="text-muted">文库构建快速可靠：使用全新优化的文库构建方案，使得样本起始量更少、建库步骤更简单、测序读长更长，因而能够更真实地反映样本降解组的丰度，显著提高实验数据的准确性。</p></li>          
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>样本要求</strong></p>  
      <ul >
        <li><p class="text-muted">样本类型：完整无DNA污染的Total RNA</p></li>
        <li><p class="text-muted">样本起始量：≥30μg/样本</p></li>
        <li><p class="text-muted">样本浓度：建议介于200~500ng/μL</p></li>
        <li><p class="text-muted">样本纯度：O.D.260/280为1.8~2.0, O.D.260/230 ≥ 1.5</p></li>
        <li><p class="text-muted">样本完整性：RIN ≥ 7，Ratio 28S/18S ≥ 0.7，某些来源样本(如体液样本，昆虫样本，水生生物样本等)可无RIN和Ratio 28S/18S要求</p></li>
        <li><p class="text-muted">为帮助用户获取高质量样本，我们提供样本Total RNA抽提服务</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->

   
    <div class="tab-pane fade" id="技术路线">
      <center><img src="/img/technology_service/transcriptomics/degradome_seq/image001.jpg" style="width:600px"></center>
    </div><!--技术路线 -->


    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center" style="font-family:微软雅黑"><b>案例一：使用降解组测序鉴定小鼠miRNA以剪切方式调控的靶基因<sup style="font-size:10px">1</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">本研究中，作者使用降解组测序技术鉴定出成年小鼠组织中16个可能的miRNA剪切靶基因，其中miR-151-5p介导剪切N4BP1和let-7b介导剪切2410001C21Rik是最为显著的(图1)。</p>
      <hr style="margin-top:0px;margin-bottom:8px">
      
      <h4 align="center" style="font-family:微软雅黑"><b>案例二：二代测序鉴定铝胁迫下野生大豆miRNA及其靶基因<sup style="font-size:10px">2</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">野生大豆（Glycine soja）是世界上种植面积最广的作物之一。相比于栽培大豆，野生大豆能够更好地适应自然环境的胁迫如干旱、碱、盐胁迫。华南农业大学亚热带农业生物资源保护与利用国家重点实验室年海教授领衔的课题组联合使用miRNA测序和降解组测序技术大规模系统地测定了铝胁迫下野生大豆的miRNA表达谱和靶基因及其功能, 为深入理解铝胁迫下miRNA发挥的调控作用提供了重要信息(图2)。</p>

      <center><img src="/img/technology_service/transcriptomics/degradome_seq/image002.jpg" style="width:400px;margin-top:10px;margin-left:10px" ></center>
      <img src="/img/technology_service/transcriptomics/degradome_seq/image003.jpg" style="width:750px;margin-top:30px;margin-left:10px" >
      <hr style="margin-top:10px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>参考文献</strong></p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">1. Bracken CP, et al. Global analysis of the mammalian RNA degradome reveals widespread miRNA-dependent and miRNA-independent endonucleolytic cleavage. Nucleic Acids Res. 2011 Jul;PubMed PMID: 21427086.</p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">2. Zeng QY, et al. Identification of wild soybean miRNAs and their target genes responsive to aluminum stress. BMC Plant Biol. 2012 Oct 5;PubMed PMID: 23040172.</p>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->