<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>数字基因表达谱测序</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">数字基因表达谱分析(Digital Gene Expression Tag Profiling, DGE)，直接对某一物种或特定细胞在特定功能状态下产生的mRNA进行高通量测序，研究基因的差异情况。通过高通量测序一次可产生1千万个以上mRNA标签，可准确检测低丰度基因转录本，同时也可检测反义链转录本。此项技术已被广泛应用于基础科学研究、医学研究和药物研发等领域。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">覆盖度高：一次测序即可分析样本中所有转录本表达信息。</p></li>
        <li><p class="text-muted">检测范围广：可定量分析正常和低丰度转录本，以及反义转录本。</p></li>
        <li><p class="text-muted">数字化信号：测序直接获得序列，无交叉杂交和背景噪音。</p></li>
        <li><p class="text-muted">无序列偏好：推出升华版建库方案，有效避免序列偏好性。</p></li>          
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>测序策略</strong></p>  
      <ul >
        <li><p class="text-muted">HiSeq2500, 50 Single-End</p></li>
        <li><p class="text-muted">推荐≥10M Clean Reads</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->

    
    <div class="tab-pane fade" id="技术路线">
      <center><img src="/img/technology_service/transcriptomics/dge_seq/image001.jpg" style="width:600px"></center>
    </div><!--技术路线 -->


    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center" style="font-family:微软雅黑"><b>案例一：利用数字基因表达谱测序研究常见慢性炎症性皮肤病的差异表达基因<sup style="font-size:10px">1</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">银屑廯、扁平苔藓(LP)和过敏性皮炎(AD)是由免疫反应介导的常见慢性炎症性皮肤病。本研究采用数字基因表达谱测序技术对三种疾病患者的外周血T细胞中的基因表达谱进行分析。实验发现39个基因在上述疾病中显著差异表达。GO分析表明这些差异基因参与T细胞激活的正调控，并且发现RPRD1B基因在银屑廯中表达明显升高，可能有助于区分上述疾病(图1)。</p>
      <hr style="margin-top:0px;margin-bottom:8px">
      
      <h4 align="center" style="font-family:微软雅黑"><b>案例二：利用数字基因表达谱测序发现结直肠癌早期诊断新标志物<sup style="font-size:10px">2</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">结直肠癌(CRC)是世界范围内发病率和死亡率较高的恶性肿瘤。如果能在早期被诊断，CRC通常是可治愈的。此外，腺瘤性息肉(AP)的检测和清除可以预防CRC形成并降低CRC的死亡率。然而直到目前还没有一种准确且无创的方法用于筛查AP和早期诊断CRC。本研究采用数字基因表达谱测序技术对外周血单核细胞中的基因表达谱进行分析，以期找到可以区分AP，CRC，以及健康人的标志物。通过系列实验最后得到4个和8个基因，其中一些基因是新鉴定到的候选基因，可分别作为CRC和AP的筛查标志物(图2)。</p>

      <img src="/img/technology_service/transcriptomics/dge_seq/image002.jpg" style="width:350px;margin-top:10px;margin-left:20px" >
      <img src="/img/technology_service/transcriptomics/dge_seq/image003.jpg" style="width:330px;margin-top:40px;margin-left:20px" >
      <hr style="margin-top:10px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>参考文献</strong></p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">1. Li X, et al.Differential gene expression in peripheral blood T cells from patients with psoriasis, lichen planus, and atopic dermatitis. J Am Acad Dermatol. 2013 Nov;PubMed PMID: 23958114.</p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">2. Nichita C, et al. A novel gene expression signature in peripheral blood mononuclear cells for early detection of colorectal cancer. Aliment Pharmacol Ther. 2014 Mar;PubMed PMID: 24428642.</p>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->