<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>lncRNA芯片</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">Long non-coding RNAs(lncRNAs)是一类转录本长度超过200nt的功能性非编码RNA分子。目前的研究已证实lncRNA参与X染色体沉默，基因组印记以及染色质修饰、转录激活、转录干扰、核内运输等多种重要调控过程。随着对lncRNA在哺乳动物进化及人类疾病发生发展中作用的日益关注，lncRNA调控机制已成为当前遗传学研究的热点问题。</p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">筛选出差异表达的lncRNA是研究其在人类疾病发生中所扮演角色的基础。本公司为用户提供高通量的lncRNA芯片进行lncRNA表达谱分析，该芯片基于Agilent的SurePrint技术生产，实验稳定可靠。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">信息覆盖广泛：覆盖了多个权威lncRNA数据库发布的数据；提供人、大鼠、小鼠的lncRNA检测。</p></li>
        <li><p class="text-muted">lncRNA和mRNA同时检测：芯片上包含有全面的lncRNA和最新的mRNA序列检测探针。一次芯片实验可同时对lncRNA和mRNA进行分析。</p></li>
        <li><p class="text-muted">平台成熟可靠：采用Agilent原位喷墨合成技术，保证了高检测灵敏度和特异性。</p></li>
        <li><p class="text-muted">数据分析全面：提供lncRNA和mRNA表达谱差异分析和功能分析，以及二者的关联分析。</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>分析内容</strong></p>  
      <ul >
        <li><p class="text-muted">标准数据分析</p></li>
        <p>数字信号提取与背景扣除、数据归一化、lncRNA表达差异分析、mRNA表达差异分析、差异mRNA和GO和Pathway富集分析、lncRNA与mRNA共表达分析等。</p>
        <li><p class="text-muted">高级数据分析</p></li>
        <p>差异表达lncRNA靶基因预测与功能分析，差异表达lncRNA表达模式分析、lncRNA Cis/Trans调控预测等。</p>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->

    
    <div class="tab-pane fade" id="技术路线">
      <center><img src="/img/technology_service/transcriptomics/lncRNA_chip/image001.jpg" style="width:600px"></center>
    </div><!--技术路线 -->


    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center" style="font-family:微软雅黑"><b>案例一：使用lncRNA芯片筛选肿瘤诊断相关生物标记<sup style="font-size:10px">1</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">尽管lncRNA在正常生理和疾病中的重要性正不断被发现，但是对肿瘤相关lncRNA的了解还十分有限。本研究中，作者使用lncRNA芯片对接近1300例四种不同类型的肿瘤(包括前列腺癌，多形成胶质细胞瘤、卵巢癌和肺鳞状细胞癌)组织中的lncRNAs展开分析，鉴定出一系列与肿瘤亚型和临床诊断密切相关的lncRNAs，并预测这些lncRNAs是癌症发生的潜在驱动。该研究为开发肿瘤诊断相关的lncRNA生物标记和鉴定lncRNA治疗靶标提供了丰富的资源(图1)。</p>
      <hr style="margin-top:0px;margin-bottom:8px">
      
      <h4 align="center" style="font-family:微软雅黑"><b>案例二：使用lncRNA芯片进行细胞发育与分化研究<sup style="font-size:10px">2</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">研究已表明lncRNA在众多生物学过程中发挥着重要的调控过程，但是其在人类胚胎和神经发育的基因网络中的功能还未被诠释。本研究中，作者以人胚胎干细胞(hESCs)为模型，使用lncRNA芯片高效鉴定出与细胞多能性和神经形成密切相关的lncRNAs。研究结果也揭示lncRNAs对于人脑发育是不可或缺的(图2)。</p>

      <img src="/img/technology_service/transcriptomics/lncRNA_chip/image002.jpg" style="width:750px;margin-top:10px;margin-left:10px" >
      <img src="/img/technology_service/transcriptomics/lncRNA_chip/image003.jpg" style="width:750px;margin-top:10px;margin-left:10px" >
      <hr style="margin-top:10px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>参考文献</strong></p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">1. Du Z, et al. Integrative genomic analyses reveal clinically relevant long noncoding RNAs in human cancer. Nat Struct Mol Biol. 2013 Jul;PubMed PMID: 23728290.</p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">2. Ng SY, et al. Human long non-coding RNAs promote pluripotency and neuronal differentiation by association with chromatin modifiers and transcription factors. EMBO J. 2012 Feb 1;PubMed PMID: 22193719.</p>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->