<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>lncRNA测序</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">在最近十余年的生命科学研究中，对具有重要调控功能的非编码RNA的研究是最引人关注的领域之一，而长链非编码RNA(long non-coding RNAs,lncRNAs)一经登场，便迅速成为非编码RNA界又一耀眼的明星。lncRNAs是一类长度大于200nt的非编码RNA，广泛存在于各种生物体内，在表观遗传、转录以及转录后等多种水平上对生命活动进行关键性的调控，与动植物的生长发育，人类的疾病发生有着密切关系，也可作为疾病诊断的标志物或是治疗的重要靶点。lncRNA测序服务，将高通量测序技术与最新的生物信息分析策略相结合，助您轻松跨入lncRNA研究时代。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">文库优先：采用核糖体去除和链特异性文库构建方案，保留完整的lncRNA和mRNA序列，以及序列方向性。</p></li>
        <li><p class="text-muted">序列完整：对样本中几乎全部的lncRNA和mRNA序列进行鉴定和分析。</p></li>
        <li><p class="text-muted">物种多元：对包括人类、动植物在内的许多物种的lncRNA进行鉴定和分析。</p></li>
        <li><p class="text-muted">分析严谨：系统收集lncRNA数据库用于鉴定已知lncRNA，并设置严格的筛选条件用于发现新lncRNA。</p></li>          
        <li><p class="text-muted">关联全面：开展lncRNA与mRNA的关联分析，深入分析lncRNA调控网络。</p></li>          
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>测序策略</strong></p>  
      <ul >
        <li><p class="text-muted">HiSeq2500, 100 Paired-End</p></li>
        <li><p class="text-muted">推荐≥10G Clean Data</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->


    <div class="tab-pane fade" id="技术路线">
      <center><img src="/img/technology_service/transcriptomics/lncRNA_seq/image001.jpg" style="width:600px"></center>
    </div><!--技术路线 -->


    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center" style="font-family:微软雅黑"><b>案例一：利用测序技术研究lncRNA对食管癌增殖与转移的调控作用<sup style="font-size:10px">1</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">lncRNA在人类疾病的发生与发展中具有极其重要的作用。某些lncRNA的失调直接涉及人类癌症的发生。本研究采用高通量测序技术，对食管腺癌组织和配对的正常组织中的lncRNA进行鉴定和差异表达分析。实验共发现6216个lncRNAs在食管腺癌组织中表达，其中lncRNA HNF1A-AS1显著过表达，敲除HNF1A-AS1能抑制食管腺癌细胞的增殖与转移，并抑制癌症相关lncRNA H19的表达。结果表明，HNF1A-AS1的失调参与了食管癌的发生，而该参与过程有可能部分受到染色质与核小体组装的改变及H19诱导的调节。上调的HNF1A-AS1有望成为诊断具有高浸润性或是转移性食管癌的新生物标志物(图1)。</p>
      <hr style="margin-top:0px;margin-bottom:8px">
      
      <h4 align="center" style="font-family:微软雅黑"><b>案例二：利用测序技术全面鉴定调控红细胞成熟的lncRNA<sup style="font-size:10px">2</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">红血细胞的发育是一个高度协调的过程，贯穿于所有哺乳动物的一生。红细胞生成受到多个层次的调控以确保在多种生理条件下适时地合成成熟的红细胞。本研究采用链特异性转录组测序技术，对红细胞生成过程中的lncRNA进行全面鉴定，发现655个lncRNAs，不仅有来自基因间区，反义链，内含子区，也有来自假基因和增强子位点的lncRNA。其中超过100个lncRNA是新发现的且是红血细胞高度特异的。实验发现多个lncRNA在红血细胞生成中动态表达，并被关键的红血细胞转录因子调控。进一步实验证实lncRNA可以促进红血细胞成熟。</p>

      <img src="/img/technology_service/transcriptomics/lncRNA_seq/image002.jpg" style="width:750px;margin-top:10px;margin-left:20px" >
      <!-- <img src="/img/technology_service/transcriptomics/lncRNA_seq/image003.jpg" style="width:750px;margin-top:10px;margin-left:10px" > -->
      <hr style="margin-top:10px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>参考文献</strong></p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">1. Yang X, et al.Long non-coding RNA HNF1A-AS1 regulates proliferation and migration in oesophageal adenocarcinoma cells. Gut. 2014 Jun;PubMed PMID: 24000294.</p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">2. Alvarez-Dominguez JR,et al. Global discovery of erythroid long noncoding RNAs reveals novel regulators of red cell maturation. Blood. 2014 Jan 23;PubMed PMID: 24200680.</p>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->