<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>μParaflo<sup>®</sup>微流体miRNA芯片</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#芯片概览" data-toggle="tab"><strong style="font-size:120%;">芯片概览</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">microRNA(miRNA)是一类长度约22nt的非编码小RNA，可以在转录后水平调控基因的表达。大量实验证据证实，miRNA几乎参与所有的生命活动，与动植物生长发育、抗逆反应，人类疾病的发生紧密相关，因而成为基础生物学、医学、临床诊断、以及药物研发的热点研究领域。</p>
        <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">从2004年至今，依托具有自主知识产权的μParaflo<sup>®</sup>微流体定制化芯片技术，我们已为遍布50多个国家超过2000家科研机构的研究人员出具了数以万计的miRNA表达谱数据，这些可靠的实验数据有力推动了miRNA研究领域的科学发现。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">微流体芯片平台：μParaflo<sup>®</sup>技术将高通量平行合成技术，微流体技术以及数字光化合成定制芯片技术合为一体，可为用户出具相比于传统点样芯片更为可靠和准确的表达谱数据。</p></li>
        <li><p class="text-muted">主动式动态杂交反应：基于μParaflo<sup>®</sup>微流体芯片技术，彻底改变了常规芯片被动式动态杂交反应过程，取而代之的是主动式动态杂交过程，使得杂交保持高度均一性。</p></li>
        <li><p class="text-muted">探针序列高度灵活：每一张芯片均在收到用户订单后进行合成。依托创新的芯片合成技术我们也可以遵照用户的需求，合成完全定制化的芯片，用户只需增加少量的实验支出即可使用。</p></li>   
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->
   
    <div class="tab-pane fade" id="芯片概览">
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">依托μParaflo<sup>®</sup>微流体芯片技术，我们可为用户提供最新版miRBase发布的任意单个物种(如人、大鼠、小鼠、斑马鱼、病毒等)或是物种组合(如人与病毒、哺乳动物等)的miRNA表达谱检测。</p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">下表为常用miRNA芯片(以2.0版为例)，若您研究的物种不在其中或是想了解最新版芯片内容，请联系我们。</p>

      <center><img src="/img/technology_service/transcriptomics/microRNA_chip/image001.jpg" style="width:760px;margin-top:10px"></center>
    </div>

    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center" style="font-family:微软雅黑"><b>案例一：利用miRNA芯片发现癌症潜在治疗靶点<sup style="font-size:10px">1</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">黑色素瘤是一种高度恶性肿瘤，常见于皮肤，近年来随着发病率明显上升，逐渐成为常见恶性肿瘤。本研究利用μParaflo<sup>®</sup>微流体miRNA芯片筛选出黑色素瘤细胞系中差异表达的miRNAs：miR-1908、miR-199a-5p和miR-199a-3p，并证实它们是黑色素瘤转移性侵入、血管生成和增殖的促进因子，共同调控靶基因ApoE和DNAJA4。研究结果揭示出多个miRNA互作促进黑色素瘤转移的重要机制，并暗示这三个miRNA具有协同组合治疗黑色素瘤的潜力(图1)。</p>
      <hr style="margin-top:0px;margin-bottom:8px">
      
      <h4 align="center" style="font-family:微软雅黑"><b>案例二：利用miRNA芯片鉴定肿瘤预后判断的生物标志物<sup style="font-size:10px">2</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">结直肠癌是常见的消化道恶性肿瘤，发生率仅次于胃癌和食道癌。在此项研究中，作用采用μParaflo<sup>®</sup>微流体miRNA芯片对来自正常结直肠组织、腺瘤结直肠组织，以及结直肠癌组织的miRNA表达谱进行比较分析，发现在结直肠癌组织中miRNA-150表达水平显著下降。进一步实验发现，miR-150表达水平低，则患者存活率低，并且化疗效果差。这表明miR-150可作为结直肠癌预后和治疗效果判断的潜在生物标志物(图2)。</p>

      <center><img src="/img/technology_service/transcriptomics/microRNA_chip/image002.jpg" style="width:700px;margin-top:10px;margin-left:10px" ></center>
      <center><img src="/img/technology_service/transcriptomics/microRNA_chip/image003.jpg" style="width:600px;margin-top:30px;margin-left:10px" ></center>
      <hr style="margin-top:10px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>参考文献</strong></p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">1. Pencheva N, et al. Convergent multi-miRNA targeting of ApoE drives LRP1/LRP8-dependent melanoma metastasis and angiogenesis. Cell. 2012 Nov 21; PubMed PMID: 23142051.</p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">2. Ma Y, et al. miR-150 as a potential biomarker associated with prognosis and therapeutic outcome in colorectal cancer. Gut. 2012 Oct; PubMed PMID: 22052060.</p>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->