<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>基因表达谱芯片</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#芯片推荐" data-toggle="tab"><strong style="font-size:120%;">芯片推荐</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">基因表达谱分析是研究基因功能的基础。利用基因表达谱芯片对不同发育时期或是不同处理条件下的样品展开分析，可以广泛快速可靠地筛选出差异表达基因，展开功能和通路分析。使用芯片进行基因表达谱分析已成为生理调控、生物标记、疾病机理和药物筛选等领域广泛采用的检测手段。</p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">本公司为用户提供基于稳定的Agilent芯片平台的基因表达谱检测。为满足不同用户的需求，也提供基于Affymetrix和台湾华联生技OneArray芯片平台的基因表达谱检测。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">探针特异性/灵敏度高：绝大多数探针都经过实验验证程序检验和优化，充分保证探针的特异性和灵敏度。</p></li>
        <li><p class="text-muted">芯片检测一致性高：具有极高的检测重复性，充分保证检测结果的准确性和一致性。</p></li>
        <li><p class="text-muted">芯片更新灵活：探针序列设计基于RefSeq、Goldenpath、Ensembl和Unigene等知名数据库，充分代表基因和转录本信息。</p></li>
        <li><p class="text-muted">芯片平台可靠：均经过大量实验数据的验证，是分析基因表达谱高效可靠的手段。</p></li>  
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>定制化表达谱芯片</strong></p>  

      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">用户只需提供序列，本公司的生物信息专家会对序列进行深度分析，帮助用户筛选出高质量的序列，并进行比对分析和注释，最后使用Agilent的e-array软件设计特异性探针，并委托Agilent合成芯片，用户即可获得专属的表达谱芯片。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->

    
    <div class="tab-pane fade" id="芯片推荐">
      <center><img src="/img/technology_service/transcriptomics/mRNA_chip/image001.jpg" style="width:600px"></center>
      <center><img src="/img/technology_service/transcriptomics/mRNA_chip/image002.jpg" style="width:600px"></center>
      <center><img src="/img/technology_service/transcriptomics/mRNA_chip/image003.jpg" style="width:600px"></center>
    </div><!--技术路线 -->


    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center" style="font-family:微软雅黑"><b>案例一：利用基因表达谱芯片筛选疾病预后诊断标志物<sup style="font-size:10px">1</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">肺癌目前是全世界癌症相关死亡的首要原因。在此项研究中，作者使用基因表达谱芯片对196例非小细胞肺癌(NSCLC)患者进行全基因组表达谱分析，发现14个基因，包括细胞粘附分子1(CADM1)，与患者的存活率密切相关。其中较低的CADM1蛋白表达水平与较短的存活率显著相关。因此CADM1可作为一个潜在的预后诊断标志物(图1)。</p>
      <hr style="margin-top:0px;margin-bottom:8px">
      
      <h4 align="center" style="font-family:微软雅黑"><b>案例二：基于基因表达谱芯片数据展开毒理学分析<sup style="font-size:10px">2</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">银纳米例子(AgNPs)是消费产品中应用最广泛的纳米粒子，被用于绷带，纺织品和家用物品(利用银的抗菌性能)。但是AgNPs对细胞转录组的影响目前知之甚少。在此项研究中，作者使用基因表达谱芯片对人肺上皮细胞系A549暴露在AgNPs下的表达谱变化进行分析。发生变化的基因包括金属硫蛋白成员，热激蛋白和组蛋白家族。暴露于AgNPs会使细胞内产生活性氧，但在实验浓度下不会引起凋亡和坏死。暴露于AgNPs也会干扰细胞周期。尽管AgNPs和Ag+对细胞的转录水平影响高度相关，但是由于其特殊的微粒形态，AgNPs对细胞的作用方式更为复杂(图2)。</p>

      <center><img src="/img/technology_service/transcriptomics/mRNA_chip/image004.jpg" style="width:600px;margin-top:10px;margin-left:10px" ></center>
      <center><img src="/img/technology_service/transcriptomics/mRNA_chip/image005.jpg" style="width:600px;margin-top:30px;margin-left:10px" ></center>
      <hr style="margin-top:10px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>参考文献</strong></p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">1. Botling J, et al. Biomarker discovery in non-small cell lung cancer: integrating gene expression profiling, meta-analysis, and tissue microarray validation. Clin Cancer Res. 2013 Jan 1; PubMed PMID: 23032747.</p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">2. Foldbjerg R, et al.Global gene expression profiling of human lung epithelial cells after exposure to nanosilver. Toxicol Sci. 2012 Nov; PubMed PMID: 22831968.</p>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->