<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>转录组测序</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">转录组即特定细胞在某一功能状态下转录出来的所有RNA的总和，包括mRNA和非编码RNA。转录组测序分析利用高通量测序技术，依托强大的生物信息分析平台，能够全面快速地获得某一物种特定器官或组织在某一状态下的所有mRNA转录本。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">高覆盖度：单次转录组测序实验即可获取全面的转录本信息。</p></li>
        <li><p class="text-muted">链特异性文库：采用dUTP链特异性文库构建方案，确保转录本的方向性，获取更准确的定量结果。</p></li>
        <li><p class="text-muted">编码区SNP分析：首推人类转录组SNP精细分析；相比在基因组鉴定致病突变，转录组Coding SNP才是关键的SNP。</p></li>
        <li><p class="text-muted">关联分析：联合miRNA和/或蛋白质组数据开展跨组学关联分析。</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>测序策略</strong></p>  
      <ul >
        <li><p class="text-muted">HiSeq2500, 100 Paired-End</p></li>
        <li><p class="text-muted">有参考基因组的转录组测序推荐≥4G Clean Data</p></li>
        <li><p class="text-muted">无参考基因组的转录组测序推荐≥10G Clean Data</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->

    
    <div class="tab-pane fade" id="技术路线">
      <center><img src="/img/technology_service/transcriptomics/rna_seq/image001.jpg" style="width:760px"></center>
    </div><!--技术路线 -->


    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center" style="font-family:微软雅黑"><b>案例一：转录组测序鉴定新的非小细胞肺癌标志物<sup style="font-size:10px">1</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">肺癌是引起全球癌症相关死亡的主导诱因。本研究利用转录组测序技术超宽的动态检测范围和超高的检测灵敏度，对88例非小细胞肺癌(NSCLC)患者的肿瘤组织和54例腺瘤患者及34例鳞状细胞癌患者的非肿瘤组织进行基因表达差异分析，鉴定出1063个基因显著差异表达，其中新鉴定到CBX3和CRABP2在肺癌组织中的显著高表达，可作为候选的标志物(表1)。</p>
      <hr style="margin-top:0px;margin-bottom:8px">
      
      <h4 align="center" style="font-family:微软雅黑"><b>案例二：转录组测序表征尼古丁致癌的遗传基础<sup style="font-size:10px">2</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">尼古丁是一个已知的诱使癌症发生的风险因子，可以改变细胞和组织中的基因表达。本研究利用无偏好性的转录组测序技术对正常上皮细胞受尼古丁胁迫下的转录组进行分析，鉴定出138个差异表达的基因，包括39个未表征的基因；发现173个主要与DNA复制、重组以及修复相关的基因发生了可变剪切(图1)；实验中发现尼古丁胁迫应答最突出的两个基因(HPCAL4和NPAS3)与癌症相关，但此前未报道与尼古丁胁迫应答有关。该研究利用转录组测序揭示了许多以前未知的尼古丁胁迫对正常上皮细胞转录组造成的影响。</p>

      </br><center><p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted"><b>表1 在NSCLC中前20个显著高表达的基因</b></p></center>
      <center><img src="/img/technology_service/transcriptomics/rna_seq/image002.jpg" style="width:760px" ></center>
      <center><img src="/img/technology_service/transcriptomics/rna_seq/image003.jpg" style="width:760px ;margin-top:30px" ></center>
      <center><p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted"><b>图1 差异表达基因可变剪切基因的GO分析</br>
        A、B分别为差异表达基因和可变剪切基因的Biological process</br>
        C、D分别为差异表达基因和可变剪切基因的Molecular function</b></p></center>
      <hr style="margin-top:10px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>参考文献</strong></p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">1. Han SS, et al. RNA sequencing identifies novel markers of non-small cell lung cancer. Lung Cancer.2014 Jun;PubMed PMID: 24751108.</p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">2. Bavarva JH,et al. Characterizing the Genetic Basis for Nicotine Induced Cancer Development: A Transcriptome Sequencing Study. PLoS One. 2013 Jun 18. PubMed PMID: 23825647.</p>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->