<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>sRNA测序</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">小RNA是生物体内一类具有重要调控功能的非编码短小RNA的总称。大量研究已经证实，小RNA几乎参与调控了动植物所有的生命过程，包括细胞增殖、分化、凋亡等，并且与人类疾病的发生发展密切相关。小RNA测序正是对这一类重要的调控小RNA--特别是microRNA(miRNA)展开分析，利用高通量测序技术对样本中18~30nt的小RNA序列进行鉴定和分析。依托丰富的测序经验和独有的测序分析软件，通过小RNA测序可以快速鉴定物种全谱的小RNA组，并预测新的miRNA，同时可对miRNA的靶基因进行预测和功能分析。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">通量高：一次测序即可获取1000万条以上序列。</p></li>
        <li><p class="text-muted">数据质量高：提供Q30(PhredScore)以上数据确保数据分析的准确性。</p></li>
        <li><p class="text-muted">数据分析软件优：拥有自主开发的数据分析软件ACGT101-miR，可靠性已被数百个实验项目检验；生成图表可直接用于论文撰写。</p></li>
        <li><p class="text-muted">项目经验丰富：用户已发表上百篇小RNA测序相关论文。</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>测序策略</strong></p>
      <ul >
        <li><p class="text-muted">HiSeq2500, 50 Single-End</p></li>
        <li><p class="text-muted">推荐≥10M Clean Reads</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->

  
    <div class="tab-pane fade" id="技术路线">
      <center><img src="/img/technology_service/transcriptomics/sRNA_seq/image001.jpg" style="width:700px"></center>
    </div><!--技术路线 -->


    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center" style="font-family:微软雅黑"><b>案例一：利用小RNA测序发现由YAP介导Hippo和PI(3)K-TOR通路<br>crosstalk中的关键miRNAs<sup style="font-size:10px">1</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">研究发现Hippo信号通路是参与调控器官大小发育的关键信号通路。近年来的研究表明，这条信号通路还调控干细胞自我更新及组织再生，特别是与癌症的发生密切相关。YAP是Hippo信号通路下游高度保守的效应因子，能够进入细胞核，与核内的转录因子相互结合，启动下游靶基因的转录，促进器官生长。然而，目前对该调控的分子机制还不甚了解。本研究证实YAP激活了细胞生长的重要调控因子mTOR。利用小RNA测序技术证实YAP通过诱导miR-29抑制PTEN表达，转而激活了mTOR信号通路。研究人员还证实YAP调节PI(3)K-mTOR信号通路，该通路调控细胞大小、组织生长和增生(图1)。</p>
      <hr style="margin-top:0px;margin-bottom:8px">
      
      <h4 align="center" style="font-family:微软雅黑"><b>案例二：利用小RNA测序鉴定JAK2V617F突变的SET2细胞中完整的miRNAome<sup style="font-size:10px">2</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">JAK2V617F突变是诱导骨髓增生性肿瘤的原因之一。本研究为探讨miRNA在骨髓增生性肿瘤中可能发挥的作用，采用小RNA测序技术对JAK2V617F突变的SET2细胞中完整miRNAome进行测定。实验鉴定出652个已知的成熟体miRNAs，78个新的miRNAs，并对高表达的miRNA进行靶基因预测与功能分析。实验还发现了若干miRNA-offset RNAs(moRNAs)<sup style="font-size:10px">3</sup>，深入分析了其可能的来源。<br><b>评论：</b>此项研究除全面分析miRNAs外，还对另一类新发现的小RNA--moRNAs进行了深入的讨论，成为了该课题的一个突出亮点(图2)。</p>

      <img src="/img/technology_service/transcriptomics/sRNA_seq/image002.jpg" style="width:750px;margin-top:10px;margin-left:10px" >
      <img src="/img/technology_service/transcriptomics/sRNA_seq/image003.jpg" style="width:750px;margin-top:10px;margin-left:10px" >
      <hr style="margin-top:10px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>参考文献</strong></p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">1. Tumaneng K,et al. YAP mediates crosstalk between the Hippo and PI(3)K–TOR pathways by suppressing PTEN via miR-29. Nat Cell Biol. 2012 Dec;PubMed PMID: 23143395.</p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">2. Bortoluzzi Set,et al. Characterization and discovery of novel miRNAs and moRNAs in JAK2V617F-mutated SET2 cells. Blood. 2012 Mar 29;PubMed PMID: 22223824.</p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">3. Bortoluzzi S,et al. MicroRNA-offset RNAs (moRNAs):by-product spectators or functional players? Trends Mol Med. 2011 Sep;PubMed PMID: 21700497.</p>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->