<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>核磁共振技术(NMR)</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">核磁共振技术(NMR)是代谢组学重要的研究，其通过外加静磁场作用核磁距不为零的原子核，核自旋能级跃进，共振吸收某一特定频率射频的物理过程，通过检测化学位移、峰的裂分和偶合常数、峰的面积等数据进而得到代谢化合物信息。广泛应用于疾病诊断与发病机制、药理毒理学、中医药现代化、农业与植物、微生物代谢与发酵等领域。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">前处理简单。</p></li>
        <li><p class="text-muted">谱峰位置及强度可定性、定量。</p></li>
        <li><p class="text-muted">无损伤性、无消耗性、动态监测分析。</p></li>          
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->

    
    <div class="tab-pane fade" id="技术路线">
      <center><img src="/img/technology_service/metabonomics/nmr/image001.jpg" style="width:600px"></center>
    </div>


    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center" style="font-family:微软雅黑"><b>奶牛酮病的血浆代谢组学分析<sup style="font-size:10px">1</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">应用生物核磁共振技术结合主成分分析(PCA)和正交偏最小二乘判别分析法(OPLS-DA)分别分析奶牛在患有临床酮病和亚临床酮病时内源性代谢产物的变化，研究酮病对奶牛代谢过程的影响，寻找差异表达的代谢物。运用(1)H核磁共振((1)H NMR)技术获得临床酮病组、亚临床酮病组与健康对照组3组奶牛血浆代谢组谱。所采集的数据经过模式分析获得差异代谢物。结果显示：临床酮病组、亚临床酮病组与健康对照组相比，差异性代谢物均为23个，其中临床酮病组6个表达上调，17个表达下调；而亚临床酮病组13个表达上调，10个表达下调。临床酮病组与亚临床酮病组相比，差异性代谢物为28个，其中4个表达上调，24个表达下调。结果表明(1)H NMR谱结合模式识别分析技术能有效获得区别奶牛临床酮病和亚临床酮病的差异代谢物，并全景式地揭示了酮病发生过程中机体发生的广泛代谢紊乱，为今后深入探究酮病发生机理和新的防治策略奠定了基础。</p>

      <center><img src="/img/technology_service/metabonomics/nmr/image002.jpg" style="width:650px;margin-top:10px" >
      </center>
      <center><p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted"><b>图1</b></p></center>
      <hr style="margin-top:10px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>参考文献</strong></p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">1. Sun LW, et al. (1)H-Nuclear magnetic resonance-based plasma metabolic profiling of dairy cows with clinical and subclinical ketosis. J Dairy Sci. 2014 Mar;97(3):1552-62. doi:10.3168/jds.2013-6757. Epub 2014 Jan 17. PubMed PMID: 24440255.</p>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->