<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>全基因组Bisulfite甲基化测序</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">DNA甲基化是表观遗传学的热点研究领域，在调控基因转录、传递基因组印记、维持染色质结构、调控胚胎发育以及肿瘤等疾病发生中发挥关键作用。获得全基因组范围内所有C位点的甲基化水平数据，对于表观遗传学的时空特异性研究具有重要意义。我们以高通量测序平台为基础，采用全基因组Bisulfite测序技术，依托强大的信息分析平台，进行高效准确的全基因组DNA甲基化图谱绘制。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">覆盖范围广：覆盖全基因组范围。</p></li>
        <li><p class="text-muted">精确度高：单碱基分辨率，精确分析每一个碱基的甲基化状态。</p></li>
        <li><p class="text-muted">性价比高：相对于传统PCR结合Sanger测序方法，费用少。</p></li>          
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>样本要求</strong></p>  
      <ul >
        <li><p class="text-muted">样本类型：完整无RNA污染的Total DNA</p></li>
        <li><p class="text-muted">样本起始量：≥10μg/样本，视数据量不同有所增加</p></li>
        <li><p class="text-muted">样本浓度：建议介于200~500ng/μL</p></li>
        <li><p class="text-muted">样本纯度：O.D.260/280为1.8~2.0</p></li>
        <li><p class="text-muted">样本完整性：样品条带完整清晰，无明显降解</p></li>
        <li><p class="text-muted">为帮助用户获取高质量样本，我们提供样本Total DNA抽提服务</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->

    
    <div class="tab-pane fade" id="技术路线">
      <center><img src="/img/technology_service/epigenetics/bisulfite_seq/image001.jpg" style="width:760px"></center>
    </div>

    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center" style="font-family:微软雅黑"><b>使用WGBS解析模式植物全基因组甲基化图谱<sup style="font-size:10px">1</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">本项研究中，作者使用WGBS技术绘制拟南芥全基因组甲基化图谱(见下图)，A. 甲基化胞嘧啶鉴定，B. 甲基化胞嘧啶中CG、CHG、CHH的分布比例，C. 染色体1中CG、CHG和CHH的胞嘧啶的甲基化水平，D. CG、CHG和CHH中所有胞嘧啶的甲基化水平。</p>
      
      <center><img src="/img/technology_service/epigenetics/bisulfite_seq/image002.jpg" style="width:760px;margin-top:10px" ></center>
      <hr style="margin-top:10px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>参考文献</strong></p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">1. Lister R, et al. Highly integrated single-base resolution maps of the epigenome in Arabidopsis. Cell. 2008 May 2;PubMed PMID: 18423832.</p>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->