<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>Chip_Seq</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">染色质免疫共沉淀技术(Chromatin Immunoprecipitation,ChIP)，是研究体内蛋白质与DNA相互作用的有力工具，通常用于转录因子结合位点或组蛋白特异性修饰位点的研究。将ChIP与高通量测序技术相结合的ChIP-Seq技术，能够高效地在全基因组范围内检测与组蛋白、转录因子等互作的DNA区段。ChIP-Seq的实验原理：首先通过ChIP特异性地富集目的蛋白结合的DNA片段，并对其进行纯化与文库构建，然后进行高通量测序和数据分析。通过将获取的数百万条序列标签精确定位到基因组上，研究人员可获得全基因组范围内与组蛋白、转录因子等互作的DNA区段信息，并且可对多个样品进行差异比较。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">检测范围广：全基因组范围的免疫沉淀与测序分析，全面分析蛋白与DNA互作。</p></li>
        <li><p class="text-muted">单碱基分辨率：使用高通量测序对目的片段进行单碱基分辨。</p></li>
        <li><p class="text-muted">微量样本起始：只需10 ng以上免疫沉淀后的DNA，即可展开测序分析。</p></li>          
        <li><p class="text-muted">高性价比：基于抗体特异富集目标区域，有效降低测序成本。</p></li>          
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>样本要求</strong></p>  
      <ul >
        <li><p class="text-muted">样品类型：DNA样品</p></li>
        <li><p class="text-muted">样本起始量(单次)：≥ 10 ng ChIPed DNA（若您的样品量不足，请咨询技术支持）</p></li>
        <li><p class="text-muted">样本浓度：≥ 1 ng/μL</p></li>
        <li><p class="text-muted">样本纯度：O.D.260/280为1.8~2.0</p></li>
        <li><p class="text-muted">DNA片段大小：分布在100~500 bp范围，且主带明显。用户需提供DNA打断后的检测胶图以确定DNA片段大小</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->

    
    <div class="tab-pane fade" id="技术路线">
      <center><img src="/img/technology_service/epigenetics/chip_seq/image001.jpg" style="width:700px"></center>
    </div>

    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center" style="font-family:微软雅黑"><b>使用MeDIP-Seq解析大鼠肝脏甲基化图谱<sup style="font-size:10px">1</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">转录因子（TFs）通过结合DNA调控区指导基因表达。为探讨基因调控的进化，作者使用ChIP-seq 技术在全基因组水平上对5种脊椎动物（人类、小鼠、狗、短尾负鼠和鸡）肝脏中2个转录因子CEBPA和HNF4A对基因的调控展开研究。研究表明，尽管每个TF表现出高度保守的DNA结合偏好，但是大多数的结合是物种特异性的，5个物种中共有的结合事件较罕见。下图显示在脊椎动物进化中CEBPA和HNF4A的DNA结合特异性是高度保守的。</p>

      <center><img src="/img/technology_service/epigenetics/chip_seq/image002.jpg" style="width:700px;margin-top:10px" ></center>
      <hr style="margin-top:10px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>参考文献</strong></p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">1. Schmidt D, et al. Five-vertebrate ChIP-seq reveals the evolutionary dynamics of transcription factor binding. Science. 2010 May 21;PubMed PMID: 20378774.</p>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->