<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>CHIP_chip</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">染色质免疫共沉淀-芯片(Chromatin Immunoprecipitation-chip，ChIP-chip)，是ChIP与基因芯片相结合建立的方法，已广泛用于特定反式因子靶基因的高通量筛选。ChIP-chip技术对于大规模挖掘顺式调控信息成绩卓著，同时它可以用于胚胎干细胞和一些疾病如癌症、心血管疾病和中央神经紊乱的发生的机制。研究人员还可以利用这项技术开发一些治疗方法。目前ChIP-chip技术研究主要集中于两个领域：及转录因子的结合和条件特异性；组蛋白的修饰，组蛋白修饰蛋白和染色体重建。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">可以在体内进行反应。</p></li>
        <li><p class="text-muted">在给定的检验细胞环境的模式下得到DNA相互关系的简单影像。</p></li>
        <li><p class="text-muted">使用特异性修正抗体鉴定与包含有一个特异性后转录修正的蛋白质的相关位点。</p></li>          
        <li><p class="text-muted">直接或者间接（通过蛋白质与蛋白质的相互作用）的鉴别基因组与蛋白质的相关位点。</p></li>          
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>内容</strong></p>  
      <ul >
        <li><p class="text-muted">研究基因启动子部位组蛋白的甲基化、乙酰化或磷酸化水平改变</p></li>
        <li><p class="text-muted">研究所有基因启动子部位DNA甲基化水平改变</p></li>
        <li><p class="text-muted">研究转录因子与其结合的所有基因启动子DNA结合水平改变</p></li>          
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->

    
    <div class="tab-pane fade" id="技术路线">
      <center><img src="/img/technology_service/epigenetics/chip_chip/image001.jpg" style="width:600px"></center>
    </div>

    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center" style="font-family:微软雅黑"><b>使用Chip-chip技术研究正常和癌症细胞中转录抑制的机制<sup style="font-size:10px">1</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">使用Roche-NimbleGen的human/mouse启动子芯片研究两种组蛋白修饰(H3me3K27,H3me3K9)，RNA polymerase Ⅱ(POLR2A)及DNA甲基化(5-meC)四种因素在12种小鼠及人的细胞与组织中对低表达基因的调控变化。从各因素在低表达基因中起作用的百分比结果分析，基因受到转录抑制主要是通过单基因的影响，其中H3me3K27的抑制作用最为广泛(9.18%-19.24%)。结果还提示除了这4种因素之外，基因还会受到其他因素的影响(47.89%-71.17%)，可以通过Chip-chip技术检测更多因素对基因的调控，从而更完整的了解基因受到转录抑制的作用规律。</p>

      <center><img src="/img/technology_service/epigenetics/chip_chip/image002.jpg" style="width:500px;margin-top:10px" ></center>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>参考文献</strong></p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">1. Komashko VM, et al. Using ChIP-chip technology to reveal common principles of transcriptional repression in normal and cancer cells. Genome Res. 2008 Apr; PubMed PMID:18347325.</p>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->