<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>Me_DIP测序</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">甲基化DNA免疫共沉淀测序(Methylated DNA Immunoprecipitation Sequencing，MeDIP-Seq)是通过MeDIP技术富集甲基化的DNA片段，然后结合高通量测序技术在全基因组水平上鉴定甲基化图谱，从而比较不同细胞、组织等样品间的DNA甲基化差异。联川生物依托强大的生物信息分析平台，率先利用自主开发的甲基化分析软件在全基因组水平精细化解析甲基化图谱。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">检测范围广：全基因组水平鉴定甲基化区域。</p></li>
        <li><p class="text-muted">针对性强： 针对高CpG区域，相对提高了测序深度。</p></li>
        <li><p class="text-muted">成本低： 大大降低了基因组复杂度和测序成本。</p></li>          
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>样本要求</strong></p>  
      <ul >
        <li><p class="text-muted">样本类型：完整无明显降解的Total DNA</p></li>
        <li><p class="text-muted">样本起始量(单次)：≥ 5 μg /样本（若您的样品量不足，请咨询技术支持）</p></li>
        <li><p class="text-muted">样本浓度：≥50 ng/μL</p></li>
        <li><p class="text-muted">样本纯度：O.D.260/280为1.8~2.0</p></li>
        <li><p class="text-muted">为帮助用户获取高质量样本，我们提供样本Total DNA抽提服务</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->

    
    <div class="tab-pane fade" id="技术路线">
      <center><img src="/img/technology_service/epigenetics/me_dip_seq/image001.jpg" style="width:700px"></center>
    </div>

    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center" style="font-family:微软雅黑"><b>使用MeDIP-Seq解析大鼠肝脏甲基化图谱<sup style="font-size:10px">1</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">DNA甲基化对基因表达调控和维护基因组稳定至关重要。本项研究中，作者使用MeDIP-Seq第一次高精细度地对大鼠肝脏甲基化组进行解析。</p>

      <center><img src="/img/technology_service/epigenetics/me_dip_seq/image002.jpg" style="width:700px;margin-top:10px" ></center>
      <center><img src="/img/technology_service/epigenetics/me_dip_seq/image003.jpg" style="width:700px;margin-top:10px" ></center>
      <!-- <center><img src="/img/technology_service/epigenetics/me_dip_seq/image004.jpg" style="width:700px;margin-top:10px" ></center> -->
      <!-- <center><img src="/img/technology_service/epigenetics/me_dip_seq/image005.jpg" style="width:700px;margin-top:10px" ></center> -->
      <hr style="margin-top:10px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>参考文献</strong></p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">1. Sati S, et al. High resolution methylome map of rat indicates role of intragenic DNA methylation in identification of coding region. PLoS One. 2012; PubMed PMID: 22355382.</p>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->