<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>甲基化芯片</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#芯片推荐" data-toggle="tab"><strong style="font-size:120%;">芯片推荐</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">DNA甲基化是表观遗传学的热点研究领域，人类许多疾病的发生都与异常的甲基化密切相关。联川生物为用户提供基于稳定的Illumina光纤微珠芯片平台的DNA甲基化芯片服务 ，高通量分析不同条件下细胞、组织等样品间的DNA甲基化差异。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">流程简单：采用Bisulfite处理和单碱基延伸技术，无需进行烦琐的免疫共沉淀。</p></li>
        <li><p class="text-muted">单碱基分辨率：直接检测发生甲基化的准确位点，而非发生甲基化的区段。</p></li>
        <li><p class="text-muted">定制化：遵照用户需求，灵活定制个性化甲基化芯片。</p></li>
        <li><p class="text-muted">通量高：一次性检测12份或者12的倍数的样本量。</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>样本要求</strong></p>  
      <ul >
        <li><p class="text-muted">样品类型：完整无RNA污染的Tatol DNA</p></li>
        <li><p class="text-muted">样本起始量(单次)：≥ 2 μg /样本（若您的样品量不足，请咨询技术支持）</p></li>
        <li><p class="text-muted">样本浓度：建议介于100~200 ng/μL</p></li>
        <li><p class="text-muted">样本纯度：O.D.260/280为1.8~2.0</p></li>
        <li><p class="text-muted">样品完整度：凝胶电泳检测样品无明显降解</p></li>
        <li><p class="text-muted">为帮助用户获取高质量样本，我们提供样本Total DNA抽提服务</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->

    
    <div class="tab-pane fade" id="芯片推荐">
      <center><img src="/img/technology_service/epigenetics/methyl_chip/image001.jpg" style="width:700px"></center>
    </div>

    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center" style="font-family:微软雅黑"><b>案例一：利用illumina甲基化芯片预测患前列腺癌风险<sup style="font-size:10px">1</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">前列腺癌是西方男性最常被诊断出来的癌症。由于现有诊断方法的灵敏性和特异性不高，无法可靠地识别早期的前列腺癌。本研究中，作者使用illumina甲基化芯片对238例前列腺组织（包括前列腺癌组织和正常组织）的启动子区甲基化谱展开分析，鉴定出一系列甲基化基因可作为诊断和预后的生物标志物(图1)。</p>

      <hr style="margin-top:0px;margin-bottom:8px">
      <h4 align="center" style="font-family:微软雅黑"><b>
        案例二：利用illumina甲基化芯片发现产后抑郁症生物标志物<sup style="font-size:10px">2</sup></b></h4>
      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">产后抑郁症（PPD）影响约10-18%的妇女，会给母亲和后代造成严重的病状，给后代造成的风险包括自信心低落，智力技能下降，甚至出现虐待儿童和杀婴。本研究中，作者使用illumina甲基化芯片对可能发展为PPD的产前妇女血液进行甲基化谱分析，证实PPD易感性是由于对雌激素介导的表观变化的敏感性发生改变引起的，并鉴定出两个甲基化生物标志物位点。</p>

      <center><img src="/img/technology_service/epigenetics/methyl_chip/image002.jpg" style="width:600px;margin-top:10px" ></center>
      <hr style="margin-top:10px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>参考文献</strong></p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">1. Mahapatra S, et al. Global methylation profiling for risk prediction of prostate cancer. Clin Cancer Res. 2012 May 15; PubMed PMID: 22589488.</p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">2. Guintivano J, et al. Antenatal prediction of postpartum depression with blood DNA methylation biomarkers. Mol Psychiatry. 2014 May;PubMed PMID: 23689534.</p>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->