<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>简化甲基化测序</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">简化甲基化测序(Reduced Representation Bisulfite Sequencing,RRBS)是利用限制性内切酶对基因组进行酶切，然后进行Bisulfite测序对基因组甲基化展开分析。该技术显著提高了CpG区域的测序深度，在CpG岛、启动子区域和增强子元件区域可以获得高精度的分辨率。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">检测范围广：全基因组水平鉴定甲基化区域。</p></li>
        <li><p class="text-muted">重复性好：多样本的覆盖区域重复性可达85%-95%，适合多样本间的甲基化差异分析。</p></li>
        <li><p class="text-muted">精确度高：在其覆盖范围内可达到单碱基分辨率。</p></li>          
        <li><p class="text-muted">高性价比：测序区域更有针对性，数据利用率更高。</p></li>          
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>样本要求</strong></p>  
      <ul >
        <li><p class="text-muted">样本类型：完整无明显降解的Total DNA</p></li>
        <li><p class="text-muted">样本起始量(单次)：≥ 5 μg /样本（若您的样品量不足，请咨询技术支持）</p></li>
        <li><p class="text-muted">样本浓度：≥50 ng/μL</p></li>
        <li><p class="text-muted">样本纯度：O.D.260/280为1.8~2.0</p></li>
        <li><p class="text-muted">适用物种：人和小鼠</p></li>
        <li><p class="text-muted">为帮助用户获取高质量样本，我们提供样本Total DNA抽提服务</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->

    
    <div class="tab-pane fade" id="技术路线">
      <center><img src="/img/technology_service/epigenetics/rrbs/image001.jpg" style="width:700px"></center>
    </div>

    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center" style="font-family:微软雅黑"><b>使用RRBS以单碱基分辨率分析临床样本甲基化图谱<sup style="font-size:10px">1</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">作者通过优化RRBS方法，以极低的样本起始量(30 ng)分析临床样本的甲基化图谱，同时该方法也适用于FFPE样本。下图为RRBS分析临床样本甲基化图谱结果。a为RRBS测定的结肠肿瘤核心启动子区，CpG岛，和调控元件的甲基化覆盖度；b为RRBS以100 ng和30 ng起始量测定小鼠ES细胞甲基化图谱的相关性分析；c为RRBS和Infinium芯片分析1,027个结肠肿瘤的高置信度CpG的相关性分析。</p>

      <center><img src="/img/technology_service/epigenetics/rrbs/image002.jpg" style="width:600px;margin-top:10px" ></center>
      <hr style="margin-top:10px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>参考文献</strong></p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">1. Gu H, et al. Genome-scale DNA methylation mapping of clinical samples at single-nucleotide resolution. Nat Methods. 2010 Feb;PubMed PMID: 20062050.</p>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->