<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>lncRNA-mRNA整合分析</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">lncRNA参与了X染色体沉默，基因组印记以及染色质修饰、转录激活、转录调控、核内运输等多种重要的调控过程，与疾病的发生发展、动植物的生长发育及组织分化密切相关。该整合分析从lncRNA测序或芯片数据中鉴定得到的海量lncRNA转录本出发，采用三种方法高覆盖率地预测lncRNA的分子功能，从而为后续的功能实验提供可靠的 筛选依据和方向线索。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">高准确率：整合了lncRNA_mRNA共表达、共表达+蛋白互作网络的功能传递和竞争性内源RNA(ceRNA)三种方法的lncRNA功能预测结果，提高lncRNA功能预测的覆盖率和可靠性。</p></li>
        <li><p class="text-muted">兼容性好：同时适用于lncRNA深度测序和lncRNA芯片数据。</p></li>
        <li><p class="text-muted">实验验证：功能分析为lncRNA功能研究提供实验设计依据。</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>内容</strong></p>  
      <ul >
        <li><p class="text-muted">蛋白编码及非编码转录本分类鉴定软件识别与预测lncRNA</p></li>
        <li><p class="text-muted">基于lncRNA_mRNA的共表达，构建 lncRNA_mRNA调控网络，分别基于共表达共定位mRNA 、hub-lncRNAs共表达的mRNA和网络模块中mRNA的功能 预测lncRNA的功能</p></li>
        <li><p class="text-muted">基于lncRNA_mRNA和蛋白质相互作用，构建 lncRNA_mRNA双色网络，已知功能在网络迭代过程中由 mRNA向lncRNA传递，由此预测lncRNA的功能权重</p></li>
        <li><p class="text-muted">筛选共表达且被同一miRNA调控的lncRNA_mRNA关系对，构建lncRNA-microRNA-mRNA调控网络，基于mRNA的功能预测lncRNA的功能</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->

    
    <div class="tab-pane fade" id="技术路线">
      <center><img src="/img/technology_service/bioinformatics_integrate/lncRNA_mRNA/image001.jpg" style="width:600px"></center>
    </div><!--技术路线 -->

    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center" style="font-family:微软雅黑"><b>人类肝癌组织lncRNA的差异表达和功能分析</b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">lncRNA在疾病的发生和发展过程中具有重要作用，部分lncRNA的失调将直接导致癌症的发生。研究者针对3个肝癌患者的癌组织样本和癌旁组织样本进行lncRNA芯片实验，检测癌组织中转录组的表达变化。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>部分结论</strong></p>
      <ul >
        <li><p class="text-muted">相对于癌旁组织，肝癌组织中533个mRNA表达上调，233个mRNA表达下调。</p></li>
        <li><p class="text-muted">相对于癌旁组织，肝癌组织中451个lncRNA表达上调，243个lncRNA表达下调。</p></li>
        <li><p class="text-muted">691个差异表达lncRNA与2233个mRNA显著共表达，其中150对lncRNA_mRNA共定位共表达。</p></li>
        <li><p class="text-muted">基于共表达，预测了416个lncRNA的功能，而基于功能在网络中的传递预测了694个lncRNA的功能。</p></li>
        <li><p class="text-muted">大部分差异表达的lncRNA与信号转导、细胞粘附、衰老等生物学过程相关。</p></li>
        <li><p class="text-muted">差异表达的lncRNA与p53信号通路、mTOR信号通路和ErbB信号通路密切相关。</p></li>
        <li><p class="text-muted">RNA40488可作为肝癌诊断的标志物之一，其表达失调与细胞骨架、细胞粘附密切相关。</p></li>
      </ul> 

      <img src="/img/technology_service/bioinformatics_integrate/lncRNA_mRNA/image002.jpg" style="width:370px" >
      <img src="/img/technology_service/bioinformatics_integrate/lncRNA_mRNA/image003.jpg" style="width:370px" >      
      <img src="/img/technology_service/bioinformatics_integrate/lncRNA_mRNA/image004.jpg" style="width:370px" >
      <img src="/img/technology_service/bioinformatics_integrate/lncRNA_mRNA/image005.jpg" style="width:370px" >
      <hr style="margin-top:10px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->