<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>DNA甲基化-基因表达整合分析</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">DNA甲基化修饰能通过影响DNA构象、稳定性以及蛋白质相互作用等方式，起到调控基因表达的作用，从而影响一系列重要的生命过程。该整合分析通过DNA甲基化谱联合实验检测的基因表达数据有效锁定表观遗传调控的候选基因，进一步联合转录因子预测，双层面探讨基因表达调控机制，为后续的功能实验提供可靠的筛选依据和方向线索。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">目标锁定：通过DNA甲基化与基因表达整合分析，有效锁定表观遗传调控的候选基因，提高后续功能实验的可靠性。</p></li>
        <li><p class="text-muted">多维组学：联合转录因子调控，从表观遗传组与转录组双层面探讨基因表达调控机制。</p></li>
        <li><p class="text-muted">系统视角：从系统生物学视角，通过网络拓扑学分析、模块挖掘，分析DNA甲基化的基因表达调控机制。</p></li>
      </ul>

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>内容</strong></p>  
      <ul >
        <li><p class="text-muted">样本聚类结果及可视化展示</p></li>
        <li><p class="text-muted">筛选差异表达的基因</p></li>
        <li><p class="text-muted">筛选差异甲基化位点及预测甲基化基因</p></li>
        <li><p class="text-muted">进行转录因子预测及构建转录因子调控网络</p></li>
        <li><p class="text-muted">构建基因间相互作用网络</p></li>
        <li><p class="text-muted">核心基因进行Gene Ontology和KEGG Pathway富集分析</p></li>
        <li><p class="text-muted">差异甲基化位点统计及在基因组染色体的分布展示</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->

    
    <div class="tab-pane fade" id="技术路线">
      <center><img src="/img/technology_service/bioinformatics_integrate/meth_mRNA/image001.jpg" style="width:600px"></center>
    </div><!--技术路线 -->

    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center" style="font-family:微软雅黑"><b>DNA甲基化与男性不育症发生的关联</b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">采样正常男性及不育者睾丸组织，检测DNA甲基化及基因表达程度，整合研究男性不育症中DNA甲基化异常的影响。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <img src="/img/technology_service/bioinformatics_integrate/meth_mRNA/image002.jpg" style="width:650px;margin-left:60px" >

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>部分结论</strong></p>
      <ul >
        <li><p class="text-muted">DNA甲基化异常导致基因表达失衡，从而影响其性功能机制。本研究整合基因表达和DNA甲基化的数据，筛选DNA甲基化异常、差异表达且DNA甲基化和基因表达显著负相关且的基因2597个，其中286个基因存在相互作用。</p></li>
        <li><p class="text-muted">研究结果揭示DNA甲基化异常且表达异常的基因与曲细精管的生长、piRNA的结合能力、参与配子传代的DNA甲基化、染色质小体、piRNA的代谢过程、纤毛或鞭毛运动、前列腺素E刺激的细胞反应等功能相关。</p></li>
        <li><p class="text-muted">DNA甲基化异常调节的基因与钙离子信号通路相关。</p></li>
      </ul> 

      <img src="/img/technology_service/bioinformatics_integrate/meth_mRNA/image004.jpg" style="width:380px" >
      <img src="/img/technology_service/bioinformatics_integrate/meth_mRNA/image005.jpg" style="width:370px" >
      <img src="/img/technology_service/bioinformatics_integrate/meth_mRNA/image003.jpg" style="width:750px" >
      <hr style="margin-top:10px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->