<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>DNA甲基化-microRNA-基因表达整合分析</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">DNA甲基化能通过影响DNA构象、稳定性以及蛋白质相互作用等方式，起到调控基因表达的作用，从而影响一系列重要生命过程。microRNA通过调控基因转录或蛋白翻译来行使功能，与疾病的发生、发展、诊断、治疗及预后密切相关。此外，DNA甲基化修饰与microRNA间亦存在相互调控作用。通过该整合分析，联合DNA甲基化谱、实验检测的基因表达数据和microRNA表达数据，有效地锁定表观遗传调控的候选基因，高可信度地发现DNA甲基化与microRNA对基因表达的联合调控机制，为后续的功能实验提供可靠的筛选依据和方向线索。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">高可信度：结合基因表达与多种算法预测microRNA靶基因，然后进行相关性分析有效锁定表观遗传调控的候选基因，提高后续功能实验的可靠性。</p></li>
        <li><p class="text-muted">多维组学：表观遗传组学、转录组学与基因组学进行多维组学整合， 研究DNA甲基化与microRNA对基因表达的联合调控机制。</p></li>
        <li><p class="text-muted">系统视角：通过联合调控网络拓扑学分析、模块挖掘，从网络整体与局部的结构、组分关系及分布和集团特性来获得对真实系统的更多认知。</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>内容</strong></p>  
      <ul >
        <li><p class="text-muted">筛选差异甲基化基因、差异表达的基因和microRNA</p></li>
        <li><p class="text-muted">构建microRNA-mRNA调控网络、microRNA-GO网络、基因间相互作用网络和转录因子调控网络</p></li>
        <li><p class="text-muted">核心基因进行Gene Ontology和KEGG Pathway富集分析</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->

    
    <div class="tab-pane fade" id="技术路线">
      <center><img src="/img/technology_service/bioinformatics_integrate/meth_microRNA_mRNA/image001.jpg" style="width:600px"></center>
    </div><!--技术路线 -->

    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center" style="font-family:微软雅黑"><b>乳腺癌细胞系中DAN甲基化与microRNA调控机制研究</b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">已知或预测所得miR-26a, miR-26b等特定miRs对DNMT3b具有调控作用。选取超甲基化与去甲基化的乳腺癌细胞系，检测其中microRNA表达、基因表达及DNA甲基化程度，整合研究DNA甲基化与microRNA的联合调控机制。</p>
      <hr style="margin-top:0px;margin-bottom:8px">
      
      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>部分结论</strong></p>
      <ul >
        <li><p class="text-muted">对细胞系中甲基化敏感基因的表达水平、甲基化程度和microRNA的表达水平进行联合分析。发现microRNA的表达与甲基化敏感基因的表达呈负相关关系（r=-0.66, p=0.0056），且与其甲基化程度成正向关联（r=0.72, p=0.002）。</p></li>
        <li><p class="text-muted">发现microRNA在超甲基化乳腺癌细胞系中的表达比在去甲基化乳腺癌细胞系中的表达低。</p></li>
        <li><p class="text-muted">进行microRNA转染后，发现超甲基化乳腺癌细胞系中甲基化敏感基因DNMT3b的表达明显下降，而去甲基化的细胞系中甲基化敏感基因的表达无此现象。</p></li>
      </ul> 
    
      <img src="/img/technology_service/bioinformatics_integrate/meth_microRNA_mRNA/image002.jpg" style="width:370px" >
      <img src="/img/technology_service/bioinformatics_integrate/meth_microRNA_mRNA/image003.jpg" style="width:370px" >
      <img src="/img/technology_service/bioinformatics_integrate/meth_microRNA_mRNA/image004.jpg" style="width:380px" >
      <img src="/img/technology_service/bioinformatics_integrate/meth_microRNA_mRNA/image005.jpg" style="width:370px" >
      <hr style="margin-top:10px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->      
