<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>microRNA、降解组和转录组整合分析</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><big><b style="font-family:微软雅黑">服务简介</b></big></a></li>
    <li><a href="#技术路线" data-toggle="tab" data-hover="dropdown"><big><b style="font-family:微软雅黑">技术路线</b></big></a></li>
    <li><a href="#案例介绍" data-toggle="tab" data-hover="dropdown"><big><b style="font-family:微软雅黑">案例介绍</b></big></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">microRNA广泛参与生物体的细胞增殖、凋亡、发育与代谢等重要生命过程，且与植物的生长发育、逆境胁迫等生理过程密切相关。通过该整合分析，可进行已知microRNA的鉴定和新microRNA的预测，并且基于降解组测序数据进行microRNA靶标的预测和鉴定，结合转录组表达数据进行相关性分析，从而提高研究microRNA靶基因的准确性，发现microRNA在生物体内的调控网络及作用模块，从而为后续的功能实验提供可靠的筛选依据和方向线索。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">高可信度：多种算法预测与降解组测序实验鉴定相结合，提高研究microRNA-靶基因关系的准确性。</p></li>
        <li><p class="text-muted">分析严谨：层次丰富：整合small RNA、转录组和降解组研究microRNA的调控机制，并可以发现新的microRNA。</p></li>
        <li><p class="text-muted">系统视角：从系统生物学视角，通过网络拓扑学分析、模块挖掘，分析microRNA与靶基因的作用机制和功能。</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>内容</strong></p>  
      <ul >
        <li><p class="text-muted">microRNA、降解组和转录组数据差异表达分析、功能富集分析</p></li>
        <li><p class="text-muted">microRNA靶基因预测与鉴定、microRNA序列保守性分析、相关性分析等</p></li>
        <li><p class="text-muted">microRNA-靶基因表达调控网络构建，网络模块挖掘和功能分析</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">
    </div><!--服务简介 -->
    
    <div class="tab-pane fade" id="技术路线">
      <center><img src="/img/technology_service/bioinformatics_integrate/microRNA_degr_tran/image001.jpg" style="width:600px"></center>
    </div><!--技术路线 -->

    <div class="tab-pane fade" id="案例介绍">

      <h4 align="center"  style="font-family:微软雅黑"><b>研究毛果杨干旱应答的分子机制</b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">microRNA与植物生长发育和应激反应相关，本研究利用高通量测序技术研究microRNA在植物干旱耐受条件下的应答分子机制。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>部分结论</strong></p>
      <ul >
        <li><p class="text-muted" >从毛果杨茎、叶、芽等提取组织进行高通量测序，预测得到65个新的microRNA。</p></li>
        <li><p class="text-muted" >最终发现5个上调表达miRNAs(miR159a-c, miR472a, miR472b, miR473a, and miRn5)和7个下调表达的miRNAs(miR160a-d, miR164a-e, miR394a/b-5p, miR408, miR1444b-c, miRn6, and miRn16)参与了毛果杨的干旱应答。</p></li>
        <li><p class="text-muted" >降解组测序获取72个microRNA靶基因，其参与的生物学功能包括应激反应、氧化还原反应、转录调节、葡萄糖和脂质代谢等。</p></li>
      </ul>

      <img src="/img/technology_service/bioinformatics_integrate/microRNA_degr_tran/image002.jpg" style="width:260px" >
      <img src="/img/technology_service/bioinformatics_integrate/microRNA_degr_tran/image003.jpg" style="width:270px;margin-left:40px" >
      <img src="/img/technology_service/bioinformatics_integrate/microRNA_degr_tran/image004.jpg" style="width:260px" >
      <img src="/img/technology_service/bioinformatics_integrate/microRNA_degr_tran/image005.jpg" style="width:260px;margin-left:40px" >
      <hr style="margin-top:10px;margin-bottom:8px">

    </div>


  </div><!--myTabContent -->



</div><!--bs-example -->