<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>microRNA-mRNA整合分析</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">
      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">microRNA广泛参与生物体的细胞增殖、凋亡、发育与代谢等重要生命过程，且与疾病的发生、发展、诊断、治疗及预后密切相关。通过该整合分析，可联合实验检测的基因表达数据及生物信息学预测的靶基因关系，高可信度地发现microRNA在生物体内的调控关系网络及microRNA的作用模块，从而为后续的功能实验提供可靠的筛选依据和方向线索。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted" >高可信度：结合多种算法预测和表达谱实验分析microRNA的靶基因，提高后续功能实验的可靠性。</p></li>
        <li><p class="text-muted" >层次丰富：把microRNA，基因和蛋白水平的各种相互作用或调控关系进行整合。</p></li>
        <li><p class="text-muted" >系统视角：从系统生物学视角，通过网络拓扑学分析、模块挖掘，分析microRNA与靶基因的作用机制和功能。</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>内容</strong></p>  
      <ul >
        <li><p class="text-muted">样本聚类结果及可视化展示</p></li>
        <li><p class="text-muted">差异表达基因和microRNA列表及其功能分析</p></li>
        <li><p class="text-muted">microRNA-靶基因调控关系</p></li>
        <li><p class="text-muted">microRNA调控网络构建、模块挖掘与功能分析</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>常见问题</strong></p>
      <ul >
        <li><p class="text-muted" style="font-family:微软雅黑;line-height:20px">为什么需要进行整合分析？</p>
          <p class="text-muted" style="font-family:微软雅黑;line-height:20px">microRNA通过调控基因转录或蛋白翻译来行使功能，联合microRNA和基因表达数据，通过生物信息学预测进行关联，可整合多组学信息提高microRNA调控机制研究的深度和可信度，为功能实验提供可靠依据。</p>
        </li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->
    
    <div class="tab-pane fade" id="技术路线">
      <center><img src="/img/technology_service/bioinformatics_integrate/microRNA_mRNA/image001.jpg" style="width:600px"></center>
    </div><!--技术路线 -->

    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center"  style="font-family:微软雅黑"><b>急性呼吸窘迫综合征相关的microRNA调控机制研究</b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">
      
      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">采样大鼠正常和疾病模型肺组织，检测microRNA及基因表达，整合研究急性呼吸窘迫综合征中microRNA的作用。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>部分结论</strong></p>
      <ul >
        <li><p class="text-muted" >microRNA失调导致其靶基因表达失衡，从而影响其功能机制。本研究采用表达谱与多种算法联合的方式，检测出急性呼吸窘迫综合征相关的133个microRNA及其1011个靶基因。</p></li>
        <li><p class="text-muted" >研究结果揭示差异表达的microRNA靶基因与正向调控 interleukin-23 的合成、脂多糖的细胞应答、调节MHC-Ⅱ的合成过程、糖皮质激素刺激应答、正向调控细胞因子的产生等功能及金黄葡萄球菌感染通路相关。</p></li>
        <li><p class="text-muted" >研究结果显示潜在标志物之一，rno-miR-186调控的靶基因与细胞因子刺激应答、免疫效应过程、内源性刺激应答、调节细胞增殖、调节凋亡过程、正向调节T细胞活化等功能相关。</p></li>
      </ul> 

      <img src="/img/technology_service/bioinformatics_integrate/microRNA_mRNA/image002.jpg" style="width:500px;margin-left:60px" >
      <img src="/img/technology_service/bioinformatics_integrate/microRNA_mRNA/image003.jpg" style="width:250px ;margin-left:60px" >
      <img src="/img/technology_service/bioinformatics_integrate/microRNA_mRNA/image004.jpg" style="width:250px" >
      <hr style="margin-top:10px;margin-bottom:8px">

    </div><!--案例介绍 -->

  </div><!--myTabContent -->

</div><!--bs-example -->