<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>microRNA、转录组和蛋白质组整合分析</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">microRNA广泛参与生物体的细胞增殖、凋亡、发育 与代谢等重要生命过程，且与疾病的发生、发展、诊断、治疗及预后密切相关。microRNA不仅调控基因在转录组层面的表达，还可以调控基因在蛋白翻译层次的表达。该整合分析可将microRNA调控基因表达模式在转录和翻译层次进行分类，并发现microRNA在生物体内的真实调控关系网络及microRNA作用模块，可系统性、多层次地联合研究microRNA调控基因表达的分子机制，从而为后续的功能实验提供可靠的筛选依据和方向线索。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">准确率高：多种算法预测结合microRNA-基因表达相关性分析，提高microRNA靶基因研究的准确性。</p></li>
        <li><p class="text-muted">层次丰富：在基因转录和蛋白翻译两个层次研究microRNA调控基因表达的机制。</p></li>
        <li><p class="text-muted">关联性强：不仅体现了microRNA与靶基因的调控关系，也体现了基因表达在转录水平和蛋白水平的关联。</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>内容</strong></p>  
      <ul >
        <li><p class="text-muted">筛选差异表达的microRNA、mRNA和蛋白质</p></li>
        <li><p class="text-muted">预测microRNA的靶基因</p></li>
        <li><p class="text-muted">microRNA-mRNA、microRNA-蛋白表达相关性分析和表达调控模式分类</p></li>
        <li><p class="text-muted">筛选仅抑制基因转录、仅抑制蛋白翻译和既抑制基因转录也抑制蛋白翻译的3类microRNA</p></li>
        <li><p class="text-muted">构建microRNA-target调控网络，并对网络进行分析</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->

    
    <div class="tab-pane fade" id="技术路线">
      <center><img src="/img/technology_service/bioinformatics_integrate/microRNA_tran_prot/image001.jpg" style="width:600px"></center>
    </div><!--技术路线 -->


    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center" style="font-family:微软雅黑"><b>中国仓鼠卵细胞生长过程中</br>microRNA在转录及蛋白翻译水平的基因表达调控机制</b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">本研究检测得到中国仓鼠卵细胞生长过程中转录组表达（microRNA & mRNA，使用相应芯片）和蛋白质表达（使用LC-MS/MS技术）数据。通过整合分析阐述microRNA在转录及蛋白翻译水平的基因表达调控机制。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>部分结论</strong></p>
      <ul >
        <li><p class="text-muted">研究发现与51个促进细胞生长率的microRNA（35个表达上调16个表达下调），对差异表达的基因和蛋白进行功能富集分析，得到RNA合成、RNA剪切、翻译等细胞生长相关的生物学过程。</p></li>
        <li><p class="text-muted">研究显示，一部分microRNA的表达量随着生长率的加快增加 ，其靶基因的表达量在蛋白水平显著下降 ；一部分microRNA表达量随着生长率的加快减少，其靶基因的表达量在蛋白水平显著增加。但靶基因的表达在转录水平均无显著变化，因此该研究显示microRNA在转录后抑制蛋白的翻译。</p></li>
        <li><p class="text-muted">研究发现miR-17-92 cluster可促进生长率的加快，同时抑制部分靶基因的转录后翻译。</p></li>
      </ul> 

      <img src="/img/technology_service/bioinformatics_integrate/microRNA_tran_prot/image002.jpg" style="width:270px">
      <img src="/img/technology_service/bioinformatics_integrate/microRNA_tran_prot/image003.jpg" style="width:290px;margin-left:60px" >
      <img src="/img/technology_service/bioinformatics_integrate/microRNA_tran_prot/image004.jpg" style="width:230px;margin-left:10px" >
      <img src="/img/technology_service/bioinformatics_integrate/microRNA_tran_prot/image005.jpg" style="width:300px;margin-left:100px" >
      <hr style="margin-top:10px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->