<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>蛋白质组和代谢组整合分析</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">代谢组学作为基因组、转录组和蛋白组的“终端”，研究的是生物整体、器官或组织的内源性代谢物质的代谢途径，及其受内在或外在因素影响下随时间变化的规律。而蛋白质则是生命活动的执行者，机体内大多数的代谢活动均需要蛋白酶的参与。蛋白质组和代谢组的整合分析能够更直接、准确地反映生物体的病理和生理状态，系统性研究生物体代谢规律和代谢网络，因此已成为生物标志物发现、代谢变化规律和代谢调控机制研究的必然趋势。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">层次丰富：整合蛋白质组和代谢组学数据可以更全面地了解生物体的代谢系统。</p></li>
        <li><p class="text-muted">系统视角：从生物整体出发，结合生物体代谢过程中所需的蛋白酶，构建酶-代谢物网络。</p></li>
        <li><p class="text-muted">定制化强：可根据用户特殊研究需求提供定制的整合分析。</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>内容</strong></p>  
      <ul >
        <li><p class="text-muted">差异代谢物鉴定和筛选，差异表达蛋白质分析</p></li>
        <li><p class="text-muted">代谢物的通路富集分析及功能富集分析</p></li>
        <li><p class="text-muted">从代谢通路获取酶-代谢物关系对并构建网络</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->

    
    <div class="tab-pane fade" id="技术路线">
      <center><img src="/img/technology_service/bioinformatics_integrate/prot_metab/image001.jpg" style="width:600px"></center>
    </div><!--技术路线 -->

    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center" style="font-family:微软雅黑"><b>从代谢途径研究小鼠焦虑行为产生的分子机制</b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">结合蛋白质组和代谢组研究高度焦虑小鼠(HAB)、中度焦虑小鼠(NAB)和低焦虑小鼠(LAB)的行为发生机制。利用<sup>15</sup>N标记和质谱检验比较HAB和LAB两组小鼠的扣带回突触体蛋白质组，以及三组小鼠的扣带回代谢物。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>部分结论</strong></p>
     <ul >
        <li><p class="text-muted">实验检测得到264个在两组中显著差异的蛋白质和11个在三组中显著差异的代谢物。</p></li>
        <li><p class="text-muted">研究结果显示，HAB和LAB小鼠在能量代谢、线粒体进入和运输过程、氧化应激和神经传递等通路中存在显著差异。</p></li>
        <li><p class="text-muted">研究显示参与电子传递链(ETC)的蛋白的高表达，将增加氧化应激产物 ，而线粒体的改变会影响三磷酸腺苷供应和钙调节模块中的神经传递，从而产生焦虑行为。</p></li>
      </ul> 

      <img src="/img/technology_service/bioinformatics_integrate/prot_metab/image002.jpg" style="width:400px" >
      <img src="/img/technology_service/bioinformatics_integrate/prot_metab/image003.jpg" style="width:340px" >      
      <img src="/img/technology_service/bioinformatics_integrate/prot_metab/image004.jpg" style="width:400px" >
      <img src="/img/technology_service/bioinformatics_integrate/prot_metab/image005.jpg" style="width:340px" >
      <hr style="margin-top:10px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->