<head>
  <style type="text/css">
    /*body{ background-color:#f6f5ec;}*/
  </style>
</head>

<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>转录因子-microRNA-基因表达整合分析</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab" data-hover="dropdown"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab" data-hover="dropdown"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">
      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">该整合分析从microRNA和基因表达数据出发，筛选实验检测的microRNA和mRNA，分别进行转录因子 (transcription factor, TF)靶基因预测和 microRNA靶基因预测，识别转录因子和microRNA共同调节的靶基因，构建 microRNA-TF共调控网络 ，分析网络模块功能。加深了转录调控研究的深度和广度。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted" >多层次：从转录因子转录调控和microRNA转录后调控两个层面研究基因表达的调控机制。</p></li>
        <li><p class="text-muted" >关联性：microRNA和转录因子共调控网络不仅体现了microRNA-gene的靶向关系、转录因子-gene的靶标关系，还体现了microRNA-转录因子间的相互作用。</p></li>
        <li><p class="text-muted" >系统性：构建联合调控网络，从系统生物学角度研究基因表达的调控机制和反馈机制。</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>内容</strong></p>
      <ul >
        <li><p class="text-muted" >差异表达的microRNA和mRNA筛选</p></li>
        <li><p class="text-muted" >转录因子和microRNA的靶基因预测</p></li>
        <li><p class="text-muted" >识别microRNA和转录因子可能构成的前馈环</p></li>
        <li><p class="text-muted" >构建microRNA-TF共调控网络</p></li>
        <li><p class="text-muted" >microRNA-TF-gene模块挖掘及功能分析</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->
    
    <div class="tab-pane fade" id="技术路线">
      <center><img src="/img/technology_service/bioinformatics_integrate/tf_microRNA_mRNA/image001.jpg" style="width:600px"></center>
    </div><!--技术路线 -->

    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center"  style="font-family:微软雅黑"><b>microRNA – 转录因子共调控网络对骨肉瘤细胞增生的影响</b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>细胞增生是骨肉瘤发病机理中一个必要环节，其中一些基因在调控网络的影响下表达和功能发生了急剧变化。此研究不仅给出了骨肉瘤治疗的潜在靶标，还展示了复杂疾病研究的系统生物学方法。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>部分结论</strong></p>
      <ul >
        <li><p class="text-muted">基于microRNA和基因表达数据，筛选到12个与细胞增生相关的microRNAs，及这部分microRNA的靶基因。</p></li>
        <li><p class="text-muted">对候选的microRNA和靶基因进行转录因子预测，识别microRNA和转录因子可能构成的前馈环。</p></li>
        <li><p class="text-muted">最后，构建了一个由miR-9-5p、miR-138、miR-214、转录因子SP1和MYC，及靶基因CDK6、CTNNB1、E2F4、HES1等组成的骨肉瘤的细胞增生模型。</p></li>
      </ul> 

      <img src="/img/technology_service/bioinformatics_integrate/tf_microRNA_mRNA/image002.jpg" style="width:720px" >
      <img src="/img/technology_service/bioinformatics_integrate/tf_microRNA_mRNA/image003.jpg" style="width:200px" >      
      <img src="/img/technology_service/bioinformatics_integrate/tf_microRNA_mRNA/image004.jpg" style="width:230px" >
      <img src="/img/technology_service/bioinformatics_integrate/tf_microRNA_mRNA/image005.jpg" style="width:150px" >
      <img src="/img/technology_service/bioinformatics_integrate/tf_microRNA_mRNA/image006.jpg" style="width:300px" >
      <img src="/img/technology_service/bioinformatics_integrate/tf_microRNA_mRNA/image007.jpg" style="width:300px" >
      <hr style="margin-top:10px;margin-bottom:8px">

    </div><!--案例介绍 -->

  </div><!--myTabContent -->

</div><!--bs-example -->