<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>转录组和蛋白质组整合分析</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>
  
  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">从DNA、RNA到蛋白质的过程中涉及到一系列的表达调控机制，如转录调控、转录后调控、翻译调控和翻译后修饰等。因此，同步检测RNA和蛋白质的表达量，进行整合分析，精细描绘关键基因的表达模式，可全面探究生物体疾病机理、环境应激和生长发育等机制。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">关联性：整合分析体现了分子调控信息从RNA->Protein的传递过程，真实反应了基因表达在转录层面和蛋白层面的定性与定量关联。</p></li>
        <li><p class="text-muted">分析严谨：转录组和蛋白质组定性与定量关联分析，不仅考虑了RNA和蛋白的理化特征及检测技术的影响，还考虑了蛋白分类对关联性的影响。</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>内容</strong></p>  
      <ul >
        <li><p class="text-muted">mRNA和Protein差异表达、功能富集分析</p></li>
        <li><p class="text-muted">mRNA和Protein定性关联分析</p></li>
        <li><p class="text-muted">mRNA和Protein定量关联分析</p></li>
        <li><p class="text-muted">mRNA和Protein表达模式分析</p></li>
        <li><p class="text-muted">蛋白质-蛋白质相互作用网络</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->

    
    <div class="tab-pane fade" id="技术路线">
      <center><img src="/img/technology_service/bioinformatics_integrate/tran_prot/image001.jpg" style="width:600px"></center>
    </div><!--技术路线 -->

    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center" style="font-family:微软雅黑"><b>结直肠腺癌的转录组-定量蛋白质组整合分析</b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">选取30例结直肠腺癌，及配对的正常黏膜和5个结直肠癌上皮细胞系进行转录组基因表达芯片和蛋白质组iTRAQ实验。</p> 
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>部分结论</strong></p>
     <ul >
        <li><p class="text-muted">结直肠腺癌组织样本中鉴定到4325个不同的蛋白，结直肠癌上皮细胞系中鉴定到2017个蛋白。</p></li>
        <li><p class="text-muted">212个基因在蛋白层次和转录层次均显著差异表达(q<0.02 & FC > |1.4|)，且表达相关性r=0.74。</p></li>
        <li><p class="text-muted">51个蛋白在结直肠腺癌和癌细胞系中具有相同的差异表达趋势。</p></li>
        <li><p class="text-muted">多元醇代谢通路中山梨酸脱氢酶(SORD)、醛糖还原酶(AKR1B1)和已酮糖激酶(KHK)在腺癌中表达发生了显著的变化。</p></li>
        <li><p class="text-muted">多元醇代谢通路的失调可能是一个新的结直肠腺癌发生机制。</p></li>
      </ul> 

      <img src="/img/technology_service/bioinformatics_integrate/tran_prot/image002.jpg" style="width:360px" >
      <img src="/img/technology_service/bioinformatics_integrate/tran_prot/image003.jpg" style="width:370px" >      
      <hr style="margin-top:10px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->