<div class="container marketing">

  <h4 align="left" class="lead text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;margin-top:0px;padding-bottom:10px"><strong>多维组学整合分析</strong></h4>
  <p style="text-indent:2em;line-height:25px" class="text-muted">各组学数据纵向整合分析，从系统生物学和生物分子网络角度研究人类生命过程，提高组学研究深度和可信度，为功能实验提供可靠的筛选依据和方向线索。</p>

  <div class="row" style="margin-top:20px">

    <div class="col-lg-6 pull-left">
      <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong><a href="/technology_service/bioinformatics_integrate/microRNA_mRNA">microRNA-mRNA整合</a></strong></h5>
      <div class="row" style="margin-top:10px">
        <div class="col-lg-4 pull-left">
          <a href="/technology_service/bioinformatics_integrate/microRNA_mRNA"><img src="/img/technology_service/bioinformatics_integrate/first/img01.jpg" ></a>  
        </div>
        <div class="col-lg-8">
          <a href="/technology_service/bioinformatics_integrate/microRNA_mRNA">整合microRNA和mRNA表达谱高可信度地研究microRNA调控机制......</a>
        </div>
      </div> 
    </div>

    <div class="col-lg-6 pull-left">
      <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong><a href="/technology_service/bioinformatics_integrate/tf_microRNA_mRNA">转录因子-microRNA-mRNA整合</a></strong></h5>
      <div class="row" style="margin-top:10px">
        <div class="col-lg-4 pull-left">
          <a href="/technology_service/bioinformatics_integrate/tf_microRNA_mRNA"><img src="/img/technology_service/bioinformatics_integrate/first/img02.jpg"></a>
        </div>
        <div class="col-lg-8">
          <a href="/technology_service/bioinformatics_integrate/tf_microRNA_mRNA">microRNA和转录因子联合调控基因表达的机制研究......</a>
        </div>
      </div> 
    </div>

    <div class="col-lg-6 pull-left">
      <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong><a href="/technology_service/bioinformatics_integrate/microRNA_degr_tran">microRNA-降解组-转录组整合</a></strong></h5>
      <div class="row" style="margin-top:10px">
        <div class="col-lg-4 pull-left">
          <a href="/technology_service/bioinformatics_integrate/microRNA_degr_tran"><img src="/img/technology_service/bioinformatics_integrate/first/img03.jpg"></a>
        </div>
        <div class="col-lg-8">
          <a href="/technology_service/bioinformatics_integrate/microRNA_degr_tran">发现新的microRNA并通过降解组提高microRNA-靶基因研究的可靠性......</a>
        </div>
      </div>     
    </div>

    <div class="col-lg-6 pull-left">
      <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong><a href="/technology_service/bioinformatics_integrate/microRNA_tran_prot">microRNA-转录组-蛋白质组整合</a></strong></h5>
      <div class="row" style="margin-top:10px">
        <div class="col-lg-4 pull-left">
          <a href="/technology_service/bioinformatics_integrate/microRNA_tran_prot"><img src="/img/technology_service/bioinformatics_integrate/first/img04.jpg" ></a>
          <p></p>
        </div>
        <div class="col-lg-8">
          <a href="/technology_service/bioinformatics_integrate/microRNA_tran_prot">从转录和翻译水平多层次研究microRNA调控基因表达的分子机制......</a>
        </div>
      </div> 
    </div>

    <div class="col-lg-6 pull-left">
      <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong><a href="/technology_service/bioinformatics_integrate/lncRNA_mRNA">lncRNA-mRNA整合</a></strong></h5>
      <div class="row" style="margin-top:10px">
        <div class="col-lg-4 pull-left">
          <a href="/technology_service/bioinformatics_integrate/lncRNA_mRNA"><img src="/img/technology_service/bioinformatics_integrate/first/img05.jpg" ></a>
        </div>
        <div class="col-lg-8">
          <a href="/technology_service/bioinformatics_integrate/lncRNA_mRNA">整合基因表达深入研究Long non-coding RNA的分子功能......</a>
        </div>
      </div> 
    </div>

    <div class="col-lg-6 pull-left">
      <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong><a href="/technology_service/bioinformatics_integrate/meth_mRNA">甲基化-mRNA整合</a></strong></h5>
      <div class="row" style="margin-top:10px">
        <div class="col-lg-4 pull-left">
          <a href="/technology_service/bioinformatics_integrate/meth_mRNA"><img src="/img/technology_service/bioinformatics_integrate/first/img06.jpg" ></a>
        </div>
        <div class="col-lg-8">
          <a href="/technology_service/bioinformatics_integrate/meth_mRNA">通过数据整合可靠地揭示DNA甲基化表观遗传调控基因表达......</a>
        </div>
      </div> 
    </div>

    <div class="col-lg-6 pull-left">
      <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong><a href="/technology_service/bioinformatics_integrate/meth_microRNA_mRNA">甲基化-microRNA-mRNA整合</a></strong></h5>
      <div class="row" style="margin-top:10px">
        <div class="col-lg-4 pull-left" >
          <a href="/technology_service/bioinformatics_integrate/meth_microRNA_mRNA"><img src="/img/technology_service/bioinformatics_integrate/first/img07.jpg" ></a>
        </div>
        <div class="col-lg-8">
          <a href="/technology_service/bioinformatics_integrate/meth_microRNA_mRNA">高可信度地研究DNA甲基化和microRNA联合调控基因表达的机制......</a>
        </div>
      </div> 
    </div>

    <div class="col-lg-6 pull-left">
      <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong><a href="/technology_service/bioinformatics_integrate/tran_prot">转录组-蛋白质组整合</a></strong></h5>
      <div class="row" style="margin-top:10px">
        <div class="col-lg-4 pull-left" >
          <a href="/technology_service/bioinformatics_integrate/tran_prot"><img src="/img/technology_service/bioinformatics_integrate/first/img08.jpg" ></a>
        </div>
        <div class="col-lg-8">
          <a href="/technology_service/bioinformatics_integrate/tran_prot">基因转录水平和蛋白水平表达模式的关联研究......</a>
        </div>
      </div> 
    </div>

    <div class="col-lg-6 pull-left">
      <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong><a href="/technology_service/bioinformatics_integrate/prot_metab">蛋白质组-代谢组整合</a></strong></h5>
      <div class="row" style="margin-top:10px">
        <div class="col-lg-4 pull-left">
          <a href="/technology_service/bioinformatics_integrate/prot_metab"><img src="/img/technology_service/bioinformatics_integrate/first/img09.jpg" ></a>
        </div>
        <div class="col-lg-8">
          <a href="/technology_service/bioinformatics_integrate/prot_metab">从代谢途径（含代谢物及蛋白质）更准确地分析生物体的病理生理状态......</a>
        </div>
      </div> 
    </div>
  </div>   
</div>
