<div class="bs-example bs-example-tabs" style="margin-top:-20px">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>常规实验</strong></h3>
  <hr style="margin-top:0px;margin-bottom:8px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#PCR" data-toggle="tab"><strong style="font-size:120%;">PCR</strong></a></li>
    <li><a href="#RT-PCR" data-toggle="tab" data-hover="dropdown"><strong style="font-size:120%;color:orange">RT-PCR</strong></a></li>
    <li><a href="#Western-blot" data-toggle="tab" data-hover="dropdown"><strong style="font-size:120%;">Western-blot</strong></a></li>     
    <li><a href="#免疫组化" data-toggle="tab" data-hover="dropdown"><strong style="font-size:120%;color:orange">免疫组化</strong></a></li>     
  </ul>

  
  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="PCR">

			<p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>简介</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">PCR技术，即聚合酶链反应(polymerase chain reaction，PCR)是由美国PE Cetus公司的Kary Mullis在1983年（1993年获诺贝尔化学奖）建立的。这项技术可在试管内经数小时反应就将特定的DNA片段扩增数百万倍，这种迅速获取大量单一核酸片段的技术在分子生物学研究中具有举足轻重的意义，极大地推动了生命科学的研究进展。</p>
    	<hr style="margin-top:0px;margin-bottom:8px">

			<p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>基本原理</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">类似于DNA的天然复制过程，其特异性依赖于与靶序列两端互补的寡核苷酸引物。PCR由变性--退火--延伸三个基本反应步骤构成：①模板DNA的变性：模板DNA经加热至93℃左右一定时间后，使模板DNA双链或经PCR扩增形成的双链DNA解离，使之成为单链，以便它与引物结合，为下轮反应作准备；②模板DNA与引物的退火(复性)：模板DNA经加热变性成单链后，温度降至55℃左右，引物与模板DNA单链的互补序列配对结合；③引物的延伸：DNA模板--引物结合物在TaqDNA聚合酶的作用下，以dNTP为反应原料，靶序列为模板，按碱基配对与半保留复制原理，合成一条新的与模板DNA 链互补的半保留复制链重复循环变性--退火--延伸三过程，就可获得更多的“半保留复制链”，而且这种新链又可成为下次循环的模板。每完成一个循环需2～4分钟，2～3小时就能将待扩目的基因扩增放大几百万倍。到达平台期(Plateau)所需循环次数取决于样品中模板的拷贝。</p>
    	<hr style="margin-top:0px;margin-bottom:8px">

    </div><!--PCR -->
    
    <div class="tab-pane fade" id="RT-PCR">

			<p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>简介</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">RT-PCR检测服务中采用SYBR Green染料法/探针法进行RT-PCR相对定量检测服务，即用已知管家基因做为内参照，根据目的基因和管家基因的相对表达作为定量的最后结果。</p>
    	<hr style="margin-top:0px;margin-bottom:8px">

			<p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>服务内容</strong></p>
      <ol >
        <li><p class="text-muted">RNA提取质量检测电泳图</p></li>
        <li><p class="text-muted">RT-PCR扩增曲线示例（三重复避免系统误差）</p></li>
        <li><p class="text-muted">RT-PCR数据分析示例（计算组内误差）</p></li>          
        <li><p class="text-muted">RT-PCR结果柱状图示例（检测干扰效率）</p></li>          
        <li><p class="text-muted">靶基因与内参溶解曲线图（检测扩增质量）</p></li>          
        <li><p class="text-muted">DNA片段扩增质量检测电泳图</p></li>          
      </ol>
    	<hr style="margin-top:0px;margin-bottom:8px">

			<p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>结果展示</strong></p>
    	<center><img src="/img/technology_service/experimental_service/image002-1.jpg" style="width:650px;margin-top:10px"></center>
    	<center><img src="/img/technology_service/experimental_service/image002-2.jpg" style="width:650px;margin-top:10px"></center>
    	<hr style="margin-top:0px;margin-bottom:8px">

    </div><!--RT-PCR -->


    <div class="tab-pane fade" id="Western-blot">

			<p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>简介</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">Western Blot即蛋白免疫印迹，是根据抗原抗体的特异性结合检测样品中某种蛋白的方法。其利用SDS-PAGE的高分辨力和固相免疫测定的高特异性和敏感性，保证了快速、准确的检测，对蛋白进行定性和半定量分析。</p>
    	<hr style="margin-top:0px;margin-bottom:8px">

			<p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>原理</strong></p>
      <ol >
        <li><p class="text-muted">蛋白分离原理</p></li>
        	<p class="text-muted">样品在含有强还原剂的SDS溶液中加热处理后，蛋白质发生变性和解离，形成带负电荷的SDS-蛋白质复合物。这种复合物由于结合大量的SDS，电泳时在凝胶中的迁移率不再受蛋白质原有电荷和形状的影响，而主要取决于蛋白质分子量。</p>
      	
        <li><p class="text-muted">抗体检测原理</p></li>
        	<p class="text-muted">通过SDS-PAGE按照分子量大小分离蛋白质样品，转移到PVDF膜或NC膜上，以膜上的蛋白质或多肽作为抗原，与对应的抗体（一抗）起免疫反应，一抗再与酶标记的抗体（二抗）起抗原抗体反应，最后底物化学发光显色检测电泳分离的特异性目的蛋白成分。</p>
      </ol>
    	<hr style="margin-top:0px;margin-bottom:8px">

			<p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>实验流程</strong></p>
    	<center><img src="/img/technology_service/experimental_service/image003-1.jpg" style="width:650px;margin-top:10px"></center>
    	<hr style="margin-top:0px;margin-bottom:8px">

			<p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>结果展示</strong></p>
    	<center><img src="/img/technology_service/experimental_service/image003-2.jpg" style="width:250px;margin-top:10px">
    	<img src="/img/technology_service/experimental_service/image003-3.jpg" style="width:450px;margin-top:10px"></center>
      <center><p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted"><b>图中显示4条筛选序列中，3号序列干扰效果较好</b></p></center>
    	<hr style="margin-top:0px;margin-bottom:8px">

    </div><!--Western-blot -->

    
    <div class="tab-pane fade" id="免疫组化">

			<p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>简介</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">用标记的特异性抗体对组织切片或细胞标本中某些化学成分的分布和含量进行组织和细胞原位定性、定位或定量研究，这种技术称为免疫组织化学(immunohistochemistry)技术或免疫细胞化学(immunocytochemistry)技术。</p>
    	<hr style="margin-top:0px;margin-bottom:8px">

			<p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>原理</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">根据抗原抗体反应和化学显色原理，组织切片或细胞标本中的抗原先和一抗结合，再利用一抗与标记生物素、荧光素等的二抗进行反应，前者再用标记辣根过氧化物酶(HRP)或碱性磷酸酶(AKP)等的抗生物素（如链霉亲和素等）结合，最后通过呈色反应或荧光来显示细胞或组织中化学成分，在光学显微镜或荧光显微镜下可清晰看见细胞内发生的抗原抗体反应产物，从而能够在细胞爬片或组织切片上原位确定某些化学成分的分布和含量。</p>
    	<hr style="margin-top:0px;margin-bottom:8px">

			<p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>特点</strong></p>
      <ol>
        <li><p class="text-muted">特异性强</p></li>
        	<p class="text-muted">免疫学的基本原理决定抗原与抗体之间的结合具有高度特异性，因此，免疫组化从理论上讲也是组织细胞中抗原的特定显示，如角蛋白(keratin)显示上皮成分，LCA显示淋巴细胞成分。只有当组织细胞中存在交叉抗原时，才会出现交叉反应。</p>
      	
        <li><p class="text-muted">敏感性高</p></li>
        	<p class="text-muted">在应用免疫组化的起始阶段，由于技术上的限制，只有直接法、间接法等敏感性不高的技术，那时的抗体只能稀释几倍、几十倍；现在由于ABC法或SP三步法的出现，使抗体稀释上千倍、上万倍甚至上亿倍仍可在组织细胞中与抗原结合，这样高敏感性的抗体抗原反应，使免疫组化方法越来越方便地应用于常规病理诊断工作。</p>
        
        <li><p class="text-muted">定位准确、形态与功能相结合</p></li>
        	<p class="text-muted">该技术通过抗原抗体反应及呈色反应，可在组织和细胞中进行抗原的准确定位，因而可同时对不同抗原在同一组织或细胞中进行定位观察，这样就可以进行形态与功能相结合的研究，对病理学领域开展深入研究是十分有意义的。</p>
      </ol>
    	<hr style="margin-top:0px;margin-bottom:8px">

  </div><!--myTabContent -->

</div><!--bs-example -->



