<div class="container marketing">

  <h4 align="left" class="lead text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;margin-top:0px;padding-bottom:10px"><strong>基因组学服务</strong></h4>

  <p style="text-indent:2em;line-height:25px" class="text-muted">基因组学是研究生物基因组的组成、组内各基因的精确结构、相互关系及表达调控的科学，从基因组水平上对物种的起源、进化、生长、发育、疾病等重大问题进行研究。</p>

  <div class="row" style="margin-top:20px">

    <div class="col-lg-6 pull-left">
      <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong><a href="/technology_service/genomics/genome_reseq">基因组重测序</a></strong></h5>
      <div class="row" style="margin-top:10px">
        <div class="col-lg-4 pull-left">
          <a href="/technology_service/genomics/genome_reseq"><img src="/img/technology_service/genomics/first/img01.jpg" ></a>
        </div>
        <div class="col-lg-8">
          <a href="/technology_service/genomics/genome_reseq">全基因组重测序是对基因组序列已知物种的个体进行基因组测序，并在个体或群体水平进行差异性分析的测序方法......</a>
        </div>
      </div> 
    </div>

    <div class="col-lg-6 pull-left">
      <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong><a href="/technology_service/genomics/novo_seq">基因组de novo测序</a></strong></h5>
      <div class="row" style="margin-top:10px">
        <div class="col-lg-4 pull-left" >
          <a href="/technology_service/genomics/novo_seq"><img src="/img/technology_service/genomics/first/img02.png" ></a>
        </div>
        <div class="col-lg-8">
          <a href="/technology_service/genomics/novo_seq">即从头测序测序，不需要任何参考序列资料即可对某个物种进行测序，用生物信息学分析方法进行拼接、组装，从而获得该物种的基因组序列图谱......</a>
        </div>
      </div> 
    </div>

    <div class="col-lg-6 pull-left">
      <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong><a href="/technology_service/genomics/target_region_seqs">目标区域捕获测序</a></strong></h5>
      <div class="row" style="margin-top:10px">
        <div class="col-lg-4 pull-left">
          <a href="/technology_service/genomics/target_region_seqs"><img src="/img/technology_service/genomics/first/img03.png" ></a>
        </div>
        <div class="col-lg-8">
          <a href="/technology_service/genomics/target_region_seqs">探针对客户感兴趣的蛋白编码区域DNA或某段特定序列进行捕获，富集后进行高通量测序的基因组分析方法......</a>
        </div>
      </div>     
    </div>

    <div class="col-lg-6 pull-left">
      <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong><a href="/technology_service/genomics/exome_seq">外显子组测序</a></strong></h5>
      <div class="row" style="margin-top:10px">
        <div class="col-lg-4 pull-left">
          <a href="/technology_service/genomics/exome_seq"><img src="/img/technology_service/genomics/first/img04.jpg" ></a>
          <p></p>
        </div>
        <div class="col-lg-8">
          <a href="/technology_service/genomics/exome_seq">利用序列捕获或者靶向技术将全基因组外显子区域DNA富集后再进行高通量测序的基因组分析方法......</a>
        </div>
      </div> 
    </div>

    <div class="col-lg-6 pull-left">
      <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong><a href="/technology_service/genomics/aCGH">aCGH芯片</a></strong></h5>
      <div class="row" style="margin-top:10px">
        <div class="col-lg-4 pull-left">
          <a href="/technology_service/genomics/aCGH"><img src="/img/technology_service/genomics/first/img05.jpg" ></a>
        </div>
        <div class="col-lg-8">
          <a href="/technology_service/genomics/aCGH">微阵列比较基因组杂交技术(array-based Comparative Genomic Hybridization, aCGH)，搞分辨率检测基因组拷贝数变化......</a>
        </div>
      </div> 
    </div>

    <div class="col-lg-6 pull-left">
      <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong><a href="/technology_service/genomics/snp">SNP芯片</strong></a></h5>
      <div class="row" style="margin-top:10px">
        <div class="col-lg-4 pull-left">
          <a href="/technology_service/genomics/snp"><img src="/img/technology_service/genomics/first/img06.png" ></a>
        </div>
        <div class="col-lg-8">
          <a href="/technology_service/genomics/snp">检测全基因组或特定SNP位点,寻找与疾病相关的基因及其突变位点，进行遗传连锁分析......</a>
        </div>
      </div> 
    </div>

  </div>
</div>
