<div class="container marketing">
  <h4 align="left" class="lead text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;margin-top:0px;padding-bottom:10px"><strong>代谢组服务</strong></h4>
  <p style="text-indent:2em;line-height:25px" class="text-muted">代谢组学是对某一生物或细胞在一特定生理时期内所有低分子量代谢产物同时进行定性和定量分析。它是以组群指标分析为基础，以高通量检测和数据处理为手段，以信息建模与系统整合为目标的系统生物学的一个分支。</p>

  <div class="row" style="margin-top:20px">

    <div class="col-lg-6 pull-left">
      <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong><a href="/technology_service/metabonomics/nmr">NMR（核磁共振）</a></strong></h5>
      <div class="row" style="margin-top:10px">
        <div class="col-lg-5 pull-left">
          <a href="/technology_service/metabonomics/nmr"><img src="/img/technology_service/metabonomics/first/img01.jpg" ></a>
        </div>
        <div class="col-lg-7">
          <a href="/technology_service/metabonomics/nmr">核磁共振技术(NMR)是代谢组学重要的研究，其通过外加静磁场作用核磁距不为零的原子核，核自旋能级跃进，共振吸收某......</a>
        </div>
      </div> 
    </div>

    <div class="col-lg-6 pull-left">
      <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong><a href="/technology_service/metabonomics/lcms">LC-MS（液相色谱-质谱联用）</a></strong></h5>
      <div class="row" style="margin-top:10px">
        <div class="col-lg-5 pull-left">
          <a href="/technology_service/metabonomics/lcms"><img src="/img/technology_service/metabonomics/first/img02.jpg" ></a>
        </div>
        <div class="col-lg-7">
          <a href="/technology_service/metabonomics/lcms">LC-MS（液相色谱-质谱联用技术），以液相色谱作为分离系统，质谱为检测系统，使样品在质谱部分和流动相分离，被离子化后......</a>
        </div>
      </div> 
    </div>

    <div class="col-lg-6 pull-left">
      <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong><a href="/technology_service/metabonomics/gcms">GC-MS(气相色谱-质谱联用)</a></strong></h5>
      <div class="row" style="margin-top:10px">
        <div class="col-lg-5 pull-left">
          <a href="/technology_service/metabonomics/gcms"><img src="/img/technology_service/metabonomics/first/img03.jpg" ></a>
        </div>
        <div class="col-lg-7">
          <a href="/technology_service/metabonomics/gcms">GC-MS(气相色谱-质谱联用技术)，以气相色谱作为分离系统，质谱为检测系统。使用运载气推动分析物通过涂渍的溶融石英毛细管......</a>
        </div>
      </div>     
    </div>
  </div>
</div>
