<div class="container marketing">

  <h4 align="left" class="lead text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;margin-top:0px;padding-bottom:10px"><strong>蛋白质组服务</strong></h4>
  <p style="text-indent:2em;line-height:25px" class="text-muted">蛋白质组本质上指的是在大规模水平上研究蛋白质的特征，包括蛋白质的表达水平，翻译后的修饰，蛋白与蛋白相互作用等，由此获得蛋白质水平上的关于疾病发生、细胞代谢等过程的整体而全面的认识。</p>

  <div class="row" style="margin-top:20px">

    <div class="col-lg-6 pull-left">
      <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong><a href="/technology_service/proteomics/iTRAQ">iTRAQ蛋白质组</a></strong></h5>
      <div class="row" style="margin-top:10px">
        <div class="col-lg-5 pull-left">
          <a href="/technology_service/proteomics/iTRAQ"><img src="/img/technology_service/proteomics/first/img01.jpg" ></a>
        </div>
        <div class="col-lg-7">
          <a href="/technology_service/proteomics/iTRAQ">iTRAQ技术是IBA公司推出的一项体外同位素标记技术，利用多种同位素试剂标记蛋白多肽N末端或赖氨酸侧链基团......</a>
        </div>
      </div> 
    </div>

    <div class="col-lg-6 pull-left">
      <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong><a href="/technology_service/proteomics/silac">SILAC定量</a></strong></h5>
      <div class="row" style="margin-top:10px">
        <div class="col-lg-5 pull-left">
          <a href="/technology_service/proteomics/silac"><img src="/img/technology_service/proteomics/first/img02.jpg" ></a>
        </div>
        <div class="col-lg-7">
          <a href="/technology_service/proteomics/silac">SILAC(Stable Isotope Labeling with Amino acids in Cell culture)技术是另一种常用的蛋白组定量技术，使用同位素标记的......</a>
        </div>
      </div> 
    </div>
  </div>
</div>
