<h4 align="left" class="lead text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;margin-top:0px;padding-bottom:10px"><strong>转录组服务</strong></h4>
<p style="text-indent:2em;line-height:25px" class="text-muted">转录组学研究对象包括包括mRNA、长链非编码RNA、小RNA等，研究活细胞所能转录出来的所有RNA的总和，是研究细胞表型和功能的一个重要手段。</p>

<div class="row" style="margin-top:20px">

  <div class="col-lg-6 pull-left">
    <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong><a href="/technology_service/transcriptomics/rna_seq">转录组测序</a></strong></h5>
    <div class="row" style="margin-top:10px">
      <div class="col-lg-4 pull-left">
        <a href="/technology_service/transcriptomics/rna_seq"><img src="/img/technology_service/transcriptomics/first/img01.jpg" ></a>
      </div>
      <div class="col-lg-8">
        <a href="/technology_service/transcriptomics/rna_seq">利用高通量测序技术，获得特定样品在某一功能状态下转录出来的所有RNA的总和......</a>
      </div>
    </div> 
  </div>

  <div class="col-lg-6 pull-left">
    <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong><a href="/technology_service/transcriptomics/dge_seq">数字基因表达谱测序</a></strong></h5>
    <div class="row" style="margin-top:10px">
      <div class="col-lg-4 pull-left" >
        <a href="/technology_service/transcriptomics/dge_seq"><img src="/img/technology_service/transcriptomics/first/img02.jpg" ></a>
      </div>
      <div class="col-lg-8">
        <a href="/technology_service/transcriptomics/dge_seq">数字基因表达谱分析是直接对某一物种或特定细胞在特定功能状态下产生的mRNA进行高通量测序......</a>
      </div>
    </div> 
  </div>

  <div class="col-lg-6 pull-left">
    <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong><a href="/technology_service/transcriptomics/sRNA_seq">sRNA测序</a></strong></h5>
    <div class="row" style="margin-top:10px">
      <div class="col-lg-4 pull-left">
        <a href="/technology_service/transcriptomics/sRNA_seq"><img src="/img/technology_service/transcriptomics/first/img03.jpg" ></a>
      </div>
      <div class="col-lg-8">
        <a href="/technology_service/transcriptomics/sRNA_seq">利用高通量测序技术对样本中18-30nt的小RNA序列进行鉴定和分析......</a>
      </div>
    </div>     
  </div>

  <div class="col-lg-6 pull-left">
    <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong><a href="/technology_service/transcriptomics/lncRNA_seq">lncRNA测序</a></strong></h5>
    <div class="row" style="margin-top:10px">
      <div class="col-lg-4 pull-left">
        <a href="/technology_service/transcriptomics/lncRNA_seq"><img src="/img/technology_service/transcriptomics/first/img04.jpg" ></a>
        <p></p>
      </div>
      <div class="col-lg-8">
        <a href="/technology_service/transcriptomics/lncRNA_seq">lncRNAs是一类长度大于200nt的非编码RNA，广泛存在于各种生物体内......</a>
      </div>
    </div> 
  </div>


  <div class="col-lg-6 pull-left">
    <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong><a href="/technology_service/transcriptomics/degradome_seq">降解组测序</a></strong></h5>
    <div class="row" style="margin-top:10px">
      <div class="col-lg-4 pull-left">
        <a href="/technology_service/transcriptomics/degradome_seq"><img src="/img/technology_service/transcriptomics/first/img05.jpg" ></a>
      </div>
      <div class="col-lg-8">
        <a href="/technology_service/transcriptomics/degradome_seq">针对microRNA介导的剪切降解片段进行深度测序，从中筛选microRNA作用的靶基因......</a>
      </div>
    </div> 
  </div>

  <div class="col-lg-6 pull-left">
    <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong><a href="/technology_service/transcriptomics/mRNA_chip">基因表达芯片</a></strong></h5>
    <div class="row" style="margin-top:10px">
      <div class="col-lg-4 pull-left">
        <a href="/technology_service/transcriptomics/mRNA_chip"><img src="/img/technology_service/transcriptomics/first/img06.jpg" ></a>
      </div>
      <div class="col-lg-8">
        <a href="/technology_service/transcriptomics/mRNA_chip">基于Agilent、Affymetrix、Illumina、LC Science或OneArray等芯片平台的基因表达谱检测......</a>
      </div>
    </div> 
  </div>

  <div class="col-lg-6 pull-left">
    <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong><a href="/technology_service/transcriptomics/microRNA_chip">microRNA芯片</a></strong></h5>
    <div class="row" style="margin-top:10px">
      <div class="col-lg-4 pull-left" >
        <a href="/technology_service/transcriptomics/microRNA_chip"><img src="/img/technology_service/first/img07.jpg" ></a>
      </div>
      <div class="col-lg-8">
        <a href="/technology_service/transcriptomics/microRNA_chip">采用主动式动态杂交过程取代常规芯片被动式静态杂交反应过程，可出具相比于传统点样芯片更为可靠和准确的表达谱数据......</a>
      </div>
    </div> 
  </div>

  <div class="col-lg-6 pull-left">
    <h5 class="text-info" style="font-family:微软雅黑;border-bottom-style: dotted; border-width: 1px;border-color:#9ACD32;padding-bottom:10px"><strong><a href="/technology_service/transcriptomics/lncRNA_chip">lncRNA芯片</a></strong></h5>
    <div class="row" style="margin-top:10px">
      <div class="col-lg-4 pull-left">
        <a href="/technology_service/transcriptomics/lncRNA_chip"><img src="/img/technology_service/transcriptomics/first/img08.jpg"></a>
      </div>
      <div class="col-lg-8">
        <a href="/technology_service/transcriptomics/lncRNA_chip">lncRNA芯片采用Agilent原位喷墨合成技术，保证检测的高灵敏度和特异性......</a>
      </div>
    </div> 
    
</div><!-- row -->
        






