<div class="bs-example bs-example-tabs">
  <h3 style="font-family:微软雅黑; text-align:center"><strong>功能富集分析</strong></h3>
  <hr style="margin-top:0px">

  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>GO功能分类</strong></p>
  GO(Gene Ontology)是一套国际标准化的基因功能描述的分类系统。GO分为三大类：Biological Process、Molecular Function和Cellular Component)，分别用来描述基因编码的产物所参与的生物过程、所具有的分子功能及所处的细胞环境。 选择特定层级的GO term按照基因（或蛋白）的功能注释，对基因进行分类。</p>
  <hr style="margin-top:0px;margin-bottom:8px">

  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>COG／KOG分类</strong></p>
  <p>COG是Clusters of Orthologous Groups of proteins，KOG为euKaryotic Ortholog Groups，是NCBI提供地基于基因直系同源关系的基因（或蛋白质）分类注释系统，其中COG针对原核生物，KOG针对真核生物。</p>
  <hr style="margin-top:0px;margin-bottom:8px">  

  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong><stron>KEGG分类</strong></p>
  <p>KEGG是Kyoto Encyclopedia of Genes and Genomes的简称，是系统分析基因产物和化合物在细胞中的代谢途径以及这些基因产物的功能的数据库。它从代谢物、酶、生化反应、基因调控和蛋白质相互作用等方面来研究生物通路。</p>
  <img src="/img/application_solution/bioinformatics_basic/enrichment/image1.png" style="width:750px;align:left;"> 
  <hr style="margin-top:0px;margin-bottom:8px">

  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>GO富集分析</strong></p>
  <p>针对提交的基因（或蛋白质列表）采用超几何分布检测每一个GO term的富集显著性。</p>

  <hr style="margin-top:0px;margin-bottom:8px">  


  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>KEGG Pathway富集分析</strong></p>
  <p>针对提交的基因（或蛋白质列表）采用超几何分布检测每一个KEGG Pathway的富集显著性，并进行KEGG Pathway Mapping分析。</p>
  <img src="/img/application_solution/bioinformatics_basic/enrichment/image2.png" style="width:750px;align:left;"> 
  <hr style="margin-top:0px;margin-bottom:8px">
</div>