<div class="bs-example bs-example-tabs">
  <h3 style="font-family:微软雅黑; text-align:center"><strong>基本功能分析</strong></h3>
  <hr style="margin-top:0px">

  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>限制性酶切位点预测</strong></p>
  <p>限制性核酸内切酶特异地识别切割DNA序列。Ⅰ型限制性内切酶催化宿主DNA的甲基化，同时催化非甲基化的DNA的水解；Ⅱ型限制性内切酶只催化非甲基化的DNA的水解；III型限制性内切酶同时具有修饰及切割的作用。常用预测软件：NEBcutter与webcutter。</p>
  <hr style="margin-top:0px;margin-bottom:8px">

  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>抗原表位预测</strong></p>
  <p>抗原表位又称抗原决定簇，是指抗原表面具有特殊结构和免疫活 性的化学基团，具有刺激机体产生抗体或致敏淋巴细胞并能够被其识别的一 个免疫活性区。基于蛋白质序列预测抗原表位的软件有antigenic和BepiPred。</p>
  <hr style="margin-top:0px;margin-bottom:8px">  

  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong><stron>蛋白质结构域预测</strong></p>
  <p>结构域是蛋白质三级结构的基本结构，一个蛋白质可以只由一个结构域也可以由几个结构域组成。结构域同时也是功能单位，通常不同的结构域是与不同的功能相关联。蛋白质序列结构域常用预测软件：InterProScan。</p>
  <img src="/img/application_solution/bioinformatics_basic/function/image1.png" style="width:750px;align:left;"> 
  <hr style="margin-top:0px;margin-bottom:8px">

  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>信号肽预测</strong></p>
  <p>信号肽指新合成多肽链中用于指导蛋白质的跨膜转移（定位）的N-末端的氨基酸序列。常用SignalP软件预测原核生物和真核生物中氨基酸序列潜在的信号肽剪切位点。</p>
  <hr style="margin-top:0px;margin-bottom:8px">  

  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>蛋白质磷酸化位点预测</strong></p>
  <p>蛋白质磷酸化是调节和控制蛋白质活力和功能的最基本、最普遍，也是最重要的机制。蛋白质磷酸化主要发生在两种氨基酸上，一种是丝氨酸(包括苏氨酸)，另一种是酪氨酸。常用GPS 2.0进行蛋白质磷酸化位点预测。</p>
  <hr style="margin-top:0px;margin-bottom:8px">

  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>基因功能元件预测</strong></p>
  <p>基因及其功能元件如启动子、增强子、沉默子、转录起始位点、外显子、内含子和终止子的预测和鉴定，对于发现疾病相关基因、了解基因的转录调控规律等具有重要意义。</p>
  <hr style="margin-top:0px;margin-bottom:8px">
</div>