<div class="bs-example bs-example-tabs">
  <h3 style="font-family:微软雅黑; text-align:center"><strong>网络分析</strong></h3>
  <hr style="margin-top:0px">

  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>网络分析</strong></p>
  <p><b>拓扑分析：</b>常采用Network Analysis软件分析网络的拓扑学性质(Topological Properties)，如节点度(Degree)分布、介数(Betweenness)和聚类系数(Clustering Coefficient)等，以筛选网络中重要的节点。 </p>
  <p><b>网络模块挖掘：</b>网络中呈现高聚类性的节点构成模块，且模块通常是生物功能实现的主体。目前常用的网络模块识别算法和软件有层次聚类、k近邻、k均值、AutoSOME、MCL、MCODE、GLAY和MINE等。</p>
  <hr style="margin-top:0px;margin-bottom:8px">

  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>Pathway-Pathway层次功能网络</strong></p>
  <p>根据差异基因（蛋白质或代谢物）同时参与的Pathway之间的相互调控关系，构建Pathway Network。从系统的角度研究各个通路之间的信号传导、调控关系、上下游关系，在多个显著富集通路中筛选核心的Pathway。</p>
  <hr style="margin-top:0px;margin-bottom:8px">

  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>GO-GO功能层次网络</strong></p>
  <p>基于GO的层次结构和节点间从属关系，构建基因（蛋白质）列表显著富集的GO功能网络。</p>
  <hr style="margin-top:0px;margin-bottom:8px">

  <img src="/img/application_solution/bioinformatics_basic/network/image1.png" style="width:650px;align:left;"> 
  <hr style="margin-top:0px;margin-bottom:8px">

  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>基因共表达网络</strong></p>
  <p>根据基因表达信号的动态变化，计算基因间的表达相关性，得到基因间表达调控关系及调控方向，构建共表达网络，挖掘随实验变化的核心调控基因。</p>
  <hr style="margin-top:0px;margin-bottom:8px">

  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>基因-基因相互作用网络</strong></p>
  <p>整合HPRD、BIND、Intact、MINT、BioGrid等数据库中的蛋白质相互作用数据，STRING数据库中共表达、遗传互作数据、及信号通路中基因的上下游关系数据，构建差异表达基因（蛋白质）间的相互作用网络，挖掘网络中的核心调控基因。</p>
  <hr style="margin-top:0px;margin-bottom:8px">

  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>microRNA-基因表达调控网络</strong></p>
  <p>microRNA靶标预测数据结合microRNA-gene表达数据，筛选差异表达的microRNAs和target genes，构建microRNA基因表达调控网络，系统研究microRNA的分子功能。</p>
  <hr style="margin-top:0px;margin-bottom:8px">

  <img src="/img/application_solution/bioinformatics_basic/network/image3.png" style="width:650px;align:left;"> 
  <hr style="margin-top:0px;margin-bottom:8px">

  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>microRNA-GO功能调控网络</strong></p>
  <p>利用microRNA靶基因的功能注释与microRNA-mRNA靶向调控关系，构建microRNA功能调控网络。网络分析可发现核心调控的microRNAs及microRNA调控的核心基因功能。</p>
  <hr style="margin-top:0px;margin-bottom:8px">

  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>microRNA-Pathway功能调控网络</strong></p>
  <p>利用microRNA靶基因的Pathway注释与microRNA-mRNA靶向调控关系，构建microRNA-Pathway调控网络。网络分析可发现核心调控的microRNAs及microRNA调控的核心通路。</p>
  <hr style="margin-top:0px;margin-bottom:8px">

  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>lncRNA-mRNA共表达网络</strong></p>
  <p>利用microRNA靶基因的功能注释与microRNA-mRNA靶向调控关系，构建microRNA功能调控网络。网络分析可发现核心调控的microRNAs及microRNA调控的核心基因功能。针对lncRNA测序或lncRNA芯片鉴定的lncRNA和mRNA表达数据，计算lncRNA和mRNA之间的表达相关性，预测lncRNA的靶mRNA，构建lncRNA-mRNA共表达网络</p>
  <hr style="margin-top:0px;margin-bottom:8px">

  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>蛋白酶-代谢物网络</strong></p>
  <p>基于蛋白质组和代谢组实验结果数据，从KEGG Pathway和REACTOME数据库中提取代谢反应数据，构建差异表达蛋白质和代谢物见的调控网络，系统研究机体代谢过程。</p>
  <hr style="margin-top:0px;margin-bottom:8px">

  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>转录因子调控网络分析</strong></p>
  <p>转录因子与靶基因的特异性结合是基因表达调控的重要方式，预测差异表达基因的转录因子，构建转录因子调控网络，提取核心调控的转录子或基因。</p>
  <hr style="margin-top:0px;margin-bottom:8px">
  <img src="/img/application_solution/bioinformatics_basic/network/image2.png" style="width:650px;align:left;"> 
  
  
</div>