<div class="bs-example bs-example-tabs">
  <h3 style="font-family:微软雅黑; text-align:center"><strong>基本序列分析</strong></h3>
  <hr style="margin-top:0px">
  
  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>EMBOSS套件</strong></p>
  <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">EMBOSS是一个开放源代码的序列分析软件包，它是一组为分子生物学家所设计的公开且免费软件。提供基于EMBOSS工具的ＤＮＡ、RNA序列分析。</p>
  <hr style="margin-top:0px;margin-bottom:8px">

  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>序列比对</strong></p>
  <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">序列比对的理论基础是进化学说，如果两个序列之间具有足够的相似性，就推测二者可能有共同的进化祖先。序列两两比对常采用Blast、Blat等方法，多序列比对分析常采用CLUSTALW。提供本地化序列比对服务。
  </p>
  <hr style="margin-top:0px;margin-bottom:8px">
  
  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>PCR引物设计</strong></p>
  <div class="row" style="margin-top:10px">
    <div class="col-lg-8 pull-left">
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">多重PCR引物设计软件，保证设计出的引物具备高度特异性；使用graph-expanding算法快速寻找多重PCR引物组合；同时使用热力学参数而非简单的序列比对来评估引物二聚体；并且严格控制引物解链温度，以保证多重PCR反应体系的统一；严格控制多重PCR产物分子量，避免分子量相近的扩增产物发生，以免影响电泳条带的分辨率；根据DNA片段电泳模式拟合经验公式，为多重PCR实验结果提供虚拟电泳图片，以帮助用户更好地选择引物。</p>
    </div>
    <div class="col-lg-4" style="margin-left:0px">
      <img src="/img/application_solution/bioinformatics_basic/sequence/img01.png" >
    </div>
  </div>
  <hr style="margin-top:0px;margin-bottom:8px">

  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>ORF预测</strong></p>
  <div class="row" style="margin-top:10px">
    <div class="col-lg-6 pull-left">
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">DNA序列可以按六种框架阅读和翻译，ORF（Open Read Frame）预测指从六个阅读框架中筛选一个包含有启动子和终止子最有可能翻译为蛋白的DNA序列。ORF的识别是证明一个新的DNA序列为特定的蛋白质编码基因的部分或全部的先决条件。常用软件：ORF finder。</p>
    </div>
    <div class="col-lg-6" style="margin-left:-20px">
      <img src="/img/application_solution/bioinformatics_basic/sequence/img02.jpg" >
    </div>
  </div>
  <hr style="margin-top:0px;margin-bottom:8px">

  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>序列进化树分析</strong></p>
  <div class="row" style="margin-top:10px">
    <div class="col-lg-7 pull-left">
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">根据核酸或蛋白质序列可构建分子进化树(evolutionary tree)或种系发生树(phylogenetic tree)。进化树给出分支层次或拓扑图形，是产生新的基因复制或享有共同祖先的生物体的歧异点的一种反映，树枝的长度反映当这些事件发生时就存在的蛋白质与蛋白质之间的进化距离。常用软件：CLUSTALW+Phylip。</p>
    </div>
    <div class="col-lg-5" style="margin-left:0px">
      <img src="/img/application_solution/bioinformatics_basic/sequence/img03.png" >
    </div>
  </div>
  <hr style="margin-top:0px;margin-bottom:8px">

  <div class="row" style="margin-top:10px">
    <div class="col-lg-5 pull-left">
      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>RNA二级结构预测</strong></p></p>
    </div>
    <div class="col-lg-5" style="margin-left:-10px">
      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>蛋白质序列和结构分析</strong></p>
    </div>
  </div>
  <div class="row" style="margin-top:0px">
    <div class="col-lg-5 pull-left">
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">RNA二级结构对功能的正常发挥非常重要，如microRNA前体的颈环结构，转运RNA的三叶草结构等。RNA二级结构预测常用算法有Mflod、RNAflod、DNAman7等。</p>
    </div>
    <div class="col-lg-7" style="margin-left:-10px">
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">提供蛋白序列二级结构预测，查找PROSITES数据库中序列的特征序列；计算蛋白序列分子量，比重与各蛋白残基百分组成，计算蛋白序列滴定曲线与等电点，绘制出蛋白序列的理化特性曲线；蛋白质序列同源搜索；蛋白质三级结构PDB文件的显示和编辑。</p>
    </div>
  </div>

  <div class="row" style="margin-top:0px">
    <div class="col-lg-5 pull-left">
      <img src="/img/application_solution/bioinformatics_basic/sequence/img04.png" >
      <img src="/img/application_solution/bioinformatics_basic/sequence/img05.png" >
    </div>
    <div class="col-lg-7" style="margin-left:0px;margin-top:10px">
      <img src="/img/application_solution/bioinformatics_basic/sequence/img06.png" style="margin-left:90px">
    </div>
  </div>
  <hr style="margin-top:0px;margin-bottom:8px">
</div><!--bs-example -->	