<div class="bs-example bs-example-tabs">
  <h3 style="font-family:微软雅黑; text-align:center"><strong>集合分析</strong></h3>
  <hr style="margin-top:0px">

  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>集合运算</strong></p>
  <p>为用户提供不同治疗方法、不同药物处理、不同实验方法间的分子机制异同比较，支持两个、三个或四个基因（蛋白质或代谢物）集合间的交集、并集、差集的运算，并提供结果的图形化展示。</p>
  <hr style="margin-top:0px;margin-bottom:8px">

  <img src="/img/application_solution/bioinformatics_basic/set/image1.png" style="width:450px;align:left;"> 
  <hr style="margin-top:0px;margin-bottom:8px">

</div>