<div class="bs-example bs-example-tabs">
  <h3 style="font-family:微软雅黑; text-align:center"><strong>靶标调控分析</strong></h3>
  <hr style="margin-top:0px">

  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>转录调控分析</strong></p>
  <p>整理TRANSFAC、JASPAR、PAZAR、ENCODE等数据库的转录因子-靶基因关系数据，对差异表达基因、差异甲基化的基因进行转录因子预测，同时也可以预测转录因子靶标。</p>
  <hr style="margin-top:0px;margin-bottom:8px">

  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>microRNA靶标预测</strong></p>
  <p>整合TargetScan、RNA22、PITA等多个算法预测的microRNA的靶基因，及实验验证microRNA靶标数据库TarBase的数据，进行microRNA靶标预测。也可以进一步结合microRNA-gene的表达数据，高准确预测microRNA靶标。</p>
  <hr style="margin-top:0px;margin-bottom:8px">

  <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>lncRNA靶标预测</strong></p>
  <p>lncRNA通过调控mRNA的表达发挥功能，通过lncRNA-mRNA共表达、共定位和竞争性内源RNA机制预测lncRNA的靶基因。也可以基于lncRNA和mRNA的序列，采用RNAplex算法预测lncRNA可能调控的mRNA。</p>
  <hr style="margin-top:0px;margin-bottom:8px">
  <img src="/img/application_solution/bioinformatics_basic/target/image1.png" style="width:700px;align:left;">
  <hr style="margin-top:0px;margin-bottom:8px">
</div>