<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center">靶标预测</h3>
  <hr>

  <h5 class="text-info" style="font-family:微软雅黑"><strong>microRNA靶标预测</strong></h5>
  <p>Principal Component Analysis的原理是将原来的矩阵数据经过投射，找到方差最大的两个或三个主成分，以达到数据降维的目的。通过图像上样本点之间的距离显示样品间的相似度，可验证试验设计的合理性及生物学重复样品的均一性。</p>
  <hr>

  <h5 class="text-info" style="font-family:微软雅黑"><strong>lncRNA靶mRNA预测</strong></h5>
  <p>lncRNA通过调控mRNA的表达发挥功能，通过lncRNA-mRNA共表达、共定位和竞争性内源RNA机制预测lncRN的靶mRNA。也可以基于lncRNA和mRNA的序列，采用RNAplex算法预测lncRNA可能调控的mRNA。</p>

  <hr>  


  <h5 class="text-info" style="font-family:微软雅黑"><strong>转录因子预测</strong></h5>
  <p>整理TRANSFAC、JASPAR、PAZAR、ENCODE等数据库的转录因子-靶基因关系数据，对差异表达基因、差异甲基化的基因进行转录因子预测，同时也可以预测转录因子靶标。</p>
  <img src="/img/application_solution/bioinformatics_basic/target_prediction/image1.png" style="width:750px;align:left;"> 
  <hr>

</div>