<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>iTRAQ蛋白质组定量分析</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">随着高通量技术的不断应用，我们现在可以使用iTRAQ(Isobaric Tags for Relative and Absolute Quantitation) 蛋白定量技术开展蛋白质组的高通量鉴定与定量分析。iTRAQ技术是IBA公司推出的一项体外同位素标记技术，利用多种同位素试剂标记蛋白多肽N末端或赖氨酸侧链基团，联合串联质谱分析，最多可同时比较8份样本间的蛋白质表达量，全谱筛查差异表达蛋白。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">覆盖广泛：鉴定与定量分析样本中表达的所有已知蛋白，包括高分子蛋白、酸碱性蛋白、膜蛋白和不溶性蛋白等。</p></li>
        <li><p class="text-muted">检测通量高：一次实验即可对数千种蛋白进行定量分析，最多同时对8份样本进行定量分析，通量远高于双向电泳。</p></li>
        <li><p class="text-muted">结果可靠：蛋白分析的灵敏度、特异性和重复性远高于双向电泳，并且定性与定量分析同步完成，确保结果准确性。</p></li>          
        <li><p class="text-muted">支持关联分析：综合上游转录组等试验数据，提供多组学关联分析。</p></li>          
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

     <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>测序策略</strong></p>
      <ul >
        <li><p class="text-muted">MiSeq, 300 Paird-End.</p></li>
        <li><p class="text-muted">推荐 ≥10K Clean Reads.</p></li>
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->

    
    <div class="tab-pane fade" id="技术路线">
      <center><img src="/img/technology_service/proteomics/iTRAQ/image001.jpg" style="width:600px"></center>
    </div>

    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center" style="font-family:微软雅黑"><b>iTRAQ蛋白质定量分析肝细胞癌症中肿瘤干细胞蛋白质组<sup style="font-size:10px">1</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">恶性肿瘤由于其异质性、耐药性和转移倾向而难于治疗。最近的研究表明，肿瘤细胞中的亚群-肿瘤干细胞(CSC)是造成恶性后果的主因。本研究利用iTRAQ蛋白定量技术对肝癌细胞中的CSC的蛋白质进行分析。实验共鉴定比较了1127个蛋白，其中50个蛋白表达出现2倍以上变化。对差异表达蛋白的功能与通路分析表明，它们与肝肿瘤、肝脏疾病相关，并参与代谢途径、免疫反应和细胞骨架重构。</p>

      <center><img src="/img/technology_service/proteomics/iTRAQ/image002.jpg" style="width:760px;margin-top:10px" ></center>
      <hr style="margin-top:10px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>参考文献</strong></p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">1. Ko CH, et al. Differential proteomic analysis of cancer stem cell properties in hepatocellular carcinomas by isobaric tag labeling and mass spectrometry. J Proteome Res. 2013 Aug 2;PubMed PMID: 23782096.</p>
      <hr style="margin-top:0px;margin-bottom:8px">
      <hr style="margin-top:0px;margin-bottom:8px">
      <hr style="margin-top:0px;margin-bottom:8px">
      <hr style="margin-top:0px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->