<div class="bs-example bs-example-tabs">

  <h3 style="font-family:微软雅黑; text-align:center"><strong>SILAC定量</strong></h3>
  <hr style="margin-top:0px">

  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#服务简介" data-toggle="tab"><strong style="font-size:120%;">服务简介</strong></a></li>
    <li><a href="#技术路线" data-toggle="tab"><strong style="font-size:120%;">技术路线</strong></a></li>
    <li><a href="#案例介绍" data-toggle="tab"><strong style="font-size:120%;">案例介绍</strong></a></li>     
  </ul>

  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="服务简介">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>意义</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">SILAC(Stable Isotope Labeling with Amino acids in Cell culture)技术是另一种常用的蛋白组定量技术，使用同位素标记的必需氨基酸取代细胞培养基中相应氨基酸，细胞经5-6个倍增周期后，稳定同位素标记的氨基酸完全掺入到细胞新合成的蛋白质中替代了原有氨基酸，然后可对细胞中的蛋白质进行质谱鉴定和定量分析。依托先进的蛋白质谱分析平台、强大的信息分析和数据处理能力，为用户提供高效的蛋白质组鉴定与定量分析服务。</p>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px;"><strong>优势</strong></p>
      <ul >
        <li><p class="text-muted">体内标记技术：稳定同位素标记的氨基酸与天然氨基酸化学性质基本相同，对细胞无毒性，不影响细胞生物学行为，标记效率高。</p></li>
        <li><p class="text-muted">分离能力强：体内标记与SDS-PAGE或色谱分离技术相结合，兼容疏水性蛋白和偏碱性蛋白，不受蛋白性质限制。</p></li>
        <li><p class="text-muted">定量准确：由于标记发生在样品处理前，后续多个标记的样品混合后同时进行分离、酶切和定量分析，显著减少了实验操作和仪器设备产生的影响。</p></li>          
      </ul>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div><!--服务简介 -->

    
    <div class="tab-pane fade" id="技术路线">
      <center><img src="/img/technology_service/proteomics/silac/image001.jpg" style="width:600px"></center>
    </div>


    <div class="tab-pane fade" id="案例介绍">
      <h4 align="center" style="font-family:微软雅黑"><b>使用SILAC技术鉴定人血管紧张素II调控的原代人肾细胞蛋白组<sup style="font-size:10px">1</sup></b></h4>
      <hr style="margin-top:0px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>案例描述</strong></p>
      <p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted">血管紧张素Ⅱ(AngⅡ)，是肾素-血管紧张素系统的主要效应物，通过AT-1受体(AT-1R)信号传导调控肾脏疾病的发展，但是没有测定AngⅡ活性的具体方法。本研究中，作者使用SILAC技术对原代人近端小管上皮细胞(PTEC)中AngII调控的蛋白组进行鉴定，以期发现肾脏中潜在的AngII活性标志物。实验共定量分析了4,618个蛋白，其中83个蛋白存在差异表达。进一步实验证实，血红素加氧酶(HO-1)是AngII刺激下表达上调最显著的蛋白。</p>

      <center><img src="/img/technology_service/proteomics/silac/image002.jpg" style="width:650px;margin-top:10px" >
      </center>
      <center><p style="text-indent:2em;font-family:微软雅黑;line-height:25px" class="text-muted"><b>图1 根据AngII调控的差异表达蛋白富集的GO项绘制的富集图</b></p></center>
      <hr style="margin-top:10px;margin-bottom:8px">

      <p  class="text-info" style="font-family:微软雅黑;font-size:115%;border-left-style: solid; border-width:3px;border-color:#019944;padding-left:5px"><strong>参考文献</strong></p>
      <p style="font-family:微软雅黑;line-height:20px;font-size:12px" class="text-muted">1. Konvalinka A, et al. Determination of an angiotensin II-regulated proteome in primary human kidney cells by stable isotope labeling of amino acids in cell culture (SILAC). J Biol Chem. 2013 Aug 23;288(34):24834-47. doi: 10.1074/jbc.M113.485326. Epub 2013 Jul 11. PubMed PMID:23846697.</p>
      <hr style="margin-top:0px;margin-bottom:8px">

    </div>

  </div><!--myTabContent -->

</div><!--bs-example -->